@import '../../scss/helpers';
$THEME_NAME: 'default';
$colors: getThemeColors($THEME_NAME);
$images: getThemeImages($THEME_NAME);

@include base($images, $colors);

/**
 * Styles
 */
.card {
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;

    @media only screen and (max-width: 600px) {
        height: 100%;
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.branding-template-primary-button {
    &:hover {
        opacity: 0.9;
    }
}