.device-icon {
    display: inline-block;
    vertical-align: middle;
    svg {
        max-width: 30px;
        max-height: 30px;
        width: auto;
        height: auto;

    }
    &__title {
        text-transform: uppercase;
        color: $color-active-blue;
    }
}
