.aside-container {
    @include flexbox();
    @include flexbox-direction(row);

    &--full-height {
        > :last-child {
            align-self: stretch;
        }
    }

    > :last-child {
        @include flexbox-grow(1);

        margin-left: $spacing-lg;
        box-sizing: border-box;
    }

    &--sm > :last-child {
        @include flexbox-shrink(0);
        width: 250px;
    }

    &--md > :last-child {
        @include flexbox-shrink(0);
        width: 400px;
    }

    &--lg > :last-child {
        @include flexbox-shrink(0);
        width: 600px;
    }

    &__aside {
        &--top-right {
            @include flexbox-grow(1);

            text-align: right;
        }

        &--right {
            @include flexbox-grow(0);

            margin-left: auto;
        }
    }
}
