.chip-component {
    border-radius: 3px;
    color: $color-neutral-20;
    display: inline-block;
    padding: $spacing-xs $spacing-sm;

    &--condensed {
        display: inline-block;
        margin: 0;
        padding: 4px 5px 1px;
        font-size: 13px;
        line-height: 1em;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-elephant;

        border-radius: 3px;
    }

    &--color-cyan {
        background-color: $color-charting-cyan;
    }

    &--color-faint-grey {
        background-color: $color-strong-neutral-90;
    }

    &--color-light-grey {
        background-color: $color-neutral-90;
    }

    &--color-dark-grey {
        color: $color-white;
        background-color: $color-elephant;
    }

    &--color-white {
        background-color: $color-white;
    }

    &--full-width {
        display: block;
    }
}
