.flex-row {
    @include flexbox;

    &--inline {
        display: inline-flex;
    }

    &--justify-center {
        justify-content: center;
    }
    &--justify-end {
        justify-content: flex-end;
    }

    &--justify-start {
        justify-content: flex-start;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--align-bottom {
        align-content: flex-end;
        align-items: flex-end;
    }

    &--align-center {
        align-content: center;
        align-items: center;
    }

    &--align-stretch {
        align-content: stretch;
        align-items: stretch;
    }

    &--align-top {
        align-content: flex-start;
        align-items: flex-start;
    }

    &--flex-direction-row {
        flex-direction: row;
    }

    &--flex-direction-row-reverse {
        flex-direction: row-reverse;
    }

    &--flex-direction-column {
        flex-direction: column;
    }

    &--flex-direction-column-reverse {
        flex-direction: column-reverse;
    }
}
