.nav-frame {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-white;
    &__bottom {
        display: flex;
        flex-grow: 1;
    }
}

.nav-sidebar {
    $nav-item-padding: $spacing-md;
    $nav-width: 200px;
    display: flex;
    width: $nav-width;
    > * {
        box-sizing: border-box;
    }
    &__sections {
        background: #eef4f7;
        flex: 1;
        display: flex;
        flex-direction: column;

        &--group-visible {
            flex-grow: 0;
            .nav-sidebar__section-title {
                visibility: hidden;
                width: 0;
                white-space: nowrap;
            }
            .nav-sidebar__section-label {
                display: none;
                position: absolute;
            }
            .nav-sidebar__section:not(.nav-sidebar__section--selected):hover {
                .nav-sidebar__section-label {
                    $left-gap: 3px;
                    display: inline-block;
                    background: $color-white;
                    z-index: -1;
                    white-space: nowrap;
                    padding: $nav-item-padding $nav-item-padding $nav-item-padding ($nav-item-padding * 2 + $left-gap + 5);
                    left: $left-gap;
                    border: 1px solid #d3d3d3;
                    border-radius: 2px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .nav-sidebar__copyright {
                display: none;
            }
        }
    }
    &__section {
        padding: $nav-item-padding;
        display: flex;
        cursor: pointer;
        position: relative;
        justify-content: stretch;
        align-items: center;

        &:hover {
            background: $color-white;
            z-index: 1;
        }

        &-label {
            padding-left: $nav-item-padding;
        }

        &-icon {
            display: flex;
            align-items: center;
            font-size: 20px;
        }
        &-title {
            padding: $spacing-lg $spacing-md $spacing-md;
            @include text-label;
            font-size: 11px;
        }

        &--selected {
            font-weight: 700;
            background: $color-neutral-95;
            [class^=icon-] {
                color: $color-active-blue;
            }
        }
        &--collapsed {
            position: relative;
            &:after {
                font-family: $icon-font;
                content: $icon-close-arrow;
                transform: rotate(90deg);
                display: inline-block;
                margin-left: auto;
                font-size: 10px;
                color: $color-active-blue;

            }
        }
    }

    &__node {
        padding: $nav-item-padding;
        cursor: pointer;
        &:hover {
            @include font-pn-semibold;
            background: $color-white;
            padding-right: 12px;
        }
        &--selected {
            padding-right: 12px;
            .nav-sidebar__node-label {
                @include font-pn-bold;
                position: relative;
                &:before {
                    content: '';
                    width: 3px;
                    height: 100%;
                    background-color: $color-active-blue-highlighted;
                    position: absolute;
                    left: -$spacing-sm;
                }
            }

        }
    }

    &__group-container {
        flex-basis: 166px;
        font-size: 13px;
        padding: $spacing-sm 0 $spacing-sm $spacing-sm;
        border-right: 2px solid $color-timberwolf;
        background: $color-neutral-95;
        &-title {
            padding: $nav-item-padding;
            font-size: 16px;
            @include font-pn-semibold;
        }
    }
    &__group {
        padding-left: $nav-item-padding;
        &-collapse {
            position: relative;
            &:before {
                font-family: $icon-font;
                content: $icon-close-arrow;
                transform: rotate(-90deg);
                display: inline-block;
                position: absolute;
                right: 100%;
                font-size: 10px;
                margin-right: 5px;
            }
        }
        &-title {
            @include text-label;
            font-size: 11px;
        }
    }
    &__copyright {
        margin-top: auto;
        padding: $nav-item-padding;
        font-size: 10px;
        line-height: 1.3em;
    }



}

.nav-content {
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
}

.nav-divider {
    border-left: 1px solid $color-neutral-30;
    height: 30px;
}

.header-bar__nav-icon {
    font-size: 20px;
}

.nav-header__link {
    display: inline-block;
    color: $color-elephant;
    height: 22px;

    &:hover {
        text-decoration: none;
    }

    &:hover,
    &.active {
        color: $color-white;
    }
}

.nav-search {
    line-height: 20px;
}

.nav-search__modal {
    // Have to do this because of specificity issues with the modal
    &.modal.dialog .modal-content {
        width: 600px;
    }
}

.nav-search__icon {
    color: $color-strong-neutral-50;
    font-size: 20px;
}
