.stretch-content {
    @include flexbox;
    @include flexbox-direction(column);
    @include flexbox-grow(1);

    position: relative;

    > * {
        @include flexbox-shrink(0);
    }

    &--scrollable {
        min-height: 400px;

        > *,
        > div {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
