.device-table {
    @media (max-width: 480px) {
        flex-direction: column;
    }

    &__icon {
        flex: 1;
        flex-grow: 0;
        fill: $color-neutral-20;

        @media (max-width: $breakpoint-mobile) {
            display: none;
        }
    }

    &__row {
        border-bottom: 1px dashed $color-neutral-20;

        @media (max-width: $breakpoint-mobile) {
            flex-direction: row;

            *:not(:last-child) {
                width: unset;
                margin-bottom: unset;
                margin-right: unset;
            }
        }
    }

    &__row:last-child {
        border-bottom: 0;
    }

    &__row > div {
        padding: $spacing-md $spacing-sm;
    }

    &__row-info {
        flex: 1;
        flex-grow: 1;
        text-align: left;
    }

    &__row-details {
        text-align: left;
    }

    &__row-type {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
    }

    &__row-name {
        color: $color-charting-indigo;
    }

    &__row-sdelete {
        text-align: right;
        flex: 1;
        flex-grow: 0;
    }
}