.device-icon {
    display: inline-block;
    vertical-align: middle;

    &__title {
        text-transform: uppercase;
        color: $color-active-blue;
    }

    &__icon {
        &--mobile {
            rect {
                stroke: $color-strong-neutral-10;
            }
            path {
                fill: $color-strong-neutral-10;
            }
        }
    }
}

.tile-button {
    &__content {
        @include break-word;
    }

    &:hover {
        .device-icon__icon {
            &--mobile {
                rect {
                    stroke: $color-active-blue;
                }
                path {
                    fill: $color-active-blue;
                }
            }
        }
    }
}
