.tile-selector {
    @include flexbox;

    > * {
        @include flexbox-grow(1);
        @include flexbox-shrink(1);
        margin-right: $spacing-md;
        flex-basis: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &--stacked {
        display: block;

        > * {
            margin-right: 0;
            margin-bottom: $spacing-md;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__group {
        flex-flow: column wrap;
        height: auto;

        &:not(:last-of-type) {
            margin-right: $spacing-xl;
        }

        &--grow-1 {
            @include flexbox-grow(1);
        }

        &--grow-2 {
            @include flexbox-grow(2);
        }

        &--grow-3 {
            @include flexbox-grow(3);
        }

        &--grow-4 {
            @include flexbox-grow(4);
        }

        &--square {
            @include flexbox-grow(0);
            flex-basis: auto;
        }

        &--stacked {
            margin-right: 0;
        }

    }

    &__group-tiles {
        flex: 1;
        margin-top: $spacing-sm;
        width: 100%;

        > * {
            @include flexbox-grow(1);
            @include flexbox-shrink(1);

            margin-right: $spacing-md;
            flex-basis: 0%;
            &:last-child {
                margin-right: 0;
            }
        }

        &--stacked {
            flex-flow: column nowrap;

            > * {
                margin-bottom: $spacing-md;
                margin-right: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__group-title {
        color: $color-accent-neutral-40;
        font-size: $font-size-reduced;
        text-transform: uppercase;
        width: 100%;
    }
}

.tile-button--side-icon,
button.tile-button--side-icon {
    @include flexbox-direction(row);

    box-sizing: border-box;

    padding: $spacing-md $spacing-lg;

    .tile-button {
        &__icon {
            line-height: 60px;

            &:before {
                font-size: 60px;
                line-height: 60px;
                height: 60px;
                vertical-align: middle;
            }
        }

        &__icon-container {
            height: 60px;
            width: 60px;
            margin: 0 $spacing-lg 0 0;
        }

        &__content-container {
            @include flexbox-grow(1);

            text-align: left;
        }

        &__title {
            @include flexbox();

            margin-top: 0;
            text-align: left;
        }

        &__note {
            @include text-body;

            @include flexbox-grow(1);
            @include flexbox-shrink(0);

            text-transform: none;
            text-align: right;
            margin-left: $spacing-lg;
        }

        &__link {
            font-size: $font-size-normal;
        }
    }
}

.tile-panel {
    @include box-shadow(0 3px 4px 0 rgba($color-black, 0.1));

    background-color: $color-active-blue;
    box-sizing: border-box;
    color: $color-white;
    margin-right: auto;
    margin-top: $spacing-xs;
    padding: $spacing-lg;
    width: 66%;

    &--right {
        margin-left: auto;
        margin-right: 0;
    }

    &__label {
        border-bottom: 0.25px solid $color-neutral-80;
        padding-bottom: $spacing-sm;
        text-transform: uppercase;
    }

    &__option {
        display: flex;
        justify-content: space-between;
        margin-left: $spacing-md;
        padding: $spacing-lg $spacing-sm $spacing-md;

        &:not(:last-child) {
            border-bottom: 0.25px solid $color-neutral-80;
        }

        &__label {
            @include font-pn-semibold;
            font-size: 17px;
            margin-bottom: $spacing-xs;
        }

        &__button {
            border-color: $color-white;
            border-radius: 3px;
            color: $color-active-blue;

            &:hover {
                text-shadow: 0 0 0.5px $color-active-blue;
                border-color: $color-white;
                box-shadow: 0 0 3px #0e4054;
            }
        }
    }
}