$icomoon-font-path: "../fonts/icons"; // KEEP - designates relative path to icons file where this is imported
$icomoon-font-family: "iconfont"; // KEEP - designates name of font

$icon-account: "\61";
$icon-admin-account: "\74";
$icon-alert: "\21";
$icon-alert-solid: "\e92d";
$icon-approve: "\70";
$icon-apps: "\6c";
$icon-as: "\e904";
$icon-badge: "\62";
$icon-bar-chart: "\e90f";
$icon-bar-line-chart: "\e913";
$icon-beaker: "\e90a";
$icon-books: "\e903";
$icon-browser: "\e917";
$icon-bullet-list: "\e920";
$icon-cabinet: "\24";
$icon-calendar: "\43";
$icon-cert-connection: "\e925";
$icon-certificate: "\e901";
$icon-chat: "\e90e";
$icon-chat-square: "\e918";
$icon-circle: "\2e";
$icon-circle-o: "\4f";
$icon-clear: "\58";
$icon-clipboard: "\e908";
$icon-close: "\78";
$icon-close-arrow: "\5e";
$icon-code: "\e91d";
$icon-cog: "\67";
$icon-cog-filled: "\e919";
$icon-cogs: "\e91c";
$icon-collapse: "\63";
$icon-curly-braces: "\e921";
$icon-delete: "\64";
$icon-desktop: "\e916";
$icon-details: "\e902";
$icon-device: "\e906";
$icon-directory: "\3d";
$icon-directory-hollow: "\23";
$icon-docs: "\e927";
$icon-download: "\44";
$icon-dropdown-arrow: "\76";
$icon-earth: "\e905";
$icon-edit: "\65";
$icon-error-triangle: "\e914";
$icon-expand: "\45";
$icon-expand-arrow: "\59";
$icon-facebook: "\e929";
$icon-file: "\2c";
$icon-filter: "\66";
$icon-fingerprint: "\e909";
$icon-globe: "\a1";
$icon-grip: "\47";
$icon-group: "\e907";
$icon-help: "\68";
$icon-help-rounded: "\48";
$icon-help-solid: "\e91e";
$icon-idp: "\6a";
$icon-image: "\69";
$icon-info: "\49";
$icon-key: "\4b";
$icon-left: "\3c";
$icon-line-chart: "\e92c";
$icon-link: "\6b";
$icon-linkedin: "\e92b";
$icon-lock: "\42";
$icon-lock-large: "\4c";
$icon-lockout: "\e912";
$icon-menu: "\6d";
$icon-minus: "\2d";
$icon-minus-rounded: "\5f";
$icon-network: "\25";
$icon-new-window: "\e91f";
$icon-next: "\7d";
$icon-nodes: "\e911";
$icon-non-interactive: "\e91a";
$icon-notepad: "\e90b";
$icon-on-off: "\e910";
$icon-org-chart: "\e915";
$icon-overview: "\6f";
$icon-pin: "\4e";
$icon-play: "\e900";
$icon-plus: "\2b";
$icon-plus-rounded: "\2a";
$icon-population: "\e923";
$icon-previous: "\7b";
$icon-progress-2-1: "\d0";
$icon-progress-2-2: "\d1";
$icon-progress-3-1: "\d2";
$icon-progress-3-2: "\d3";
$icon-progress-3-3: "\d4";
$icon-progress-4-1: "\d5";
$icon-progress-4-2: "\d6";
$icon-progress-4-3: "\d7";
$icon-progress-4-4: "\d8";
$icon-progress-5-1: "\d9";
$icon-progress-5-2: "\da";
$icon-progress-5-3: "\db";
$icon-progress-5-4: "\dc";
$icon-progress-5-5: "\dd";
$icon-progress-6-1: "\de";
$icon-progress-6-2: "\df";
$icon-progress-6-3: "\e0";
$icon-progress-6-4: "\e1";
$icon-progress-6-5: "\e2";
$icon-progress-6-6: "\e3";
$icon-puzzle: "\7a";
$icon-radar: "\e90c";
$icon-resend: "\72";
$icon-resource: "\e922";
$icon-right: "\3e";
$icon-search: "\73";
$icon-server: "\80";
$icon-settings: "\53";
$icon-shield: "\e90d";
$icon-slider: "\7e";
$icon-sort-asc: "\41";
$icon-sort-desc: "\2200";
$icon-sort-none: "\7c";
$icon-sp: "\7f";
$icon-spin-down: "\30";
$icon-spin-up: "\31";
$icon-spinner: "\50";
$icon-success: "\79";
$icon-success-round: "\e92e";
$icon-support: "\71";
$icon-tag: "\e91b";
$icon-terminal: "\e924";
$icon-thumb: "\54";
$icon-twitter: "\e92a";
$icon-undo: "\6e";
$icon-user: "\75";
$icon-user_directory: "\e928";
$icon-users: "\55";
$icon-view: "\56";
$icon-view-hidden: "\2f";
$icon-walkthrough: "\4d";
$icon-wand: "\57";
$icon-welcome: "\77";
$icon-worker-app: "\e926";
