# NPM / YARN
node
node_modules
yarn-error.log
npm-debug.log
package-lock.json

# Mac
.DS_Store
**/.DS_Store

# Istanbul
**/*/coverage
**/*/coverage-reference

# Backstop
**/**/backstop_data/html_report/
**/**/backstop_data/bitmaps_test/*
**/**/backstop.json

# VS Code
*.code-workspace
.vscode/*