.dropdown-button {
    &__options {
        box-shadow: 0 3px 4px 0 rgba($color-black, 0.1);
        box-sizing: border-box;
        line-height: 20px;
        padding: $spacing-xs 0;
        width: 202px;

        &--no-title {
            margin-top: 10px;
        }
    }

    &__option,
    &__title {
        padding: 8px 15px 7px 22px;
    }

    &__option {
        display: block;
        position: relative;
        cursor: pointer;

        &:before {
            font-family: $icon-font;
            content: '\2b';
            font-size: 10px;
            position: absolute;
            left: 7px;
            top: 8px;
            color: $color-white;
            transition: all 0.3s;
        }
        &:hover {
            background: $color-elderly;
            text-decoration: none;
            &:before {
                color: inherit;
            }
        }

        &:hover,
        &.selected {
            background-color: $color-elderly;
        }

        transition: all 0.1s;
    }
}
