$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "./fonts/icons" !default;

$pingicon-open-lock: "\e943";
$pingicon-download-box: "\e942";
$pingicon-camera: "\e935";
$pingicon-email: "\e936";
$pingicon-ghost-disabled: "\e937";
$pingicon-ghost-timed-out: "\e938";
$pingicon-spinner-alt: "\e939";
$pingicon-error: "\e93a";
$pingicon-hour-glass: "\e93b";
$pingicon-safe: "\e93c";
$pingicon-success-alt: "\e93d";
$pingicon-ghost-error: "\e93e";
$pingicon-ghost-success: "\e93f";
$pingicon-incomplete: "\e940";
$pingicon-mobile: "\e941";
$pingicon-account: "\61";
$pingicon-admin-account: "\74";
$pingicon-alert: "\21";
$pingicon-alert-solid: "\e900";
$pingicon-approve: "\70";
$pingicon-apps: "\6c";
$pingicon-as: "\e904";
$pingicon-badge: "\62";
$pingicon-bar-chart: "\e90f";
$pingicon-bar-line-chart: "\e913";
$pingicon-beaker: "\e90a";
$pingicon-books: "\e903";
$pingicon-browser: "\e917";
$pingicon-bullet-list: "\e920";
$pingicon-cabinet: "\24";
$pingicon-calendar: "\43";
$pingicon-cert-connection: "\e925";
$pingicon-certificate: "\e901";
$pingicon-chat: "\e90e";
$pingicon-chat-square: "\e918";
$pingicon-circle: "\2e";
$pingicon-circle-o: "\4f";
$pingicon-clear: "\58";
$pingicon-clipboard: "\e908";
$pingicon-close: "\78";
$pingicon-close-arrow: "\5e";
$pingicon-code: "\e91d";
$pingicon-cog: "\67";
$pingicon-cog-filled: "\e919";
$pingicon-cogs: "\e91c";
$pingicon-collapse: "\63";
$pingicon-connection-status: "\e931";
$pingicon-curly-braces: "\e921";
$pingicon-delete: "\64";
$pingicon-desktop: "\e916";
$pingicon-details: "\e902";
$pingicon-device: "\e906";
$pingicon-directory: "\3d";
$pingicon-directory-hollow: "\23";
$pingicon-docs: "\e927";
$pingicon-download: "\44";
$pingicon-dropdown-arrow: "\76";
$pingicon-earth: "\e905";
$pingicon-edit: "\65";
$pingicon-error-triangle: "\e914";
$pingicon-expand: "\45";
$pingicon-expand-arrow: "\59";
$pingicon-facebook: "\e929";
$pingicon-file: "\2c";
$pingicon-filter: "\66";
$pingicon-fingerprint: "\e909";
$pingicon-globe: "\a1";
$pingicon-grip: "\47";
$pingicon-group: "\e907";
$pingicon-help: "\68";
$pingicon-help-rounded: "\48";
$pingicon-help-solid: "\e91e";
$pingicon-idp: "\6a";
$pingicon-image: "\69";
$pingicon-info: "\49";
$pingicon-key: "\4b";
$pingicon-left: "\3c";
$pingicon-line-chart: "\e92c";
$pingicon-link: "\6b";
$pingicon-linkedin: "\e92b";
$pingicon-lock: "\42";
$pingicon-lock-large: "\4c";
$pingicon-lockout: "\e912";
$pingicon-menu: "\6d";
$pingicon-minus: "\2d";
$pingicon-minus-rounded: "\5f";
$pingicon-native-app: "\e934";
$pingicon-network: "\25";
$pingicon-new-window: "\e91f";
$pingicon-next: "\7d";
$pingicon-nodes: "\e911";
$pingicon-non-interactive: "\e91a";
$pingicon-notepad: "\e90b";
$pingicon-on-off: "\e910";
$pingicon-org-chart: "\e915";
$pingicon-overview: "\6f";
$pingicon-pin: "\4e";
$pingicon-play: "\e90c";
$pingicon-plus: "\2b";
$pingicon-plus-rounded: "\2a";
$pingicon-population: "\e923";
$pingicon-previous: "\7b";
$pingicon-puzzle: "\7a";
$pingicon-radar: "\e90d";
$pingicon-resend: "\72";
$pingicon-resource: "\e922";
$pingicon-right: "\3e";
$pingicon-robot: "\e926";
$pingicon-saml: "\e930";
$pingicon-search: "\73";
$pingicon-server: "\20ac";
$pingicon-settings: "\53";
$pingicon-shield: "\e91b";
$pingicon-signpost: "\e933";
$pingicon-slider: "\7e";
$pingicon-sort-asc: "\41";
$pingicon-sort-desc: "\2200";
$pingicon-sort-none: "\7c";
$pingicon-sp: "\7f";
$pingicon-spin-down: "\30";
$pingicon-spin-up: "\31";
$pingicon-spinner: "\50";
$pingicon-success: "\79";
$pingicon-success-round: "\e92e";
$pingicon-support: "\71";
$pingicon-tag: "\e924";
$pingicon-terminal: "\e928";
$pingicon-thumb: "\54";
$pingicon-timer: "\e932";
$pingicon-twitter: "\e92a";
$pingicon-undo: "\6e";
$pingicon-unlink: "\e92d";
$pingicon-user: "\75";
$pingicon-user_directory: "\e92f";
$pingicon-users: "\55";
$pingicon-view: "\56";
$pingicon-view-hidden: "\2f";
$pingicon-walkthrough: "\4d";
$pingicon-wand: "\57";
$pingicon-welcome: "\77";
