@font-face {
  font-weight: 200;
  font-family: 'proxima-nova';
  src: url(ProximaNova-Light.otf); }

@font-face {
  font-weight: 400;
  font-family: 'proxima-nova';
  src: url(ProximaNova-Regular.otf); }

@font-face {
  font-weight: 600;
  font-family: 'proxima-nova';
  src: url(ProximaNova-Semibold.otf); }

@font-face {
  font-weight: 700;
  font-family: 'proxima-nova';
  src: url(ProximaNova-Bold.otf); }

@font-face {
  font-weight: 900;
  font-family: 'proxima-nova';
  src: url(ProximaNova-Extrabold.otf); }

@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: 'proxima-nova';
  src: url(ProximaNova-LightItalic.otf); }

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'proxima-nova';
  src: url(ProximaNova-RegularItalic.otf); }

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'proxima-nova';
  src: url(ProximaNova-SemiboldItalic.otf); }

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'proxima-nova';
  src: url(ProximaNova-BoldIt.otf); }

@font-face {
  font-weight: 200;
  font-family: 'proxima-nova-cond';
  src: url(ProximaNovaCond-Light.otf); }

@font-face {
  font-weight: 400;
  font-family: 'proxima-nova-cond';
  src: url(ProximaNovaCond-Regular.otf); }

@font-face {
  font-weight: 600;
  font-family: 'proxima-nova-cond';
  src: url(ProximaNovaCond-Semibold.otf); }

@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: 'proxima-nova-cond';
  src: url(ProximaNovaCond-LightIt.otf); }

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'proxima-nova-cond';
  src: url(ProximaNovaCond-RegularIt.otf); }

@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'proxima-nova-cond';
  src: url(ProximaNovaCond-SemiboldIt.otf); }

@font-face {
  font-family: 'proxima-nova-black';
  src: url(ProximaNova-Black.otf); }

.feedback, .text-block, .tooltip,
.normal-text {
  color: #595959;
  font-size: 15px;
  font-family: "proxima-nova", sans-serif; }

.heading,
.heading-text {
  color: #595959;
  font-weight: 400;
  font-size: 22px;
  font-family: "proxima-nova", sans-serif; }

.heading {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center; }

.heading--4 {
  margin-bottom: 15px;
  font-size: 15px; }

.requirement,
.tiny-text {
  color: #595959;
  font-weight: 200;
  font-size: 11px;
  font-family: "proxima-nova", sans-serif; }

.text-input,
.input-text {
  font-family: "proxima-nova", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #666; }

.feedback, .requirement,
.icon-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.feedback__icon, .requirement__icon,
.icon-pair__icon {
  margin-right: 10px; }

.feedback__message, .requirement__name,
.icon-pair__label {
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.button,
.button-text {
  font-family: "proxima-nova", sans-serif;
  font-size: 15px;
  color: #fff; }

.button {
  background: #277ba5;
  display: block;
  padding: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 100%; }
  .button:hover {
    background: #3d88ae; }
  .button:active {
    background: #277ba5; }

.button:disabled, .button--disabled {
  opacity: 0.2;
  cursor: default; }
  .button:disabled:hover, .button--disabled:hover {
    background: #277ba5; }

.card {
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 400px;
  min-height: 440px;
  padding: 40px 40px 65px 40px;
  width: 100%; }

@media (max-width: 480px) {
  .card {
    padding: 65px; } }

.checkbox {
  cursor: pointer;
  position: relative;
  font-size: 13px;
  color: #595959;
  display: inline-block; }

.checkbox > :first-child {
  margin-right: 10px; }

.checkbox__input {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0;
  opacity: 0;
  vertical-align: middle; }

.checkbox__label {
  font-family: "proxima-nova", sans-serif;
  vertical-align: middle; }

.checkbox__input + .checkbox__standin {
  cursor: pointer;
  width: 19px;
  height: 19px;
  border: 1px solid #737373;
  background-color: #fff;
  border-radius: 2px;
  margin: 2px;
  position: absolute;
  left: 0;
  top: 0; }
  .checkbox__input + .checkbox__standin:after {
    content: '';
    background: url(checkmark.svg) center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.1s background-size;
    transition: 0.1s background-size;
    background-size: 0%; }

.checkbox__input:checked + .checkbox__standin:after {
  background-size: 100%; }

.checkbox__input:focus + .checkbox__standin {
  outline: none;
  -webkit-box-shadow: 0 0 6px 0 #3d88ae;
          box-shadow: 0 0 6px 0 #3d88ae; }

.feedback--error {
  color: #de3602; }

.float-label {
  position: relative;
  display: block; }
  .float-label > input {
    width: 100%; }

.float-label__label {
  color: #666;
  -webkit-transition: 0.05s;
  transition: 0.05s;
  display: block;
  position: absolute;
  font-size: 10px;
  font-family: "proxima-nova", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 4px;
  margin-left: 4px;
  cursor: text; }

.float-label__input, .float-label .float-label__input {
  padding-top: 25px;
  padding-bottom: 5px; }
  .float-label__input::-webkit-input-placeholder, .float-label .float-label__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .float-label__input:-ms-input-placeholder, .float-label .float-label__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .float-label__input::-ms-input-placeholder, .float-label .float-label__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0); }
  .float-label__input::placeholder, .float-label .float-label__input::placeholder {
    color: rgba(255, 255, 255, 0); }

.float-label__input:focus + .float-label__label {
  color: #277ba5; }

.float-label__input:placeholder-shown, .float-label__input.placeholder-shown {
  padding-top: 15px;
  padding-bottom: 15px; }
  .float-label__input:placeholder-shown + .float-label__label, .float-label__input.placeholder-shown + .float-label__label {
    color: #666;
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 11px; }

.form {
  margin: 0 0 40px 0; }
  .form > * {
    margin-bottom: 15px; }
  .form > :last-child {
    margin-bottom: 0; }
  .form:last-child {
    margin-bottom: 0; }

.org-logo {
  text-align: center;
  margin: 0 auto 25px auto;
  max-width: 250px; }

.org-logo__image {
  max-width: 100%;
  max-height: 80px; }

.page {
  background: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 25px; }
  .page__content:before, .page__content:after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .page__content:before {
    max-height: 225px; }

.page__footer {
  color: #808080;
  font-size: 12px;
  text-align: center;
  margin: 25px; }

@media (max-width: 480px) {
  .page, .page.brand-background {
    background: white !important; }
  .page__content {
    margin: 0; }
    .page__content:before {
      display: none; }
  .page__footer, .page__footer.brand-footer-color {
    color: #595959; } }

.requirements > * {
  margin-bottom: 10px; }

.requirements > :last-child {
  margin-bottom: 0; }

.requirement__icon {
  max-height: 14px; }

.spinner {
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
  display: block;
  height: 50px;
  margin: 65px auto;
  width: 50px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.text-block {
  margin: 0 0 25px 0;
  text-align: center; }
  .text-block:last-child {
    margin-bottom: 0; }

.text-block__text {
  display: inline-block;
  text-align: left; }

.text-block--small {
  font-size: 13px; }

.text-input {
  border: 1px solid #737373;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 15px 10px;
  margin: 0;
  width: 100%; }
  .text-input:focus {
    border-color: #277ba5; }

.text-input--error, .text-input--error:focus {
  border-color: #de3602;
  background: right 10px center no-repeat url(error.svg);
  background-color: white;
  padding-right: 40px; }

.tooltip {
  background: #f8f8f8;
  border: 1px solid #9a9a9a;
  border-radius: 1px;
  bottom: 0;
  padding: 15px;
  position: absolute;
  right: -20px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 1; }
  .tooltip:before {
    content: '';
    border: 10px solid #9a9a9a;
    border-color: transparent #9a9a9a transparent transparent;
    display: block;
    left: 0;
    bottom: 5px;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .tooltip:after {
    content: '';
    border: 10px solid #f8f8f8;
    border-color: transparent #f8f8f8 transparent transparent;
    display: block;
    left: 0;
    bottom: 5px;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 2px; }

@media (max-width: 1000px) {
  .tooltip {
    bottom: -20px;
    right: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
    .tooltip:before, .tooltip:after {
      border-color: transparent;
      bottom: auto;
      left: auto;
      top: 0;
      right: 5px;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); }
    .tooltip:before {
      border-bottom-color: #9a9a9a; }
    .tooltip:after {
      border-bottom-color: #f8f8f8;
      top: 2px; } }

body {
  margin: 0; }

body,
input {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased; }

:focus {
  outline: none;
  -webkit-box-shadow: 0 0 6px 0 #3d88ae;
          box-shadow: 0 0 6px 0 #3d88ae; }

a {
  color: #277ba5;
  text-decoration: none; }
  a:hover {
    color: #3d88ae;
    text-decoration: underline; }

.app-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
