$icomoon-font-family: "pic-icons" !default;
$icomoon-font-path: "fonts" !default;

$picicon-certificate: "\e900";
$picicon-mobile-apps-alt: "\e901";
$picicon-mobile-locked: "\e902";
$picicon-data: "\e903";
$picicon-law: "\e904";
$picicon-temp: "\e905";
$picicon-smart-car: "\e906";
$picicon-smart-house: "\e907";
$picicon-smart-lights: "\e908";
$picicon-smart-watch: "\e909";
$picicon-central-management: "\e90a";
$picicon-customizable: "\e90b";
$picicon-fingerprint: "\e90c";
$picicon-mobile-interaction: "\e90d";
$picicon-adaptive-mfa-alt: "\e90e";
$picicon-credit-card: "\e90f";
$picicon-honey-pot: "\e910";
$picicon-intelligence: "\e911";
$picicon-wireless: "\e912";
$picicon-api-new: "\e913";
$picicon-user-selfservice: "\e914";
$picicon-app-partner: "\e915";
$picicon-centralized-administration: "\e916";
$picicon-idp-adapter: "\e917";
$picicon-idp-many: "\e918";
$picicon-server-checkmark: "\e919";
$picicon-accelerate: "\e91a";
$picicon-all-content: "\e91b";
$picicon-application-approval: "\e91c";
$picicon-article: "\e91d";
$picicon-401k: "\e91e";
$picicon-access-broker: "\e91f";
$picicon-access-management: "\e920";
$picicon-access: "\e921";
$picicon-account-credentials: "\e922";
$picicon-account-provisioning: "\e923";
$picicon-admin-user: "\e924";
$picicon-api: "\e925";
$picicon-application: "\e926";
$picicon-applications: "\e927";
$picicon-bank: "\e928";
$picicon-bio-pharmaceuticals: "\e929";
$picicon-bonus-plan: "\e92a";
$picicon-bus: "\e92b";
$picicon-call-center: "\e92c";
$picicon-centralized-infrastructure: "\e92d";
$picicon-charity: "\e92e";
$picicon-cloud-directory: "\e92f";
$picicon-cloud-upload: "\e930";
$picicon-cloud: "\e931";
$picicon-commuter-offset: "\e932";
$picicon-computer-connect: "\e933";
$picicon-console: "\e934";
$picicon-consumer: "\e935";
$picicon-customer: "\e936";
$picicon-cycle: "\e937";
$picicon-database: "\e938";
$picicon-desktop: "\e939";
$picicon-developer: "\e93a";
$picicon-diamond: "\e93b";
$picicon-directory: "\e93c";
$picicon-download: "\e93d";
$picicon-education-reimbursement: "\e93e";
$picicon-education: "\e93f";
$picicon-employee: "\e940";
$picicon-enterprise: "\e941";
$picicon-firewall: "\e942";
$picicon-fitness: "\e943";
$picicon-flexible-schedule: "\e944";
$picicon-free-healthcare: "\e945";
$picicon-globe: "\e946";
$picicon-governance: "\e947";
$picicon-graph-up: "\e948";
$picicon-healthcare-doctor: "\e949";
$picicon-healthcare-plan: "\e94a";
$picicon-holiday: "\e94b";
$picicon-identities: "\e94c";
$picicon-invitation: "\e94d";
$picicon-kiosk: "\e94e";
$picicon-legacy-app: "\e94f";
$picicon-lightbulb: "\e950";
$picicon-like: "\e951";
$picicon-lock: "\e952";
$picicon-messenger: "\e953";
$picicon-mfa: "\e954";
$picicon-mobile-apps: "\e955";
$picicon-mobile-auth: "\e956";
$picicon-mobile-download: "\e957";
$picicon-mobile-sdk: "\e958";
$picicon-mobile: "\e959";
$picicon-on-prem: "\e95a";
$picicon-open-pto: "\e95b";
$picicon-parental-leave: "\e95c";
$picicon-partner: "\e95d";
$picicon-pingone-cloud: "\e95e";
$picicon-plugin: "\e95f";
$picicon-preference-settings: "\e960";
$picicon-present: "\e961";
$picicon-presentation: "\e962";
$picicon-private-cloud: "\e963";
$picicon-provisioning: "\e964";
$picicon-safe: "\e965";
$picicon-seamless: "\e966";
$picicon-search-settings: "\e967";
$picicon-secure-auth: "\e968";
$picicon-self-service: "\e969";
$picicon-server: "\e96a";
$picicon-setup-config: "\e96b";
$picicon-shopping-cart: "\e96c";
$picicon-sms: "\e96d";
$picicon-snacks: "\e96e";
$picicon-speed-stopwatch: "\e96f";
$picicon-speedometer: "\e970";
$picicon-spotlight: "\e971";
$picicon-sso: "\e972";
$picicon-stack: "\e973";
$picicon-swipe: "\e974";
$picicon-threat: "\e975";
$picicon-token: "\e976";
$picicon-user-desktop: "\e977";
$picicon-user-devices: "\e978";
$picicon-user-profile: "\e979";
$picicon-user: "\e97a";
$picicon-username-password: "\e97b";
$picicon-userpass-laptop: "\e97c";
$picicon-vpn: "\e97d";
$picicon-web-app: "\e97e";
$picicon-web-apps: "\e97f";
$picicon-adaptive-mfa: "\e980";
$picicon-website: "\e981";
$picicon-annual-renewal: "\e982";
$picicon-events-webinars: "\e984";
$picicon-featured-customer-stories: "\e985";
$picicon-in-the-news: "\e986";
$picicon-key: "\e987";
$picicon-pingfed: "\e988";
$picicon-pingone: "\e989";
$picicon-identify-enterprise: "\e98a";
$picicon-identify-key: "\e98b";
$picicon-identify-lightbulb: "\e98c";
$picicon-identify-platform: "\e98d";
$picicon-circle-checkmark: "\e98e";
$picicon-plan: "\e98f";
$picicon-clock: "\e990";
$picicon-flexibility: "\e991";
$picicon-reduce: "\e992";
$picicon-scale: "\e993";
$picicon-training: "\e994";
$picicon-datasheet: "\e995";
$picicon-downloads-product: "\e996";
$picicon-analyst-report: "\e997";
$picicon-customer-stories: "\e998";
$picicon-infosheet: "\e999";
$picicon-unified: "\e99a";
$picicon-white-paper: "\e99b";
$picicon-e-mail: "\e99c";
$picicon-buyers-guide: "\e99d";
$picicon-brain-lightbulb: "\e99e";
$picicon-blog: "\e99f";
$picicon-faq: "\e9a0";
$picicon-infographic: "\e9a1";
$picicon-press-release: "\e9a2";
$picicon-support-ticket: "\e9a3";
$picicon-quick-guide: "\e9a4";
$picicon-techincal-brief: "\e9a5";
$picicon-call: "\e9a6";
$picicon-ebook: "\e9a7";
$picicon-video: "\e9a8";
$picicon-executive-brief: "\e9a9";
$picicon-ultimate-guide: "\e9aa";
$picicon-contact-talk: "\e9ab";
$picicon-executive-summary: "\e9ac";
$picicon-access-everything: "\e9ad";
$picicon-connect-everything: "\e9ae";
$picicon-continuous-auth: "\e9af";
$picicon-frictionless: "\e9b0";
$picicon-flexible-deployment: "\e9b1";
$picicon-internet-scale: "\e9b2";
$picicon-secure-access: "\e9b3";
$picicon-event: "\e9b4";
$picicon-federated-identity: "\e9b5";
$picicon-tenant-in-tenant: "\e9b6";
$picicon-multiple-environments: "\e9b7";
$picicon-embed: "\e9b8";
$picicon-custom-schema: "\e9b9";
$picicon-bidirectional-sync: "\e9ba";
$picicon-api-first: "\e9bb";
$picicon-icons_cloud: "\e9bc";
$picicon-icons_private-cloud: "\e9bd";
$picicon-icons_software: "\e9be";
$picicon-push-notification-icon-r2: "\e9bf";
$picicon-social-login-icons-r2: "\e9c0";
$picicon-list: "\a98a";
$picicon-all: "\2a";
$picicon-article1: "\41";
$picicon-demo: "\44";
$picicon-solution-brief: "\53";
$picicon-white-paper1: "\57";
$picicon-analyst-report1: "\61";
$picicon-customer-story: "\63";
$picicon-datasheet1: "\64";
$picicon-ebook1: "\65";
$picicon-guide: "\67";
$picicon-infographic1: "\69";
$picicon-misc: "\6d";
$picicon-solution-accelerator: "\73";
$picicon-video1: "\76";
$picicon-webinar: "\77";
$picicon-competitive-content: "\e983";
$picicon-customer-stories1: "\e9c1";
$picicon-deck-library: "\e9c2";
$picicon-messaging: "\e9c3";
$picicon-opportunity: "\e9c4";
$picicon-partner-story: "\e9c5";
$picicon-product: "\e9c6";
$picicon-solution: "\e9c7";
$picicon-value-card: "\e9c8";
$picicon-videos-and-whiteboard: "\e9c9";
$picicon-workforce-story: "\e9ca";

