.dragDropRowDemo {
    .instructions {
        font-style: italic;
        margin-bottom:20px;
    }

    .row {
        border:1px solid #eee;
        padding:5px;
        background:ghostwhite;
        margin:5px;
        cursor:move;
    }

    .row.dragTop {
        border-top: 3px solid cornFlowerBlue;
    }

    .row.dragBottom, .row.dragTop.dragBottom {
        border-bottom: 3px solid cornFlowerBlue;
    }
}

.infiniteScrollDemo {
    height: 300px;

    .row, .item-head {
        border:1px solid #eee;
        padding:5px;
        background:ghostwhite;
        margin:5px;
        cursor:move;
    }

    .item-head {
        color:white;
        background: lightblue;
        border-color:#aaa;
        text-align:center;
    }
}

.multidrag-demo {
    .row-icon {
        width: 32px;
        height: 32px;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 8px;
        left: 30px;
    }

    .with-icon .name {
        margin-left:40px;
    }

    .name {
        @include transition(all 0.3s);
        margin-left:0px;
    }

    .demo-options {
        padding-bottom:10px;
        margin-bottom:20px;
        border-bottom:1px solid #eee;

        & > div {
            display: inline-block;
            width:50%;
        }
    }

}

table {
	&.grid {
		td {
			&.cell-background-test {
                background-color: #EBECCB;
            }
            &.cell-border-test {
                border-width: 3px;
                border-style: double;
            }
		}
	}
}