// GLOBALS

// FONT VARIABLES
$icon-font: 'iconfont';
$font-path: '../fonts/proxima-nova/';
$font-fallbacks: Helvetica, Arial, sans-serif;
$font-stack: 'ProximaNovaRegular', $font-fallbacks;
$input-font-stack: 'ProximaNovaRegular', $font-fallbacks;

@font-face { font-family: 'ProximaNovaRegular'; font-weight: normal; src: url('#{$font-path}ProximaNova-Regular.otf'); }
@font-face { font-family: 'ProximaNovaBold'; font-weight: bold; src: url('#{$font-path}ProximaNova-Bold.otf'); }
@font-face { font-family: 'ProximaNovaLight'; font-weight: normal; src: url('#{$font-path}ProximaNova-Light.otf'); }
@font-face { font-family: 'ProximaNovaSemibold'; font-weight: normal; src: url('#{$font-path}ProximaNova-Semibold.otf'); }
@font-face { font-family: 'ProximaNovaCondRegular'; font-weight: normal; src: url('#{$font-path}ProximaNovaCond-Regular.otf'); }
