// LAYOUT

// VARS
$layout-header-height: 48px;
$sidenav-width: 250px;
$layout-nav-link-height: 31px; 	// works better as odd number
$layout-zindex-order: (
	content,
	nav,
	page-messages,
	header
);
$sidenav-width: 250px;
$sidenav-lineheight: 22px;

#library-header {
	z-index: index($layout-zindex-order, 'header');
	position: fixed;
	overflow: visible;
	top: 0;
	left: 0;
	right: 0;
	height: $layout-header-height;
	background-color: $color-slate;

	.logo {
		background: transparent url(../images/icon-logo.png) no-repeat 0 0;
        background-size: contain;
		height: 54px;
		width: 54px;
		margin: 0 0 0 22px;
	}
	.title {
		position: absolute;
		bottom: 8px;
		left: 89px;
		font-size: 28px;
		line-height: 1em;
		font-weight: 400;
		letter-spacing: -2px;
		color: $color-white;
	}
}

#library-nav {
	$nav-border-width: 1px;
	$selected-border-width: 1px;

	z-index: index($layout-zindex-order, 'nav');
	position: absolute;
	top: $layout-header-height;
	bottom: 0;
	left: 0;
	width: $sidenav-width;
	overflow-y: auto;
	overflow-x: hidden;

	&:before {
		z-index: -1;
		content: '';
		position: fixed;
		background-color: $color-cinder-block;
		top: $layout-header-height;
		bottom: 0;
		left: 0;
		width: $sidenav-width;
	}
	.title {
		margin: 20px 0 10px 22px;
		text-transform: uppercase;
		color: $color-elephant;
		font-size: 16px;
		&.narrow {
			margin-top: 5px;
		}
	}
	ul.menu {
		font-size: 16px;

		li {
			position: relative;
			border-left: 6px solid transparent;
			@include transition(all 0.2s);

			a {
				position: relative;
				display: block;
				padding: 0 0 0 10px;
				line-height: $layout-nav-link-height;
				color: $color-slate;
				background-color: transparent;

				span {
					display: inline-block;
					margin: 0 10px;
				}
				&:hover {
					text-decoration: none;
				}
			}
			&:hover {
				background-color: rgba(#fff, 0.5);
				text-decoration: none;
			}
			&.selected {
				border-left-color: $color-active-blue;
				font-family: 'ProximaNovaRegular';


				a {
					color: $color-slate;
					background-color: $color-white;
					cursor: default;

					&:before, &:after {
						content: '';
						display: block;
						position: absolute;
					}
					&:before {
						width:4px;
						background-color: $color-white;
						top: 0;
						bottom: 0;
						right: -(1px + $selected-border-width);
						@include border-radius(1px);
					}
				}
			}
            ul.sub-menu {
				margin: 0 0 7px 0;
                li {
					&:hover {
						background: none;
					}
					&:before {
						content: "";
						position: absolute;
						border: 1px solid #33312D;
						top: 8px;
						left: 3px;
					}
                    a {
                        line-height: 16px;
                    }
                }
            }
		}
        &:first-child {
			margin-top: 30px;
		}
		&.last {
			padding-bottom: 30px;
		}
	}
}

#library-content {
	z-index: index($layout-zindex-order, 'content');
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	top: $layout-header-height;
	right: 0;
	bottom: 0;
	left: $sidenav-width + 1px;
	background-color: $color-white;
	padding: 15px 30px 40px;
	border-top: 1px solid $color-white;

	h1 {
		&:first-of-type {
			margin-top: 10px;
		}
	}
	.section {
		padding: 10px 0 30px 0;
	}
	.section-content {
		margin: 0 0 0 15px;
	}
	.sub-section {
		padding: 0 0 20px 0;
	}
	.demo-description {
		line-height: 1.4em;
		margin: 0 0 0 2px;
		ul {
			list-style: square inside;
		}
	}
  .markup-wrapper {
    overflow:hidden;
  }
	pre.language-markup, pre.language-javascript, .output {
		position: relative;
		margin-top: 32px;
		margin-bottom: 0;
		@include border-radius(3px);

		&:before {
			position: absolute;
			top: -18px;
			left: 2px;
			font-size: 14px;
			font-family: $font-stack;
			font-weight: bold;
		}
	}
	pre.language-markup {
		overflow: visible;

		&:before {
			color: silver;
			content: 'MARKUP';
		}
	}
	pre.language-javascript {
		overflow: visible;

		&:before {
			content: 'JAVASCRIPT';
		}
	}
	.output {
		padding: 20px;
		border: 1px dashed silver;

		&:before {
			color: silver;
			content: 'OUTPUT';
		}
	}
}
input[type=text], input[type=password], textarea {
	width: 340px;
}
textarea {
	height: 100px;
}
