.tutorial {

    h3 {
        font-family: $font-pn-semibold;
        padding-bottom: 7px;
    }
    .attention {
        position: relative;
        margin: 50px 0 30px 0;
        padding: 10px;
        color: $color-walrus;
        border-left: 10px solid $color-warning-yellow;
        background: $color-elderly;
        font-family: $font-pn-regular;

        &:before {
			font-size: 14px;
            font-family: $font-pn-semibold;
			color: $color-elephant;
            position: absolute;
            content: 'ATTENTION!';
            top: -20px;
            left: -5px;
        }
    }

    .markup-wrapper {
        margin-bottom: 20px;
    }

    .table-of-contents {
        margin: 25px 0 30px 5px;
        font-family: $font-pn-regular;

        &:before {
            content: 'Table of Contents';
            font-size: 16px;
            color: $color-manatee;
        }

        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    img {
        border: 1px solid $color-timberwolf;
        margin-bottom: 20px;
    }

    .icon-help {
        display: inline-block;
        margin-left: 5px;
    }
}

#library-content .tutorial .output {
    margin-bottom: 20px;
}
