@import "../../css/global-vars.scss";

$border-color: #aaa;
$preview-bg: #eee;
$label-bg: #666;
$label-font-size: 11px;

.demo-nav {
    border-bottom: 1px solid $border-color;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 0 $spacing-xs;
    margin: 0;

    li {
        margin-right: $spacing-md;
    }
}

.component-demo {
    border: 1px solid $border-color;
    border-radius: 3px;
    margin-bottom: $spacing-md;
}

.component-demo__preview {
    background: $preview-bg;
    border-bottom: 1px solid $border-color;
    padding: $spacing-lg;
}

.component-demo__markup {
    display: flex;
    flex-direction: row;
    margin-top: -1px;

    > * {
        flex-grow: 1;
    }
}

.component-demo__code {
    padding: $spacing-sm;

    & + .component-demo__code {
        border-left: 1px solid $border-color;
    }

    pre {
        white-space: pre-wrap;
    }
}

.component-demo__preview-label {
    font-size: $label-font-size;
    color: white;
    background: $label-bg;
    padding: $spacing-xs/2 $spacing-xs;
    border-radius: 3px;
}

.page-content {
    margin: $spacing-md $spacing-lg;
}
