@import '../../scss/helpers';
$THEME_NAME: 'focus';
$colors: getThemeColors($THEME_NAME);
$images: getThemeImages($THEME_NAME);

@include base($images, $colors);

/**
 * Styles
 */
.card {
    height: auto;
    max-width: 450px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px;

    @media only screen and (max-width: 600px) {
        height: 100%;
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.card__content {
    padding: 0;
    height: auto;
}

/* flexRow added too much unwanted styling for right border */
.flex-container {
    display: flex;
    flex-direction: column;
}

.branding-template-logo-container {
    padding: 50px 30px 0px 30px;
    border-right: none;
}

.branding-template-form-container {
    width: 80%;
    padding: 50px 30px;
    margin-right: auto;
    margin-left: auto;
}

.org-logo {
    position: relative;

    &__image {
        max-width: 150px;
        height: auto;
    }
}

.branding-template-heading,
.branding-template-primary-text {
    text-align: left;
}

.branding-template-link-container {
    text-align: center;
}

.branding-template-error-text {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}

.branding-template-heading {
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.branding-template-feedback {
    .feedback--error,
    .feedback__icon {
        font-size: 18px;
    }
}

.branding-template-form {
    margin: 4%;
}

.text-input {
    border: 1px solid;
    border-radius: 2px;
}

.branding-template-primary-button {
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    font-weight: 800;
    border-width: 0;

    &:hover {
        opacity: 0.9;
    }
}

.social-button__button {
    width: 100%;
}

.branding-template-link-text {
    margin: 0 0 5px;
}

.form > :last-child {
    margin-top: 0;
}

.text-input {
    &:placeholder {
        color: transparent;
    }
}
