.row-builder {
    &__row {
        @extend .input-row;

        align-items: flex-end;
        display: inline-flex;
        margin: $spacing-md 0;
        width: 100%;
    }

    &__remove {
        margin-bottom: 1px;

        &__label {
            @include text-label;
            line-height: $font-size-reduced;
            min-height: $font-size-reduced;
            margin-bottom: 13px;
            text-transform: uppercase;
        }

        &__button {
            display: block;
            margin-left: $spacing-sm;
            margin-bottom: 6px;
        }
    }

    &--form {
        &__row {
            align-items: flex-end;
            display: inline-flex;
            justify-content: space-between;
        }

        &__icon {
            font-size: 20px;
            margin-bottom: 11px;

            &--required {
                color: $color-dolphin;
            }
        }

        &__input {
            &__option {
                color: $color-dolphin !important;
            }
        }

        & .row-builder__remove {
            justify-self: flex-end;
        }

        &__no-label-above {
            margin-top: 25px !important;
        }
    }
}
