
.quick-actions {
    &__action-card {
        padding: 15px;
        flex-basis: 115px;
        text-align: center;

        // Needed for IE. Quick Actions will overflow container otherwise.
        max-width: 50%;
    }

    &__action-card--inverted & {
        &__action-icon-base {
            background-color: $color-midnight;
        }

        &__action-icon {
            color: $color-white;
        }

        &__action-label.text-normal-case-label {
            color: $color-midnight;
        }

        &__edit-button.button.inline {
            &:hover {
                border-color: $color-midnight;

                .button__icon {
                    color: $color-midnight;
                }
            }
        }

        &__divider {
            border-left-color: $color-midnight;

            // Consistency with the other 50% width IE fix above.
            max-width: 50%;
        }
    }

    &__action-icon-base {
        display: inline-block;
        background-color: $color-white;
        margin: 15px 15px 0;
        border-radius: 54%;
        width: 50px;
        height: 50px;
    }

    &__action-icon {
        color: $color-midnight;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 20px;

        &:hover {
            color: $color-accent-neutral-50;
        }
    }

    //text.normal added because just label gets overwritten

    &__action-label.text-normal-case-label {
        color: $color-white;
    }

    &__edit-button {
        &.button.inline {
            background-color: transparent;
            border: 1px solid $color-strong-neutral-60;
            margin-left: $spacing-sm;
            height: 18px;
            width: 18px;
            min-width: 18px;

            &:hover {
                border-color: $color-white;

                .button__icon {
                    color: $color-white;
                }
            }

            .button__icon {
                color: $color-strong-neutral-60;
                font-size: 10px;
            }
        }

        &--inverted.button.inline {
            border-color: $color-midnight;

            &:hover {
                border-color: $color-blue-grey;

                .button__icon {
                    color: $color-blue-grey;
                }
            }

            .button__icon {
                color: $color-midnight;
            }
        }
    }

    &__divider {
        border-left: 1px dashed $color-white;
        margin-top: 57px;
        margin-bottom: 10px;

        &--inverted {
            border-left-color: $color-midnight;
        }
    }
}
