.config-panel {
    margin-left: 15px;
}

.config-panel--close {
    cursor: pointer;
    left: 19%;
    position: absolute;
    top: 3%
}

.config-panel--input {
    width: 85%;
    margin-bottom: 10px;
}