@font-face {
    font-weight: 200;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-Light.otf');
}

@font-face {
    font-weight: 400;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-Regular.otf');
}

@font-face {
    font-weight: 600;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-Semibold.otf');
}

@font-face {
    font-weight: 700;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-Bold.otf');
}

@font-face {
    font-weight: 900;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-Extrabold.otf');
}

@font-face {
    font-weight: 200;
    font-style: italic;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-LightItalic.otf');
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-RegularItalic.otf');
}

@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-SemiboldItalic.otf');
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: 'proxima-nova';
    src: url('./fonts/proxima-nova/ProximaNova-BoldIt.otf');
}

@font-face {
    font-weight: 200;
    font-family: 'proxima-nova-cond';
    src: url('./fonts/proxima-nova/ProximaNovaCond-Light.otf');
}

@font-face {
    font-weight: 400;
    font-family: 'proxima-nova-cond';
    src: url('./fonts/proxima-nova/ProximaNovaCond-Regular.otf');
}

@font-face {
    font-weight: 600;
    font-family: 'proxima-nova-cond';
    src: url('./fonts/proxima-nova/ProximaNovaCond-Semibold.otf');
}

@font-face {
    font-weight: 200;
    font-style: italic;
    font-family: 'proxima-nova-cond';
    src: url('./fonts/proxima-nova/ProximaNovaCond-LightIt.otf');
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: 'proxima-nova-cond';
    src: url('./fonts/proxima-nova/ProximaNovaCond-RegularIt.otf');
}

@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: 'proxima-nova-cond';
    src: url('./fonts/proxima-nova/ProximaNovaCond-SemiboldIt.otf');
}

@font-face {
    font-family: 'proxima-nova-black';
    src: url('./fonts/proxima-nova/ProximaNova-Black.otf');
}

@font-face {
    font-family: 'iconfont';
    src: url('./fonts/icons/iconfont.ttf');
}

$icon-font: 'iconfont';
