@mixin stack($gap) {
    > * {
        margin-bottom: $gap;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

@mixin stacked-item($gap) {
    margin: 0 0 $gap 0;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin set-off($gap) {
    margin: $gap 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
