%normal-text,
.normal-text {
    color: $color-neutral-20;
    font-size: $font-size-md;
    font-family: $font-default;
}

%heading-text,
.heading-text {
    color: $color-neutral-20;
    font-weight: 400;
    font-size: $font-size-lg;
    font-family: $font-default;
}

.heading {
    @extend %heading-text;
    margin-top: 0;
    margin-bottom: $spacing-lg;
    text-align: center;
}

.heading--4 {
    margin-bottom: $spacing-md;
    font-size: $font-size-md;
    text-align: left;
}

%tiny-text,
.tiny-text {
    color: $color-neutral-10;
    font-weight: 200;
    font-size: $font-size-sm;
    font-family: $font-default;
}

%muted-text,
.muted-text {
    color: $color-neutral-70;
}
