.card {
    background: $card-bg;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $card-width;
    padding: $card-padding-top $card-padding-horizontal $card-padding-bottom $card-padding-horizontal;
    width: 100%;
}

@media (max-width: $mobile-breakpoint) {
    .card {
        padding: $spacing-xx;
    }
}
