@mixin focus {
  outline: none;
  box-shadow: 0 0 6px 0 $color-primary-bright;
}

@import "./_global-vars.scss";
@import "./_fonts.scss";
@import "./_text.scss";
@import "./_spacing.scss";

@import "./common/_inputs.scss";
@import "./common/_icon-pairs.scss";

@import "./components/_button.scss";
@import "./components/_card.scss";
@import "./components/_checkbox.scss";
@import "./components/_feedback.scss";
@import "./components/_float-label.scss";
@import "./components/_form.scss";
@import "./components/_org-logo.scss";
@import "./components/_page.scss";
@import "./components/_requirements.scss";
@import "./components/_text-input.scss";
@import "./components/_tooltip.scss";

body {
    margin: 0;
}

body, input {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

:focus {
    @include focus;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-primary-bright;
  }
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
