@mixin focus {
  outline: none;
  box-shadow: 0 0 6px 0 $color-primary-bright;
}

@import "./global-vars.scss";
@import "./fonts.scss";
@import "./text.scss";
@import "./input-vars.scss";

@import "./components/button.scss";
@import "./components/card.scss";
@import "./components/checkbox.scss";
@import "./components/float-label.scss";
@import "./components/org-logo.scss";
@import "./components/page.scss";
@import "./components/stack.scss";
@import "./components/text-input.scss";
@import "./components/feedback.scss";

body {
    margin: 0;
}

body, input {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

:focus {
    @include focus;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-primary-bright;
  }
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
