@import "./tokens.scss";

$card-bg: white;
$card-width: 400px;
$card-padding-bottom: $spacing-xx;
$card-padding-top: $spacing-xl;
$card-padding-horizontal: $spacing-xl;

$input-font-size: $font-size-m;
$input-font-weight: 500;
$input-text-color: $color-neutral-30;
$input-border-color: $color-neutral-50;
$input-padding-vertical: $spacing-md;
$input-padding-horizontal: $spacing-sm;

$input-focus-border-color: $color-primary;

$input-float-label-padding-top: $spacing-lg;
$input-float-label-padding-bottom: $spacing-xs;
$float-label-color: $color-neutral-40;

$button-font-size: $font-size-m;
$button-padding: $spacing-sm;

$button-primary-text-color: $color-neutral-100;
$button-primary-bg-color: $color-primary;
$button-primary-hover-bg-color: $color-primary-bright;

$button-radius: 2px;

$mobile-breakpoint: 480px;

@mixin focus {
  outline: none;
  box-shadow: 0 0 6px 0 $color-primary-bright;
}
