$spacing-base: 10px;

$font-size-s: 13px;
$font-size-m: 15px;
$font-size-l: 22px;

$font-default: "proxima-nova", sans-serif;

$spacing-xs: $spacing-base * 0.5;
$spacing-sm: $spacing-base * 1.0;
$spacing-md: $spacing-base * 1.5;
$spacing-lg: $spacing-base * 2.5;
$spacing-xl: $spacing-base * 4.0;
$spacing-xx: $spacing-base * 6.5;

$color-primary: #277BA5;
$color-primary-bright: #3D88AE;
$color-danger: #DE3602;
$color-neutral-30: #4D4D4D;
$color-neutral-40: #666666;
$color-neutral-50: #808080;
$color-neutral-100: #ffffff;
