.page-header {
    margin: 0 0 30px;
    justify-content: space-between;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;

    &__icon {
        font-size: 24px;
        flex-basis: 40px;
        line-height: inherit;
        .icon__graphic {
            line-height: inherit;
        }
    }
}

.page-header--underlined {
    border-bottom: 1px solid $color-rabbit-fur;
    padding: 0 0 15px;
}

.page-header__text {
    flex: 1;
}

.page-header__title {
    font-size: 24px;
    @include font-pn-regular;
    color: $color-slate;
    word-wrap: break-word;
    line-height: 1.2em;
}


.page-header__subtitle {
    font-size: 14px;
    color: $color-elephant;
}

.page-header__accessories {
    float: right;
    display: inline-flex;
    align-items: center;

    > * {
        margin: 0 0 0 20px;
    }
}

.page-header__image {
    $size: 40px;

    box-sizing: border-box;
    height: $size;
    width: 40px;
    flex-basis: $size;
    margin: 0 $spacing-md 0 0;

    img {
        margin: 50% 0 0 50%;
        transform: translateY(-50%) translateX(-50%);
        max-height: $size;
        max-width: $size;
    }
}

