.account-table {
    &__icon {
        flex: 0 0 auto;
        fill: $color-neutral-20;
    }

    &__row {
        border-bottom: 1px dashed $color-neutral-20;

        @media (max-width: $breakpoint-mobile) {
            flex-direction: row;
            > * {
                width: auto;
            }
            *:not(:last-child) {
                margin-bottom: unset;
                margin-right: unset;
            }
        }
    }

    &__row:last-child {
        border-bottom: 0;
    }

    &__row > div {
        padding: $spacing-md $spacing-sm;
    }

    &__row-info {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 0; /* unitless shorthand flex: 1 1 0 does not work in IE11, while flex: 1 1 0px makes linter alarm */
        text-align: left;
        min-width: 0;
    }

    &__row-unlink {
        flex: 0 1 auto;
        text-align: right;
        min-width: 0;

        &--normal {
            display: block;
        }

        &--mobile {
            display: none;
        }

        @media (max-width: $breakpoint-mobile) {
            &--normal {
                display: none;
            }
            &--mobile {
                display: block;
            }
        }
    }

    &__row-details {
        text-align: left;
    }

    &__row-type {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
    }

    &__row-name {
        color: $color-charting-indigo;
    }
}
