.button {
    @include button;

    border-radius: $button-radius;

    &--primary {
        color: $button-primary-text-color;
        background: $button-primary-bg-color;
        border-color: $button-primary-bg-color;

        &:hover {
            color: $button-primary-text-color;
            background: $button-primary-hover-bg-color;
            border-color: $button-primary-hover-bg-color;
        }

        &:active {
            color: $button-primary-text-color;
            background: $button-primary-bg-color;
            border-color: $button-primary-bg-color;
        }
    }

    &--tertiary {
        font-size: $button-tertiary-font-size;
        padding: $spacing-xs $spacing-md;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    &:disabled, &--disabled {
        opacity: $button-disabled-opacity;
        cursor: default;

        &:hover {
            background: $button-primary-bg-color;
        }
    }
}
