// CARDS
$card-bg: white;
$card-width: 400px;
$card-padding-bottom: $spacing-xx;
$card-padding-top: $spacing-xl;
$card-padding-horizontal: $spacing-xl;
$card-mobile-padding: $spacing-xx;

.card {
    background: $card-bg;
    box-shadow: $shadow-overlay;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $card-width;
    min-height: 440px;
    padding: $card-padding-top $card-padding-horizontal $card-padding-bottom $card-padding-horizontal;
    position: relative;
    width: 100%;

    &--wide {
        max-width: 550px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .card {
        padding: $card-mobile-padding;
    }
}
