// CARDS
$card-bg: white;
$card-width: 400px;
$card-padding-bottom: $spacing-xx;
$card-padding-top: $spacing-xl;
$card-padding-horizontal: $spacing-xl;
$card-mobile-padding: $spacing-xx;

.card {
    background: $card-bg;
    box-shadow: $shadow-overlay;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $card-width;
    min-height: 440px;
    position: relative;
    width: 100%;

    &--wide {
        max-width: 550px;
    }
    &--auto-height {
        min-height: auto;
    }

    &__content {
        padding: $card-padding-top $card-padding-horizontal $card-padding-bottom $card-padding-horizontal;
    }

    &__message {
        padding: $spacing-sm;
        display: flex;
        align-items: center;

        &--icon {
            flex: 1;
            flex-grow: 0;
            margin-right: $spacing-xs;

            img {
                width: 30px;
                height: 30px;
            }
        }

        &--content {
            flex: 1;
            font-size: $font-size-sm;
        }
    }

}

@media (max-width: $breakpoint-mobile) {
    .card {
        padding: $card-mobile-padding;
    }
}
