// CHECKBOXES
$checkbox-label-color: $color-neutral-20;
$checkbox-border-color: $color-neutral-40;

.checkbox {
    cursor: pointer;
    position: relative;

    font-size: $font-size-sm;
    color: $checkbox-label-color;
    display: inline-block;
}

.checkbox > :first-child {
    margin-right: $spacing-sm;
}

.checkbox__input {
    width: $spacing-lg;
    height: $spacing-lg;
    display: inline-block;
    margin: 0;
    opacity: 0;
    vertical-align: middle;
}

.checkbox__label {
    font-family: $font-default;
    vertical-align: middle;
}

.checkbox__input + .checkbox__standin {
    cursor: pointer;
    width: $spacing-lg - 6px;
    height: $spacing-lg - 6px;
    border: 1px solid $checkbox-border-color;
    background-color: $color-neutral-100;
    border-radius: 2px;
    margin: 2px;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: none;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;

    &:after {
        content: $icon-approve;
        font-family: $icon-font;
        font-size: 9px;
        width: $spacing-lg - 6px;
        height: $spacing-lg - 6px;
        line-height: $spacing-lg - 6px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 0.1s background-size;
        background-size: 0%;
    }
}

.checkbox__input:checked + .checkbox__standin:after {
    background-size: 100%;
}

.checkbox__input:focus + .checkbox__standin {
    @include focus;
}
