
    .field-message {
        z-index: $zindex__popover;
        padding: 15px;
        box-sizing: border-box;
        min-width: 169px;
        color: $color-strong-neutral-10;
        text-transform: none;
        -webkit-backface-visibility: hidden; // keeps animation from flickering in Chrome

        border-radius: 0 0 $default-input-border-radius $default-input-border-radius;
        animation: fade-down-in 0.2s;

        &--error {
            color: $color-critical-red;
            background-color: $color-critical-red-light;
        }

        &--info {
            background-color: $color-info-blue-light;
        }

        &--default {
            background-color: $color-neutral-90;
        }

        &--success {
            background-color: $color-success-green-light;
        }

        &--warning {
            background-color: $color-warning-yellow-light;
        }
    }