
    .field-message {
        z-index: $zindex__popover;
        padding: 15px;
        box-sizing: border-box;
        min-width: 169px;
        text-transform: none;
        -webkit-backface-visibility: hidden; // keeps animation from flickering in Chrome

        border-radius: 0 0 $default-input-border-radius $default-input-border-radius;
        animation: fade-down-in 0.2s;

        &--error {
            color: $color-critical-red;
            background-color: $color-critical-red-light;
        }

        &--info {
            color: $color-white;
            background-color: $color-active-blue;
        }

        &--default {
            color: $color-neutral-20;
            background-color: $color-neutral-95;
        }

        &--success {
            color: $color-white;
            background-color: $color-success-green;
        }

        &--warning {
            color: $color-warning-text;
            background-color: $color-warning-yellow-light;
        }
    }