.iconfeedback {
    color: $color-neutral-20;
    font-size: $font-size-xl;
    font-weight: 200;
    margin: $spacing-xl 0;
    text-align: center;

    &--success {
        color: $color-success-green;
    }

    &--error {
        color: $color-critical-red;
    }

    &--warning {
        color: $color-warning-yellow;
    }

    &__icon {
        margin-bottom: $spacing-lg;
        display: block;
        font-size: 80px;
    }

    &__label {
        margin: 0;
        color: $color-neutral-20;
        font-family: "proxima-nova", sans-serif;
    }

    &--small {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--small &__icon {
        margin-bottom: 0;
        margin-right: $spacing-sm;
        font-size: 30px;
    }

    &--small &__label {
        font-size: $font-size-lg;
        padding-right: $spacing-md;
    }

    &--bold &__label {
        font-weight: bold;
    }
}
