.iconfeedback,
.icon-feedback {
    color: $color-neutral-20;
    font-size: $font-size-xl;
    font-weight: 200;
    margin: $spacing-xl 0;
    text-align: center;

    &--success {
        color: $color-success-green;
    }

    &--error {
        color: $color-critical-red;
    }

    &--warning {
        color: $color-warning-yellow;
    }

    &__icon {
        margin-bottom: $spacing-lg;
        display: block;
        font-size: 80px;

        /**
         * Added for BW
         */
        font-family: $icon-font;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &__label {
        margin: 0;
        color: $color-neutral-20;
        font-family: "proxima-nova", sans-serif;
    }

    &--small {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--small &__icon {
        margin-bottom: 0;
        margin-right: $spacing-sm;
        font-size: 30px;
    }

    &--small img.icon-feedback__icon {
        height: 50px;
        width: 50px;
    }

    &--small &__label {
        font-size: $font-size-lg;
        padding-right: $spacing-md;
    }

    &--bold &__label {
        font-weight: bold;
    }
}
