@mixin input-icon {
    font-family: $icon-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
    position: relative;
    width: 100%;

    &::before {
        position: absolute;
        right: $spacing-md;
        top: $spacing-md;
    }
}

.multivalues {
    &__control {
        background-color: #ffffff !important;
        border: 1px solid #c2c6ca !important;
        border-radius: 0 !important;
        padding: 8px 0 !important;

        label {
            margin-left: 10px;
        }

        &:hover {
            border-color: #c2c6ca !important;
        }

        &--is-focused {
            border-color: #2996cc !important;
        }

        &--error,
        &--error:hover {
            border-color: $color-critical-red !important;
        }
    
        &--success,
        &--success:hover {
            border-color: $color-success-green !important;
        }
    }

    &__multi-value {
        border: 1px solid #c2c6ca !important;
        background: #fff !important;
        max-width: 100% !important;
        padding: 2px 5px 2px 5px !important;
        text-overflow: ellipsis !important;
        box-sizing: border-box !important;
        border-radius: 2px !important;
        color: #4b637c !important;

        &__remove {
            color: #c2c6ca !important;

            &:hover {
                background-color: unset !important;
            }
        }
    }

    &__icon {
        @include input-icon();
        right: 0;
        z-index: 1;
    
        &--error {
            &::before {
                content: $pingicon-error-triangle;
                color: $color-critical-red;
            }
        }
    
        &--success {
            &::before {
                content: $pingicon-success-round;
                color: $color-success-green;
            }
        }
    
        &--hidden {
            cursor: pointer;
            &::before {
                content: $pingicon-view-hidden;
            }
        }
    
        &--view-hidden {
            cursor: pointer;
            &::before {
                content: $pingicon-view;
            }
        }
    }
    
    &__icon ~ &__icon::before {
        margin-right: $spacing-lg;
    }
}


