.org-logo {
    text-align: center;
    margin: 0 auto $spacing-lg auto;
    box-sizing: border-box;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.org-logo__image {
    max-width: 100%;
    max-height: 80px;
}
