@mixin input-icon {
    font-family: $icon-font;
    text-transform: none;
    display: block;

    &:before {
        position: absolute;
    }
}

.saveable-textinput {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 34px;

    &__save {
        @include input-icon();
        position: absolute;
        font-size: 24px;
        width: auto;
        min-height: 24px;
        right: $spacing-md;
        top: -15px;
        z-index: 1;
        padding: 2px;
        border: none;
        color: $color-astro-blue;
        
        &:after {
            content: $pingicon-success-round;
        }

        &:focus {
            outline-offset: 2px;
        }
    }

    &__input {
        flex: 1;
        position: relative;
        align-content: center;
    }

    &__control {
        position: absolute;
        top: -24px;
        padding-right: 48px;
    }

    &__cancel {
        @include input-icon();
        position: absolute;
        right: -26px;
        width: auto;
        min-height: 16px;
        font-size: 16px;
        line-height: 16px;
        top: -9px;
        padding: 2px;
        border: none;

        &:after {
            content: $pingicon-clear;
            color: $color-neutral-60;
        }

        &:focus {
            outline-offset: 2px;
        }

        &:hover:after {
            color: $color-neutral-20;
            transition: all 0.2s;
        }
    }
}