.spinner {
    animation: spin 1.5s linear infinite;
    display: block;
    margin: $spacing-xx 0;
    text-align: center;
    height: 50px;
    margin: $spacing-xx auto;
    width: 50px;

    &:has(div[class^="__icon"]) {
        height: 0;
        margin: 0;
        width: 0;
    }

    &__icon {
        &:after {
            font-family: $icon-font;
            content: $icon-spinner;
            font-size: 50px;
            color: $color-success;
            display: inline-block;
        }
    }
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
