.stack {
    @include stack($spacing-md);

    &--small > * {
        margin-bottom: $spacing-sm;
    }

    &--xsmall > * {
        margin-bottom: $spacing-xs;
    }

    &--large > * {
        margin-bottom: $spacing-lg;
    }
}
