@mixin input-icon {
  font-family: $icon-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    right: $spacing-xs;
    bottom: 0;
    padding: $spacing-md;
  }

  &.is-focused {
    &::before {
      border: 1px solid $color-a11y-blue;
      @include focus;
    }
  }
}

.text-input {
  @extend %input-text;
  @extend %input-box;

  margin: 0px;
  padding-right: 40px;

  &::placeholder {
    @extend %placeholder-text;
  }

  &.is-focused {
    border: 1px solid $color-a11y-blue;
    box-shadow: 0px 0px 5px rgba(88, 115, 189, 0.75);
  }

  &::-webkit-credentials-auto-fill-button {
    margin-right: 18px;
  }

  &::-ms-reveal,
  &::-ms-clear {
    margin-right: 18px;
  }

  &--error,
  &--error:focus {
    border-color: $color-critical-red;
    background-color: $color-white;
    padding-right: 80px;
  }

  &--success {
    border-color: $color-success-green;
    background-color: $color-white;
    padding-right: 80px;
  }

  &--primary {
    @include primary-input-text;

    padding: $spacing-xs + 1px $spacing-sm $spacing-xs - 2px $spacing-sm;
    text-align: center;

    &.text-input--error {
      padding-right: $spacing-sm;
      background-image: none;
    }

    &::placeholder {
      @include primary-input-text;
      color: $input-placeholder-color;
    }
  }

  &--dropdown-search {
    border-width: 0 0 1px 0;
    border-color: $color-neutral-70;
  }
}

.text-input-container {
  &--error,
  &--success {
    position: relative;
    padding-right: $spacing-xl;
  }
}

.text-input__icon {
  @include input-icon();
  right: 0;

  &--password {
    &::before {
      position: absolute;
      bottom: 0;
      padding: $spacing-md;
    }
  }

  &--error {
    @include ignore-clicks();
    &::before {
      content: $pingicon-error-triangle;
      color: $color-critical-red;
      margin-right: 0;
    }
  }

  &--success {
    @include ignore-clicks();
    &::before {
      content: $pingicon-success-round;
      color: $color-success-green;
    }
  }

  &--hidden {
    cursor: pointer;
    &::before {
      content: $pingicon-view-hidden;
    }
  }

  &--view-hidden {
    cursor: pointer;
    &::before {
      content: $pingicon-view;
    }
  }

  &--action {
    position: absolute;
    top: 0;
    border: 1px solid transparent;
    width: 44px;
    height: 44px;

    &.is-focused {
      border: 1px solid $color-a11y-blue;
      @include focus;
    }
  }
}

.text-input__icon ~ .text-input__icon {
  right: $spacing-xl;
}
