.text-input {
    @extend %input-text;
    @extend %input-box;

    &:focus {
        border-color: $input-focus-border-color;
    }

    &::placeholder {
        @extend %placeholder-text;
    }

    &--error, &--error:focus {
        border-color: $color-critical-red;

        background: right $spacing-sm center no-repeat url("../icons/error.svg");
        background-color: $color-white;

        padding-right: $spacing-xl;
    }

    &--success {
        background: right $spacing-sm center no-repeat url("../icons/success.svg");
        background-color: $color-white;

        padding-right: $spacing-xl;
    }

    &--primary {
        @extend %primary-input-text;

        padding: $spacing-xs + 1px $spacing-sm $spacing-xs - 2px $spacing-sm;
        text-align: center;

        &.text-input--error {
            padding-right: $spacing-sm;
            background-image: none;
        }
    }

    &--dropdown-search {
        border-width: 0 0 1px 0;
        border-color: $color-neutral-70;
    }
}

/**
 * NOTE: For backwards-compatibility we unset bg images in favor
 * of font icon pseudo elements only if inside a wrapper
 */
.text-input-wrapper {
    position: relative;
    text-align: center;

    .text-input {
        display: unset;

        &--error, &--error:focus {
            background: $color-white;
        }

        &--success {
            background: $color-white;
        }
    }

    &--error {
        &::after {
            content: $pingicon-error-triangle;
            font-family: $icon-font;
            color: $color-critical-red;
            font-size: 16px;
            line-height: 16px;
            text-transform: none;
            position: absolute;
            top: calc(50%-8px);
            right: $spacing-sm;
        }
    }

    &--success {
        &::after {
            content: $pingicon-success-round;
            font-family: $icon-font;
            color: $color-success;
            font-size: 16px;
            line-height: 16px;
            text-transform: none;
            position: absolute;
            top: calc(50%-8px);
            right: $spacing-sm;
        }
    }
}