.text-block {
    @extend %normal-text;
    @include stacked-item($spacing-lg);
    text-align: center;
}

.text-block__text {
    display: inline-block;
    text-align: left;
}

.text-block--small {
    font-size: $font-size-sm;
}
