.text-input {
    @extend %input-text;
    border: 1px solid $input-border-color;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    padding: $input-padding-vertical $input-padding-horizontal;
    margin: 0;
    width: 100%;

    &:focus {
        border-color: $input-focus-border-color;
    }
}

.text-input--error, .text-input--error:focus {
    border-color: $color-critical;

    background: right $spacing-sm center no-repeat url("../icons/error.svg");
    background-color: white;

    padding-right: $spacing-xl;
}
