.text-block {
    @extend %normal-text;
    @include stacked-item($spacing-lg);
    text-align: center;

    &__text {
        display: inline-block;
        text-align: left;
    }

    &--small {
        font-size: $font-size-sm;
    }

    &--large {
        font-size: $font-size-lg;
    }

    &--small-right {
        font-size: $font-size-sm;
        text-align: right;
        margin-bottom: 15px;
    }
}
