$tooltip-bg: $color-neutral-95;
$tooltip-border: $color-neutral-60;

@mixin arrowShape($color) {
    content: '';
    border: 10px solid $color;
    border-color: transparent $color transparent transparent;
    display: block;
    left: 0;
    bottom: $spacing-xs;
    position: absolute;
    transform: translateX(-100%);
}

.tooltip {
    @extend %normal-text;
    background: $tooltip-bg;
    border: 1px solid $tooltip-border;
    border-radius: 1px;
    bottom: 0;
    box-shadow: $shadow-overlay;
    max-width: 290px;
    padding: $spacing-md;
    position: absolute;
    right: -$spacing-md;
    transform: translateX(100%);
    word-break: break-all; // IE doesn't like break-word, so we need this to fall back
    word-break: break-word;
    z-index: 1;

    &:before {
        @include arrowShape($tooltip-border);
    }
    &:after {
        @include arrowShape($tooltip-bg);
        left: 2px;
    }
}

@media (max-width: 1000px) {
    .tooltip {
        bottom: -$spacing-md;
        max-width: 200px;
        right: 0;
        transform: translateY(100%);

        &:before, &:after {
            border-color: transparent;
            bottom: auto;
            left: auto;
            top: 0;
            right: $spacing-xs;
            transform: translateY(-100%);
        }

        &:before {
            border-bottom-color: $tooltip-border;
        }

        &:after {
            border-bottom-color: $tooltip-bg;
            top: 2px;
        }
    }
}
