%icon-pair,
.icon-pair {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

%icon-pair__icon,
.icon-pair__icon {
    margin-right: $spacing-sm;
}

%icon-pair__label,
.icon-pair__label {
    display: flex;
    flex-direction: column;
    margin-top: 0.15em;
    width: 100%;
    // this is here to make text wrap properly in IE10 -jfal
    flex-shrink: 1;
}
