.gsfBackground {
  border-color: #b676c7;
  font-size: 10;
  margin-bottom: 5;
}

.diagram-component {
  flex: 1 1 auto;
  border: 1px solid #ccc;
  background: #F5F5F5;
}

.palette-component {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.body-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

html, body, #root, #root > * {
  height: 100%;
}
.overview-component {
  height: 30%;
  width: 400px;
}

.top-panel {
  border-bottom: 1px solid gray;
}

canvas {
  outline-width: 0;
}
