.gsfBackground {
  border-color: #b676c7;
  font-size: 10;
  margin-bottom: 5;
}

.diagram-component {
  flex: 1 1 auto;
  border: 1px solid #ccc;
  background: #F5F5F5;
}
.left-container {
  border: 1px solid black;
}

.palette-component {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  height: 70%;

}
html, body, #root, #root > * {
  height: 100%;
}
.overview-component {
  height: 30%;
  width: 400px;
}

canvas {
  outline-width: 0;
}
