@import '../../scss/helpers';
$THEME_NAME: 'mural';
$colors: getThemeColors($THEME_NAME);
$images: getThemeImages($THEME_NAME);

body {
    background: url(map-get($images, 'background'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: map-get($colors, 'bodyText');
}

a {
    color: map-get($colors, 'link');
}

.card {
    height: auto;
    width: 450px;
    margin-bottom: 20px;
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 3px;
    background: rgba(map-get($colors, 'card'), 0.9);

    @media only screen and (max-width: 600px) {
        border-radius: 0;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        width: initial;
        max-width: 100%;
    }
}

.card__content {
    padding: 0;
    height: auto;
}

/* flexRow added too much unwanted styling for right border */
.flex-container {
    display: flex;
    flex-direction: column;
}

.branding-template-logo-container {
    padding: 50px 30px 0px 30px;
    border-right: none;
}

.branding-template-form-container {
    width: 80%;
    padding: 50px 30px;
    margin-right: auto;
    margin-left: auto;
}

.org-logo {
    position: relative;

    &__image {
        max-width: 150px;
        height: auto;
    }
}

.branding-template-heading,
.branding-template-primary-text {
    text-align: left;
}

.branding-template-error-text {
    font-size: 22px;
    text-align: left;
}

.branding-template-heading {
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: map-get($colors, 'headingText');
}

.feedback--error,
.feedback__icon {
    font-size: 18px;
    color: #cb0020;
}

.branding-template-form {
    margin: 4%;
}

.text-input {
    border: 1px solid #cac7c7;
    border-radius: 2px;
}

.branding-template-primary-button {
    color: map-get($colors, 'buttonText');
    background: map-get($colors, 'button');
    border-color: map-get($colors, 'button');
    margin-right: auto;
    margin-left: auto;
    font-weight: 800;
    width: 60%;
}

.social-button__button {
    width: 100%;
}

.branding-template-link-text {
    margin: 0 0 5px;
}

.form > :last-child {
    margin-top: 0;
}

.text-input {
    &:placeholder {
        color: transparent;
    }
}
