@import 'message-button';
@import 'ellipsis-loader-button';

@mixin base-button-styles {
    @include text-style($color-slate, $font-size-primary);

    position: relative;
    display: inline-block;
    background-color: $color-white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

@mixin default-button-styles {
    background: $color-white;

    &:hover {
        color: $color-slate;
    }
}

input[type=button],
input[type=submit],
button,
.button {
    $height: 36px;

    padding: 0 $spacing-lg;
    margin-right: $spacing-sm;
    height: $height;
    line-height: $height;
    border: 1px solid $color-rhino;
    box-sizing: border-box;

    border-radius: 2px;
    @include base-button-styles;
    @include default-button-styles;

    &.button--no-spacing {
        margin-right: 0;
    }

    &:hover {
        color: $color-active;
        border-color: $color-active;
        &.inline .badge {
            border-color: $color-active;
        }
    }
    &:focus {
        border: 1px solid $color-rhino;
    }

    &.primary,
    &.success,
    &.cancel,
    &.danger {
        color: $color-white;
        border: none;
        background: none;

        &:hover {
            color: $color-white;
        }
    }
    &.primary {
        background-color: $color-active-blue;

        &:hover {
            background-color: $color-active-blue-highlighted;
        }
    }
    &.success {
        background-color: $color-success;

        &:hover {
            background-color: $color-success-highlighted;
        }
    }
    &.cancel {
        background-color: $color-neutral-40;

        &:hover {
            background-color: tint($color-neutral-40, 10%);
        }
    }
    &.danger {
        background-color: $color-critical-red;

        &:hover {
            background-color: $color-critical-red-highlighted;
        }
    }
    &.secondary {
        background-color: $color-white;
        color: $color-slate;
        border: 1px solid $color-rhino;

        &:hover {
            color: $color-active-blue-highlighted;
            border-color: $color-active-blue-highlighted;
        }
    }

    &.inline {
        $height: 26px;

        height: $height;
        line-height: $height;
        font-size: $font-size-normal;

        border-radius: ceil($height/2);

        .badge {
            color: inherit;
            border: 1px solid $color-stratus;
            margin-left: 5px;
            padding: 0 5px;
            box-sizing: border-box;
            display: inline-block;
            min-width: 19px;
            height: 19px;
            line-height: 19px;
            text-align: center;

            border-radius: 10px;
        }
    }
    &.disabled,
    &[disabled] {
        cursor: default;

        opacity: $inactive-opacity;

        &:hover {
            color: $color-slate;
            border-color: $color-rhino;
        }
        &.primary,
        &.success {
            &:hover {
                color: $color-white;
            }
        }
        &.primary {
            &.ellipsis {
                color: $color-active-blue;

                &:hover {
                    color: $color-active-blue;
                }
            }
            &:hover {
                background-color: $color-active-blue;
            }
        }
    }
    &.add {
        padding-left: 36px;

        &:before,
        &:after {
            font-family: $icon-font;
        }
        &:before {
            content: '\2b';
            position: absolute;
            left: 20px;
            top: 13px;
            font-size: 10px;
            line-height: 1em;
        }
        &.user {
            padding-right: 15px;
            font-size: 0;

            &:after {
                font-size: 19px;
                content: '\55';
            }
        }
        &.no-label {
            width: 25px;
            padding: 0;

            &:before {
                left: 8px;
            }
        }

        &.inline {
            &:before {
                top: 8px;
            }
        }
    }
    &.download {
        padding-left: 40px;

        &:before {
            font-family: $icon-font;
            content: '\44';
            position: absolute;
            left: 15px;
            top: 0;
            font-size: 15px;
        }

        &.inline {
            padding-left: 35px;

            &:before {
                font-size: 12px;
            }
        }
    }
    &.inline {
        &.edit,
        &.plus,
        &.delete,
        &.remove,
        &.minus,
        &.prev,
        &.clear,
        &.next {
            $size: 29px;

            padding: 0;
            height: $size;
            width: $size;
            min-width: $size;
            text-align: center;
            line-height: $size;

            border-radius: ceil($size/2);

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                font-family: $icon-font;
                text-transform: none;
            }

            // if the icon button has text then adjust the spacing accordingly
            &:not(:empty) {
                width: auto;
                padding: 0 25px 0 43px;

                &:before {
                    width: auto;
                    left: 18px;
                }
            }
        }

        &.plus {
            &:before {
                content: '*';
                font-size: 12px;
            }
        }
        &.remove,
        &.minus {
            &:before {
                content: '-';
                font-size: 9px;
            }
        }
        &.delete {
            &:before {
                content: 'd';
                font-size: 15px;
            }
        }
        &.edit {
            &:before {
                content: 'e';
                font-size: 15px;
            }
        }
        &.prev {
            &:before {
                content: '<';
                font-size: 11px;
            }
        }
        &.next {
            &:before {
                content: '>';
                font-size: 11px;
            }
        }

        &.small {
            $size: 21px;
            height: $size;
            width: $size;
            line-height: $height;
            font-size: 13px;
            margin: 0;
            vertical-align: text-bottom;

            &.edit {
                &:before {
                    top: 5px;
                    font-size: 10px;
                }
            }
            &.plus {
                &:before {
                    top: 7px;
                    font-size: 10px;
                }
            }
            &.remove,
            &.minus {
                &:before {
                    top: 10px;
                    left: 1px;
                    right: 0;
                    font-size: 9px;
                    width: auto;
                    height: 2px;
                    line-height: 2px;
                }
            }
        }
    }
    &.large {
        $height: 52px;
        height: $height;
        line-height: $height;
        font-size: $font-size-primary;
    }
    &.row-button {
        vertical-align: bottom;

        &.inline {
            margin: 0 0 6px;
        }
    }
}

.button {
    &--active {
        background: $color-midnight;
        border-color: $color-midnight;
        color: $color-white;

        &:hover {
            color: $color-white;
            background: tint($color-midnight, 10%);
        }
    }

    &--tutorial {
        height: $spacing-lg;
        line-height: $spacing-lg;
        font-size: $font-size-normal;
        font-weight: 100;
        padding: 0 $spacing-sm;
        text-transform: uppercase;

        border-radius: 3px;
    }
}

.rocker-button {
    $height: 35px;
    $transition: left 0.4s ease-out;

    display: flex;
    align-content: center;
    justify-content: center;

    height: $height;
    line-height: 10px;
    margin-bottom: $spacing-lg;

    border-radius: 3px;
    @include base-button-styles;

    button,
    .help-tooltip > .helphint-button-target > button {
        @include text-style();
        padding: 0 $spacing-lg;

        width: auto;
        line-height: $height - 2px;

        text-transform: none;
        margin: 0;

        border-style: solid;
        border-color: $color-rhino;
        border-width: 1px 0 1px 1px;
        border-radius: 0;

        cursor: pointer;
    }

    button {
        &:first-of-type {
            border-radius: 3px 0 0 3px;
        }
        &:last-of-type {
            border-radius: 0 3px 3px 0;
            border-width: 1px;
        }
    }

    .help-tooltip > .helphint-button-target > button {
        &:first-of-type {
            border-radius: 3px 0 0 3px;
        }

        &:last-of-type {
            border-radius: 0 3px 3px 0;
            border-width: 1px;
        }
    }

    &.disabled {
        opacity: $inactive-opacity;
        cursor: default;
        button {
            pointer-events: none;
        }
    }
    &.sel-0 button:nth-of-type(1),
    &.sel-1 button:nth-of-type(2),
    &.sel-2 button:nth-of-type(3),
    &.sel-3 button:nth-of-type(4),
    &.sel-4 button:nth-of-type(5),
    &.sel-4 button:nth-of-type(6) {
        transition: $transition;
        background: $color-timberwolf;
    }
}

button.button--overflow {
    padding-left: 10px;
    padding-right: 10px;
    &:after {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $color-slate;
        box-shadow: 0 -5px 0 $color-slate, 0 5px 0 $color-slate;
    }
    &:hover {
        &:after {
            background-color: $color-active-blue;
            box-shadow: 0 -5px 0 $color-active-blue, 0 5px 0 $color-active-blue;
        }
    }
}
// Consolidates styles for centered group of buttons with optional cancel link
.button-group {
    margin: 25px 0 0;
    text-align: center;
    white-space: nowrap;
    button,
    .button,
    input[type=button] {
        margin: 0 5px;
    }
    a {
        text-transform: none;
        &.secondary {
            color: $color-rhino;
        }
        &.cancel {
            display: inline-block;
            margin-top: 15px;
            font-weight: normal;
        }
    }
}

.tile-button,
button.tile-button {
    background: $color-white;
    border: 1px solid $color-accent-neutral-70;
    color: $color-slate;
    cursor: pointer;
    font-size: 15px;
    padding: $spacing-xl $spacing-lg $spacing-lg $spacing-lg;
    line-height: normal;
    height: auto;
    white-space: normal;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    -ms-flex: 1 1 100%;

    $icon-size: 80px;

    &:hover,
    &:active,
    &.tile-button--selected {
        border-color: $color-active-blue;

        .tile-button__icon {
            color: $color-active-blue;
        }
        .tile-button__icon-container {
            svg {
                fill: $color-active-blue;
            }
        }
    }
    &.tile-button--selected {
        box-shadow: 0 2px 5px 0 rgba($color-black, 0.2);

        & .tile-button__title {
            @include font-pn-semibold;
        }
    }

    &__details {
        position: relative;
        text-align: left;
        color: $color-neutral-50;
        list-style: none;
        margin-top: $spacing-lg;
        line-height: 1em;

        li {
            margin-bottom: $spacing-xs;

            &:before {
                content: '•';
                position: absolute;
                left: -10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__divider {
        border-top: 1px solid $color-neutral-50;
        margin-top: $spacing-lg;
        width: 100%;
    }

    &__icon {
        font-size: $icon-size;
        color: $color-midnight;
    }
    &__icon-container {
        height: $icon-size;
        margin-bottom: $spacing-lg;
        display: flex;
        align-items: center;
        justify-content: center;

        &--square {
            margin-bottom: $spacing-md;
        }

        img,
        svg {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__content {
        flex-grow: 1;
        @include break-word;

        line-height: 1.3em;
        text-align: left;
    }

    &__title {
        color: $color-active-blue;
        font-size: 17px;
        margin-top: $spacing-lg;
        text-transform: uppercase;
        word-break: break-word;

        &--square {
            margin-top: 0;
        }
    }

    &--panel {
        @include arrow(20px);

        &:after {
            bottom: -2%;
            transform: rotate(180deg);
            transform-origin: 25%;
        }
    }

    &--square {
        flex-grow: 0;
        min-height: 165px;
        min-width: 165px;
        padding: 25px;
    }
}

.tile-selector {
    display: flex;

    > * {
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: $spacing-md;
        flex-basis: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &--stacked {
        display: block;

        > * {
            margin-right: 0;
            margin-bottom: $spacing-md;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__group {
        flex-flow: column wrap;
        height: auto;

        &:not(:last-of-type) {
            margin-right: $spacing-xl;
        }

        &--grow-1 {
            flex-grow: 1;
        }

        &--grow-2 {
            flex-grow: 2;
        }

        &--grow-3 {
            flex-grow: 3;
        }

        &--grow-4 {
            flex-grow: 4;
        }

        &--square {
            flex-grow: 0;
            flex-basis: auto;
        }

        &--stacked {
            margin-right: 0;
        }

    }

    &__group-tiles {
        flex: 1;
        margin-top: $spacing-sm;
        width: 100%;

        > * {
            flex-grow: 1;
            flex-shrink: 1;

            margin-right: $spacing-md;
            flex-basis: 0%;
            &:last-child {
                margin-right: 0;
            }
        }

        &--stacked {
            flex-flow: column nowrap;

            > * {
                margin-bottom: $spacing-md;
                margin-right: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__group-title {
        color: $color-accent-neutral-40;
        font-size: $font-size-reduced;
        text-transform: uppercase;
        width: 100%;
    }
}

.tile-button--side-icon,
button.tile-button--side-icon {
    flex-direction: row;

    box-sizing: border-box;

    padding: $spacing-md $spacing-lg;

    .tile-button {
        &__icon {
            line-height: 60px;

            &:before {
                font-size: 60px;
                line-height: 60px;
                height: 60px;
                vertical-align: middle;
            }
        }

        &__icon-container {
            height: 60px;
            width: 60px;
            margin: 0 $spacing-lg 0 0;
        }

        &__content-container {
            flex-grow: 1;

            text-align: left;
        }

        &__title {
            display: flex;

            margin-top: 0;
            text-align: left;
        }

        &__note {
            @include text-body;

            flex-grow: 1;
            flex-shrink: 0;

            text-transform: none;
            text-align: right;
            margin-left: $spacing-lg;
        }

        &__link {
            font-size: $font-size-normal;
        }
    }
}

.tile-panel {
    box-shadow: 0 3px 4px 0 rgba($color-black, 0.1);

    background-color: $color-active-blue;
    box-sizing: border-box;
    color: $color-white;
    margin-right: auto;
    margin-top: $spacing-xs;
    padding: $spacing-lg;
    width: 66%;

    &--right {
        margin-left: auto;
        margin-right: 0;
    }

    &__label {
        border-bottom: 0.25px solid $color-neutral-80;
        padding-bottom: $spacing-sm;
        text-transform: uppercase;
    }

    &__option {
        display: flex;
        justify-content: space-between;
        margin-left: $spacing-md;
        padding: $spacing-lg $spacing-sm $spacing-md;

        &:not(:last-child) {
            border-bottom: 0.25px solid $color-neutral-80;
        }

        &__label {
            @include font-pn-semibold;
            font-size: 17px;
            margin-bottom: $spacing-xs;
        }

        &__button {
            border-color: $color-white;
            border-radius: 3px;
            color: $color-active-blue;

            &:hover {
                text-shadow: 0 0 0.5px $color-active-blue;
                border-color: $color-white;
                box-shadow: 0 0 3px #0e4054;
            }
        }
    }
}

.button-add-modal {
    float: right;
}
