
// To user the embedded font, each property using the ui-library must make the following declarations in your own code.
// The font definition files must be copied to a public folder within your project and the following @font-face
// declarations must be made with the proper source urls
// ---------------------------------------------------------------------------------------------------------------------
// @font-face { font-family: 'ProximaNovaRegular'; font-weight: normal; src: url('<path to source file>ProximaNova-Regular.otf'); }
// @font-face { font-family: 'ProximaNovaBold'; font-weight: bold; src: url('<path to source file>ProximaNova-Bold.otf'); }
// @font-face { font-family: 'ProximaNovaLight'; font-weight: normal; src: url('<path to source file>ProximaNova-Light.otf'); }
// @font-face { font-family: 'ProximaNovaSemibold'; font-weight: normal; src: url('<path to source file>ProximaNova-Semibold.otf'); }
// @font-face { font-family: 'ProximaNovaCondRegular'; font-weight: normal; src: url('<path to source file>ProximaNovaCond-Regular.otf'); }

$img-path: '../images/';

@import 'colors';
@import 'spacing';

// FONTS
$font-stack: 'ProximaNovaRegular', helvetica, arial, sans-serif;
$font-pn-regular: 'ProximaNovaRegular', helvetica, arial, sans-serif;
$font-pn-bold: 'ProximaNovaBold', helvetica, arial, sans-serif;
$font-pn-light: 'ProximaNovaLight', helvetica, arial, sans-serif;
$font-pn-semibold: 'ProximaNovaSemibold', helvetica, arial, sans-serif;
$font-pn-cond-regular: 'ProximaNovaCondRegular', helvetica, arial, sans-serif;
$icon-font: 'iconfont';
$input-font-stack: proxima-nova, sans-serif;

// MISC
$layout-header-height: 64px;    // used in miltiple includes
$layout-nav-width: 190px;       // used in miltiple include
$line-height-default: 1.3em;
