
// To user the embedded font, each property using the ui-library must make the following declarations in your own code.
// The font definition files must be copied to a public folder within your project and the following @font-face
// declarations must be made with the proper source urls
// ---------------------------------------------------------------------------------------------------------------------
// @font-face { font-family: 'ProximaNovaRegular'; font-weight: normal; src: url('<path to source file>ProximaNova-Regular.otf'); }
// @font-face { font-family: 'ProximaNovaBold'; font-weight: bold; src: url('<path to source file>ProximaNova-Bold.otf'); }
// @font-face { font-family: 'ProximaNovaLight'; font-weight: normal; src: url('<path to source file>ProximaNova-Light.otf'); }
// @font-face { font-family: 'ProximaNovaSemibold'; font-weight: normal; src: url('<path to source file>ProximaNova-Semibold.otf'); }
// @font-face { font-family: 'ProximaNovaCondRegular'; font-weight: normal; src: url('<path to source file>ProximaNovaCond-Regular.otf'); }

$img-path: '../images/';

// MASTER COLOR LIST
// Do not add or remove colors unless it is sanctioned by the design team

// color map - DEPRICATED. Use color vars as they are more reliable
$colors: (
	'black': #000,
	'white': #fff,
	'active-blue': #2996cc,
	'active-blue-highlighted': #3ea0d1,
	'active-blue-inactive': #a9d5eb,
	'blue-grey': #9bacb4,
	'cinder-block': #e4e5e5,
	'critical-red': #ed3a03,￼￼
	'dolphin': #d8dbdc,￼￼￼￼￼￼
	'elephant': #929aa1,
	'elderly': #f4f7f9,
	'grass': #3cb66e,
	'manatee': #b1b5b8,
	'midnight': #4b637c,
	'oitnb': #f89201,
	'rabbit-fur': #d1d3d4,
	'required-yellow': #f2bb1a,
	'rhino': #9ea5a8,
	'slate': #3d454d,
	'sonic': #f0f6f7,
	'stone': #c2c3c4,
	'stratus': #bcbdbf,
	'success-green-highlighted': #4aba78,
	'success-green-inactive': #b1e2c5,
	'timberwolf': #e8ebed,
	'verde': #76cc99,
	'walrus': #575f67,
	'warning-text': #96702c,
	'warning-yellow': #ffd057,
	'warning-icon-yellow': #eeb91c
);

// color vars - map-get is NOT evaluating propely
$color-black: #000;
$color-white: #fff;
$color-active-blue: #2996cc;
$color-active-blue-highlighted: #3ea0d1;
$color-active-blue-inactive: #a9d5eb;
$color-blue-grey: #9bacb4;
$color-cinder-block: #e4e5e5;
$color-critical-red: #ed3a03;
$color-dolphin: #d8dbdc;
$color-elephant: #929aa1;
$color-elderly: #f4f7f9;
$color-grass: #3cb66e;
$color-manatee: #b1b5b8;
$color-midnight: #4b637c;
$color-oitnb: #f89201;
$color-rabbit-fur: #d1d3d4;
$color-required-yellow: #f2bb1a;
$color-rhino: #9ea5a8;
$color-slate: #3d454d;
$color-sonic: #f0f6f7;
$color-stone: #c2c3c4;
$color-stratus: #bcbdbf;
$color-success-green-highlighted: #4aba78;
$color-success-green-inactive: #b1e2c5;
$color-timberwolf: #e8ebed;
$color-verde: #76cc99;
$color-walrus: #575f67;
$color-warning-text: #96702c;
$color-warning-yellow: #ffd057;
$color-warning-icon-yellow: #eeb91c;


// REUSABLE SEMANTIC COLOR VARS (use color vars for all other colors or when semantic meaning does not apply)
$color-text: $color-elephant;
$color-active: $color-active-blue;
$color-success: $color-success-green-highlighted;
$color-input-fill: $color-sonic;
$color-input-border: $color-rabbit-fur;
$color-input-text: $color-midnight;
$color-input-text-readonly: $color-rabbit-fur;
$color-input-placeholder: $color-rabbit-fur;
$color-input-required: $color-required-yellow;
$color-input-error: $color-critical-red;
$color-link-text: $color-active-blue;


// FONTS
$font-stack: 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-pn-regular: 'ProximaNovaRegular', helvetica, arial, sans-serif;
$font-pn-bold: 'ProximaNovaBold', helvetica, arial, sans-serif;
$font-pn-light: 'ProximaNovaLight', helvetica, arial, sans-serif;
$font-pn-semibold: 'ProximaNovaSemibold', helvetica, arial, sans-serif;
$font-pn-cond-regular: 'ProximaNovaCondRegular', helvetica, arial, sans-serif;
$icon-font: 'iconfont';
$input-font-stack: proxima-nova, sans-serif;

// MISC
$layout-header-height: 64px; // used in miltiple includes
$layout-nav-width: 262px; // used in miltiple include
