
.help-tooltip {
    $help-icon-size: 18px;
    $inline-icon-height: 12px;

    @mixin bg-styles($bg-color) {
        background-color: $bg-color;

        &.place-right:after {
            border-right-color: $bg-color;
        }
        &.place-left:after {
            border-left-color: $bg-color;
        }
        &.place-top:after {
            border-top-color: $bg-color;
        }
        &.place-bottom:after {
            border-bottom-color: $bg-color;
        }
    }

    @mixin default-icon-styles {
        height: $inline-icon-height;
        font-size: $inline-icon-height;
        line-height: $inline-icon-height;
        color: $color-blue-grey;
        display: inline-block;
    }

    display: inline-block;
    background: transparent;
    line-height: 1em;

    // overrides for the default react-tooltip styling
    .__react_component_tooltip {
        color: $color-white;
        font-size: 14px;
        text-transform: none;
        white-space: normal;
        font-weight: normal;
        padding: 8px 10px;

        &.type-dark {
            @include bg-styles($color-midnight);
        }
    }

    .inline {
        &:hover {
            .icon-help {
                color: $color-midnight;
            }
        }
        .icon-help {
            @include default-icon-styles;
            width: $inline-icon-height - 1px;

            &:before {
                content: '\48'; //change to icon-help-rounded
            }
        }
        .icon-lock {
            @include default-icon-styles;
            padding-left: 2px;
        }
    }
    .icon-help {
        text-transform: none;
        width: $help-icon-size;
        font-size: $help-icon-size;
        line-height: $help-icon-size;
        color: $color-midnight;
        display: inline-block;
        vertical-align: baseline;
        cursor: pointer;
    }

    &.warning {
        .__react_component_tooltip {
            @include bg-styles($color-critical-red);
        }
    }
}
