
$font-path: '/src/fonts/icons/';

@font-face {
	font-family: $icon-font;
	src:url('#{$font-path}iconfont.eot?-sa9xtz');
	src:url('#{$font-path}iconfont.eot?#iefix-sa9xtz') format('embedded-opentype'),
	url('#{$font-path}iconfont.ttf?-sa9xtz') format('truetype'),
	url('#{$font-path}iconfont.svg?-sa9xtz#icofont') format('svg'),
	url('#{$font-path}iconfont.woff?-sa9xtz') format('woff');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: $icon-font;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus-rounded:before {
	content: "\2a";
}
.icon-badge:before {
	content: "\62";
}
.icon-circle-o:before {
	content: "\4f";
}
.icon-circle:before {
	content: "\2e";
}
.icon-directory-hollow:before {
	content: "\23";
}
.icon-filter:before {
	content: "\66";
}
.icon-globe:before {
	content: "\a1";
}
.icon-help-rounded:before {
	content: "\48";
}
.icon-info:before {
	content: "\49";
}
.icon-lock:before {
	content: "\4c";
}
.icon-network:before {
	content: "\25";
}
.icon-puzzle:before {
	content: "\7a";
}
.icon-minus-rounded:before {
	content: "\5f";
}
.icon-slider:before {
	content: "\7e";
}
.icon-spin-down:before {
	content: "\30";
}
.icon-spin-up:before {
	content: "\31";
}
.icon-thumb:before {
	content: "\54";
}
.icon-view-hidden:before {
	content: "\2f";
}
.icon-walkthrough:before {
	content: "\4d";
}
.icon-alert:before {
	content: "\21";
}
.icon-cabinet:before {
	content: "\24";
}
.icon-plus:before {
	content: "\2b";
}
.icon-minus:before {
	content: "\2d";
}
.icon-left:before {
	content: "\3c";
}
.icon-directory:before {
	content: "\3d";
}
.icon-right:before {
	content: "\3e";
}
.icon-calendar:before {
	content: "\43";
}
.icon-download:before {
	content: "\44";
}
.icon-expand:before {
	content: "\45";
}
.icon-grip:before {
	content: "\47";
}
.icon-key:before {
	content: "\4b";
}
.icon-pin:before {
	content: "\4e";
}
.icon-spinner:before {
	content: "\50";
}
.icon-settings:before {
	content: "\53";
}
.icon-users:before {
	content: "\55";
}
.icon-view:before {
	content: "\56";
}
.icon-wand:before {
	content: "\57";
}
.icon-clear:before {
	content: "\58";
}
.icon-close-arrow:before {
	content: "\5e";
}
.icon-account:before {
	content: "\61";
}
.icon-collapse:before {
	content: "\63";
}
.icon-delete:before {
	content: "\64";
}
.icon-edit:before {
	content: "\65";
}
.icon-cog:before {
	content: "\67";
}
.icon-help:before {
	content: "\68";
}
.icon-image:before {
	content: "\69";
}
.icon-apps:before {
	content: "\6c";
}
.icon-menu:before {
	content: "\6d";
}
.icon-undo:before {
	content: "\6e";
}
.icon-overview:before {
	content: "\6f";
}
.icon-approve:before {
	content: "\70";
}
.icon-support:before {
	content: "\71";
}
.icon-resend:before {
	content: "\72";
}
.icon-search:before {
	content: "\73";
}
.icon-admin-account:before {
	content: "\74";
}
.icon-user:before {
	content: "\75";
}
.icon-dropdown-arrow:before {
	content: "\76";
}
.icon-welcome:before {
	content: "\77";
}
.icon-close:before {
	content: "\78";
}

.icon-progress-2-1:before {
	content: "\d0";
}
.icon-progress-2-2:before {
	content: "\d1";
}
.icon-progress-3-1:before {
	content: "\d2";
}
.icon-progress-3-2:before {
	content: "\d3";
}
.icon-progress-3-3:before {
	content: "\d4";
}
.icon-progress-4-1:before {
	content: "\d5";
}
.icon-progress-4-2:before {
	content: "\d6";
}
.icon-progress-4-3:before {
	content: "\d7";
}
.icon-progress-4-4:before {
	content: "\d8";
}
.icon-progress-5-1:before {
	content: "\d9";
}
.icon-progress-5-2:before {
	content: "\da";
}
.icon-progress-5-3:before {
	content: "\db";
}
.icon-progress-5-4:before {
	content: "\dc";
}
.icon-progress-5-5:before {
	content: "\dd";
}
.icon-progress-6-1:before {
	content: "\de";
}
.icon-progress-6-2:before {
	content: "\df";
}
.icon-progress-6-3:before {
	content: "\e0";
}
.icon-progress-6-4:before {
	content: "\e1";
}
.icon-progress-6-5:before {
	content: "\e2";
}
.icon-progress-6-6:before {
	content: "\e3";
}
.icon-uniE600:before {
	content: "\e600";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-uniE602:before {
	content: "\e602";
}
.icon-success, .icon-check {
	&:before {
		content: "\79";
	}
}




.icon-ellipsis {
	$size: 7px;
	$spacing: 7px;

	position: relative;
	display: inline-block;
	color: $color-white;

	> span, &:before, &:after {
		content: '';
		display: block;
		position: absolute;
		height: $size;
		width: $size;
		@include border-radius(ceil($size/2));
	}

	span {
		left: 0;
		@include animation(pulse-1 1.0s ease-out 0.25s infinite);
	}
	&:before {
		left: $size + $spacing;
		@include animation(pulse-2 1.0s ease-out 0.25s infinite);
	}
	&:after {
	    left: 2*($size + $spacing);
		@include animation(pulse-3 1.0s ease-out 0.25s infinite);
	}

	@include keyframe(pulse-3) {
		from {
			background-color: transparent;
		}
		80% {
			background-color: #868889;
		}
	}
	@include keyframe(pulse-2) {
		from {
			background-color: transparent;
		}
		45% {
			background-color: #a9a8a8;
		}
	}
	@include keyframe(pulse-1) {
		from {
			background-color: transparent;
		}
		15% {
			background-color: #c4c4c3;
		}
	}
}
