@import './icons/_style'; //icon files from icomoon

a[class^='icon-'],
a[class*=' icon-'] {
    text-decoration: none;
}

a.icon-clear,
a .icon-clear,
a.icon-plus,
a .icon-plus {
    font-weight: bold;
}

a .icon-plus,
a.icon-clear {
    font-size: 12px;
}

.icon-check {
    @extend .icon-success;
}

.inline-icon {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 5px 0 0;

    &.icon-approve {
        font-size: 90%;
        line-height: 1.2em;
    }
    &.icon-expand-arrow {
        font-size: 60%;
        line-height: 1.55em;
    }
    &.icon-left,
    &.icon-right {
        font-size: 70%;
        line-height: 1.4em;
    }
    &.icon-menu {
        font-size: 65%;
        line-height: 1.55em;
    }
    &.icon-next {
        font-size: 90%;
        line-height: 1.2em;
    }
    &.icon-view {
        font-size: 70%;
        line-height: 1.4em;
    }
}

.icon {
    @include inline-flex;
}

.icon__graphic {
    padding: 0 8px 0 0;
}

.icon__rounded {
    $size: 23px;

    display: inline-block;
    border-radius: ceil($size / 2);
    background: $color-elephant;
    color: $color-white;
    height: $size;
    width: $size;
    text-align: center;
    vertical-align: middle;

    &:before {
        transform: translateY(-50%);
        margin-top: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    &.icon-check {
        font-size: 10px;
    }
}
