// INDENT
.indent {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 1em;

    &.grouped {
        margin-bottom: 10px;
    }
    .count {
        background-color: $color-white;
        min-width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 10px;
        margin-right: 7px;
        padding: 0 3px;
    }
    .indent-title-container {
        position: absolute;
        display: block;
        top: 50%;
        left: 4px;

        .title {
            @include transform(rotate(180deg) translateY(50%));
            color: $color-elephant;
            background-color: $color-white;
            display: inline-block;
            text-transform: uppercase;
            font-size: 12px;
            padding: 4px 0;
            writing-mode: tb;
            -ms-writing-mode: tb-rl;
        }
    }
    .indent-content {
        margin-left: 10px;
        padding-left: 20px;
        display: block;
        border-left: 1px solid $color-neutral-80;

        &.no-border {
            border-left: none;
        }
        .content-link {
            padding: 7px 3px 5px;
            margin-left: -8px;
            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }
    // nested
    .indent {
        margin-left: -9px;
        padding: 3px 0 0;
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
        .indent-content {
            .link {
                padding-top: 0;
            }
        }
    }
}
