
// INPUT GLOBAL VARS -------------------------------------------------------------------------------
$default-input-transition: all 0.3s;
$default-input-height: 40px;
$default-input-font-size: 14px;


// MISC SUPPORTING FUNCTIONS -----------------------------------------------------------------------
@mixin checkboxStyles() {
	$checkbox-height: 18px;
	$border-width: 3px;

	position: relative;
	display: inline-block;
	min-width: $checkbox-height + (2*$border-width);
	min-height: $checkbox-height + (2*$border-width);
	padding: 0 0 24px 0;
	cursor: pointer;

	.label-text {
		display: block;
		text-transform: uppercase;
	}
	input[type=checkbox] {
		position: absolute;
		visibility: hidden;
		margin: 0;
		top: 0;
		left: 0;
		width: $checkbox-height;
		height: $checkbox-height;

		&:checked + .icon:after {
			color: $color-input-text;
		}
	}
	.icon {
		position: absolute;
		left: 0;
		bottom: 0;
		display: inline-block;

		&:before {
			content: '';
			display: block;
			border: 3px solid $color-timberwolf;
			height: $checkbox-height;
			width: $checkbox-height;
			line-height: $checkbox-height;
			@include border-radius(2px);
		}
		&:after {
			content: '\79';
			position: absolute;
			text-transform: none;
			color: transparent;
			font-family: $icon-font;
			font-size: 10px;
			left: 3px;
  			bottom: 1px;
			text-align: center;
			height: $checkbox-height;
			width: $checkbox-height;
			@include transition($default-input-transition);
		}
	}
	&.top-label {
		padding: 0;
		height: 47px;

		.icon {
			top: 23px;
		}
	}
	&.no-label {
		margin-right: 0;
	}
}



// CORE INPUT STYLES -------------------------------------------------------------------------------

// Tag styling
// TODO : move styles under class names?
input[type=text], input[type=password], textarea {
	color: $color-input-text;
	background-color: $color-input-fill;
	border-width: 1px;
	border-style: solid;
	border-color: $color-input-fill;
	font-size: 14px;
	height: $default-input-height;
	box-sizing: border-box;
	outline: none;
	font-family: $font-pn-regular;
	@include border-radius(3px);
	@include transition($default-input-transition);

	&.error, &.form-error {
		border-color: $color-input-error;
		&:focus {
			border-color: $color-input-error;
		}
	}
	&:visited {
		border: 1px solid $color-input-fill;
	}
	&:hover {
		border: 1px solid $color-input-border;
	}
	&:focus {
		border-color: $color-active-blue;
	}
	&.extended {
		width: 350px;
	}
	&.short {
		vertical-align: top;
		margin-top: 5px;
		width: 75px;
	}
	&::-ms-clear {
		display: none;
	}
	&[readonly], &[readonly="readonly"], &[disabled] {
		resize: none !important;
	}
}
textarea {
	overflow: auto;
	max-width: 930px;
}
label {
	position: relative;
	display: inline-block;
	margin: 0 20px 0 0;
	font-size: 13px;
	text-transform: uppercase;
	vertical-align: top;
	line-height: 1em;
	font-family: $font-pn-regular;
	cursor: default;

	.label-text, .input-container {
		position: relative;
		display: block;
		@include transition($default-input-transition);

		&:before {
			@include transition($default-input-transition);
		}
	}
	.label-text {
		color: $color-elephant;
		margin: 0 0 7px 0;
	}
	&.input-text {
		input {
			padding: 3px 34px 3px 10px;
		}
		&.large {
			.input-container {
				input {
					height: 48px;
					font-size: 16px;
				}
			}
			&.search {
				.input-container {
					&:before {
						bottom: 18px;
						left: 14px;
					}
					.undo {
						bottom: 13px;
						right: 12px;
					}
				}
			}
		}
		&.search {
			.input-container {
				input {
					padding-left: 46px;
				}
				&:before {
					font-family: $icon-font;
					content: '\73';
					position: absolute;
					bottom: 14px;
					left: 15px;
					text-transform: none;
					font-size: 22px;
					color: $color-input-text;
				}
			}
			a.clear-search {
				position: absolute;
				font-family: $icon-font;
				text-transform: none;
				font-size: 1px;
				color: transparent;
				top: 12px;
				right: 10px;

				&:before {
					content: 'X';
				}
			}
			a.undo {
				&:before {
					content: 'X';
					font-size: 14px;
				}
			}
		}
		&.no-label {
			input {
				margin-top: 0;
			}
		}
		&.extended {
			input {
				width: 350px;
			}
		}
		&.disabled {
			font-style: normal;
		}

		// temporary sizing classes
		&.input-width-1 {
			input {
				width: 70px;
			}
		}
		&.input-width-2 {
			input {
				width: 210px;
			}
		}
		&.input-width-3 {
			input {
				width: 492px;
			}
		}
	}
	&.input-textarea {
		textarea {
			padding: 10px;
			margin-top: 2px;
		}
		&.extended {
			textarea {
				width: 350px;
			}
		}
		&.no-label {
			textarea {
				margin-top: 0;
			}
		}
	}
	&.input-text, &.input-textarea, &.input-multivalues {
		&.short {
			input[type=text], input[type=password] {
				width: 75px;
			}
		}
		&.disabled {
			input[type=text], input[type=password], textarea {
				background-color: $color-timberwolf;
				color: $color-midnight;
        		@include opacity(1.0);
        		&:hover {
					border: 1px solid $color-rabbit-fur;
				}
			}
			.input-container {
				&:before {
					content: none;
				}
				input {
					&:hover {
						border: 1px solid $color-input-fill;
					}
				}
			}
		}
	}
	&.form-error {
		color: $color-input-error;
	}
	&.input-checkbox {
		@include checkboxStyles();

		&.side-label {
			.icon {
				position: relative;
				top: auto;
				left: auto;
				vertical-align: middle;
				margin: 0 5px 0 0;
			}
			.label-text {
				display: inline-block;
				vertical-align: middle;
			}
		}
		&.stacked, &.inline {
			margin-bottom: 5px;
			padding: 0 0 0 30px;
			text-transform: none;

			.label-text {
				display: inline-block;
				text-transform: uppercase;
				padding: 6px 0 0 0;
				margin: 0;
				line-height: 1em;
			}
		}
		&.stacked {
			display: block;
		}
	}
	&.input-radio {
		$radio-height: 19px;
		$border-width: 3px;

		position: relative;
		line-height: $radio-height + (2*$border-width);
		min-height: $radio-height + (2*$border-width);
		min-width: $radio-height + (2*$border-width);
		display: inline-block;
		padding: 0 0 0 32px;
		margin: 0 20px 0 0;
		text-transform: none;
		cursor: pointer;

		&.disabled {
			cursor: default;
			@include opacity(0.5);

			.circle, .circle:after {
				background-color: $color-elderly
			}
		}
		&.no-label {
			margin-right: 0;
		}
		&.stacked {
			display: block;
			margin-bottom: 13px;
			.label-text {
				text-transform: uppercase;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		input[type=radio] {
			position: absolute;
			visibility: hidden;
			margin: 0;

			&:checked + .circle:after {
				background-color: $color-midnight;
			}
		}
		&.input-text {
			.circle {
				bottom: 9px;
			}
			input[type=text] {
				display: inline-block;
				margin: 0;
			}
		}
		&.hidden {
			display: none;
		}
		.circle {
			position: absolute;
			left: 0;
			bottom: 1px;
			font-size: 16px;
			width: $radio-height;
			height: $radio-height;
			cursor: pointer;

			border: $border-width solid $color-timberwolf;
			@include border-radius(ceil($radio-height/2) + $border-width);

			&.form-error {
				border-color: $color-input-error;
				&:focus {
					border-color: $color-input-error;
				}
			}
			&:after {
				content: '';
				position: absolute;
				left: 2px;
				top: 2px;
				width: $radio-height - 4;
				height: $radio-height - 4;
				background-color: $color-white;
				@include border-radius(ceil($radio-height/2) + 1);
				@include transition($default-input-transition);
			}
		}
		.help-tooltip {
			height: 23px;
    		vertical-align: bottom;
			margin: 0 0 0 10px;
		}
	}
	.input-toggle {
		display: block;
	}
	&.detached {
		margin-bottom: 7px;
		margin-right: 10px;
		display: block;

		.help-tooltip {
			margin: 0 0 0 10px;
			height: 18px;
			width: 18px;
			vertical-align: text-bottom;
		}
	}
	a {
		&.password-show-button {
            position: absolute;
            right: 14px;

            &:hover {
                text-decoration: none;
            }
            &.icon-view {
                top: 14px;
                font-size: 13px;
            }
            &.icon-view-hidden {
                top: 9px;
                font-size: 24px;
            }
        }
		&.input-toggle {
			display: block;
		}
		&.undo {
			position: absolute;
			top: 12px;
			right: 11px;
			font-size: 0;
			color: transparent;
			width: 14px;

			&:before {
				content: '\6e';
				font-family: $icon-font;
				font-size: 16px;
				color: $color-active;
				text-transform: none;
				@include transition($default-input-transition);
			}
		}
	}
	&.inline-save {
		.input-container {
			padding-right: 50px;
		}
		.undo {
			right: 61px;
		}
		.save {
			position: absolute;
			top: 18px;
			right: 0;
		}
	}
	.label-text {
		.help-tooltip {
			margin-left: 10px;
			margin-top: -3px;
			line-height: 14px;
			vertical-align: middle;
		}
		.help-tooltip.inline {
			margin-left: 5px;
			margin-top: 0px;
		}
	}
	&.main {
		display: block;
		margin: 0 0 5px 0;
	}
	&.radio-group {
		display: block;
		margin: 0 0 10px 0;

		.help-tooltip {
			line-height: 1em;
			height: 18px;
			width: 18px;
			vertical-align: middle;
			margin: 0 0 0 10px;
		}
	}
	.value-container {
		display: block;
		margin: 6px 0 0 0;
		color: $color-midnight;
		text-transform: none;
		font-size: 16px;
	}
}
fieldset {
	margin: 0 0 25px 0;

	legend {
		text-transform: uppercase;
		.help-tooltip {
			margin: 0 5px 0 10px;
			height: 14px;
			height: 18px;
			width: 18px;
			vertical-align: text-bottom;
		}
		label {
			margin-right: 5px;
		}
	}
	&.focused, &.unfocused {
		legend {
			padding: 0 7px;
			margin: 0 0 0 -7px;
			font-size: 14px;
			color: $color-elephant;

			.input-radio {
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	&.focused {
		border: 1px solid $color-dolphin;
		padding: 15px 25px 30px 25px;
		@include border-radius(5px);

		&.narrow {
			width: 500px;
		}
	}
	&.unfocused {
		padding: 15px 0 0 25px;
	}
	.subset {
		margin: 0 0 0 25px;
		label {
			text-transform: none;
		}
	}
}
input[type=file] {
	line-height: 1em;
}
@include placeholder-css($color-input-placeholder, normal, 0);

// Input types
.input-text, .input-textarea, .input-select, .input-file-upload, .input-integer, .input-radio, .input-checkbox, .input-color-picker {
	margin: 0 20px 20px 0;
}
.radio-text-input {
	margin: -12px 0 0 32px;
}
.radio-input-link {
	margin: 2px 0 0 32px;
}
.input-select {
	> span {
		line-height: 1em;
		display: block;

		.help-tooltip {
			margin-left: 10px;
		}
		&.inline {
			display: inline-block;
			vertical-align: top;
			line-height: 50px;
			padding-right: 10px;
		}
	}
	.input-container {
		height: $default-input-height;

		.wrapper {
			position: relative;
			clear: both;
			display: inline-block;
			height: $default-input-height;
			overflow: hidden;
			cursor: pointer;
			border: 1px solid $color-input-fill;
			box-sizing: border-box;
			@include border-radius(4px);

			&:after {
				position: absolute;
				content: 'v';
				font-family: $icon-font;
				font-size: 12px;
				text-transform: none;
				right: 10px;
				top: 0;
				line-height: 41px;
				color: $color-midnight;
				pointer-events: none;
			}
		}
	}
	&.form-error {
		border-color: $color-input-error;

		&:focus {
			border-color: $color-input-error;
		}
	}
	&.no-label {
		.input-container {
			margin: 0;
		}
	}
	&.large {
		.input-container {
			div {
				height: 50px;
				line-height: 50px;
			}
			&:after {
				top: 0;
				line-height: 50px;
			}
		}
	}
	&.disabled {
		.input-container {
			.wrapper {
				select {
					background-color: $color-timberwolf;
				}
				&:after {
					content: '';
				}
			}
		}
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		border-radius: 0;
		color: $color-input-text;
		background-color: $color-input-fill;
		font-size: $default-input-font-size;
		line-height: 20px;
		height: $default-input-height;
		-webkit-appearance: none;
		outline:none;
		cursor: pointer;
		padding: 0 40px 0 10px;
		width: 110%;
		font-family: $font-stack;
		text-transform: none;
		@include transition($default-input-transition);

		// IE FIXES
		option {
			&:hover {
				background-color: $color-active;
				color: $color-white;
			}
		}
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 $color-black;
		}
		&::-ms-expand {
			display: none;
		}
		&::-ms-value {
			color: $color-midnight;
			background: none;
		}
	}
	&.select-filter {
		.input-container {
			.wrapper {
				border: 1px solid $color-rhino;
				select {
					background: $color-white;
				}
			}
		}
	}
}
.input-file-upload {
	position: relative;
	display: block;

	&.no-label {
		margin-top: 0;
	}
	.form-error.help-tooltip {
		.tooltip-text {
			top: 7px;
		}
	}
	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 1px;
		width: 1px;
		height: 1px;
		cursor: pointer;
		@include opacity(0);
	}
	label {
		position: relative;
		display: inline-block;
		vertical-align: top;
	}
	.button.inline {
		display: block;
		width: 95px;
		text-transform: none;
	}
	.file-info {
		line-height: 1em;
		padding: 0;
		font-family: $font-pn-regular;
		display: inline-block;

		a.file-remove {
			display: none;
			font-size: 14px;
			line-height: 1em;
			margin: 10px 10px 0 0;
		}
		.file-name {
			font-size: 14px;
			line-height: 1em;
			margin: 10px 20px 0 0;
			color: $color-midnight;
		}
		// within a details tooltip, login modal
		&.stacked {
			display: block;
			.file-name {
				display: inline-block;
				vertical-align: top;
				max-width: 250px;
				@include text-truncate;
			}
		}
	}
	&.file-selected {
		a.file-remove {
			display: inline-block;
		}
	}
	&.image-upload {
		$img-width: 90px;

		&.selected, &.not-selected {
			.image-icon {
				&:after {
					content: '';
					border: none;
				}
			}
		}
		.image-icon {
			display: inline-block;
			width: $img-width - 12px;
			min-height: ceil(($img-width - 12px)/1.3);
			padding: 5px;
			border: 1px solid #ddd;

			@include border-radius(4px);

			&:after {
				display: block;
				color: $color-input-border;
				font-family: $icon-font;
				text-transform: none;
				content: '\69';
				border: 1px solid $color-input-border;

				font-size: 51px;
				height: 52px;
				padding: 5px 0 0px 0;
				line-height: 1em;

				@include border-radius(4px);
			}
			&.no-logo {
				display: inline-block;
				color: $color-stone;
				border: 1px solid $color-stone;
				height: 52px;
				width: 72px;
				padding: 5px 0 0 0;

				@include border-radius(4px);
			}
		}
		.with-logo {
			width: 90px;
		}
		.input-image-thumb {
			display: none;
			@include border-radius(4px);
			img {
				width: $img-width;
			}
		}
		.button.inline {
			position: absolute;
			top: 25px;
			left: $img-width + 15px;
		}
		.image-types {
			font-size: 14px;
			position: absolute;
			top: 65px;
			left: 105px;
			  left: $img-width + 15px;
		}
		.form-error-message {
			.tooltip-text {
				min-width: 250px;
				margin-left: 20px;
			}
		}
		.file-info {
			display: block;
		}
		&.file-selected {
			.image-icon {
				display: none;
			}
			.input-image-thumb {
				display: block;
			}
		}
		&.inactive {
			display: none;
		}
	}
}
.input-toggle {
	$toggle-height: 26px;
	$toggle-width: 40px;
	$toggle-time: 0.1s;

	$toggle-diameter: $toggle-height;
	$toggle-border-radius: ceil($toggle-height / 2) + 1;

	display: inline-block;

	.toggle {
		position: relative;
		height: $toggle-height;
		width: $toggle-width;
		background-color: $color-input-border;
		display: inline-block;
		border: 1px solid $color-input-border;
		vertical-align: middle;
		@include border-radius($toggle-border-radius);
		@include transition(all $toggle-time);

		&:after {
			content: '';
			background-color: $color-white;
			position: absolute;
			left: -1px;
			top: -1px;
			height: $toggle-diameter;
			width: $toggle-diameter;
			border: 1px solid $color-input-border;
			@include border-radius($toggle-border-radius);
			@include transition(all $toggle-time);
			@include box-shadow((1px 1px 4px 0px rgba(0, 0, 0, 0.15)));
		}
	}
	&.selected {
		.toggle {
			background-color: $color-success;
			border-color: $color-success;

			&:after {
				left: $toggle-width - $toggle-height + 1;
			}
		}
	}
	&.disabled {
		@include opacity(0.5);
	}
	&.form-error {
		.toggle {
			border-color: $color-input-error;

			&:focus {
				border-color: $color-input-error;
			}
			&:after {
				border-color: $color-input-error;
			}
		}
	}
	&.small {
		.toggle {
			$toggle-height: 18px;
			$toggle-width: 30px;
			$toggle-diameter: $toggle-height;

			height: $toggle-height;
			width: $toggle-width;

			&:after {
				height: $toggle-diameter;
				width: $toggle-diameter;
			}
			&.selected {
				&:after {
					left: $toggle-width - $toggle-height + 1;
				}
			}
		}
	}
}
.input-multiselect {
	position: relative;
	display: inline-block;

	.button {
		padding-right: 50px;

		&:after {
			position: absolute;
			content: 'v';
			font-family: $icon-font;
			font-size: 12px;
			text-transform: none;
			right: 10px;
			top: 1px;
			color: $color-midnight;
			pointer-events: none;
		}
	}
	input[type=text] {
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		width: 156px;
		height: 20px;
	}
	.clear {
		font-family: $icon-font;
		font-size: 10px;
		position: absolute;
		top: 28px;
		right: 26px;
		color: $color-input-text;
	}
	.menu {
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		padding: 15px 15px 0 15px;
		border: 1px solid $color-input-border;
		background: $color-white;
		z-index: 10;

		@include border-radius(3px);

		.options {
			margin: 61px 0 0 0;
			max-height: 285px;
			min-width: 202px;
			overflow: auto;
		}
		.hidden {
			display: none;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 10px;
			left: 15px;
		}
		&:before {
			top: -21px;
			border-color: transparent transparent $color-input-border transparent;

		}
		&:after {
			top: -20px;
			border-color: transparent transparent $color-white transparent;
		}
		label {
			// TODO - change multi-select component to use checkbox component
			@include checkboxStyles();
			display: block;
			margin: 0 0 5px 0;

			&:last-child {
				margin-bottom: 12px
			}
		}
	}
	&.open {
		.menu {
			display: block;
		}
	}
}
.input-calendar {
	display: inline-block;
	position: relative;
	font-family: $font-stack;
	margin-bottom: 7px;

	&:before, &:after {
		font-family: $icon-font;
		font-size: 14px;
		line-height: 1em;
		text-transform: none;
		position: absolute;
		color: $color-midnight;
		cursor: pointer;
	}
	&:before {
		content: '\43';
		left: 10px;
		top: 12px;
		@include transition($default-input-transition);
	}
	&:after {
		content: "v";
		right: 9px;
		top: 14px;
		@include transition($default-input-transition);
	}
	&.active {
		input[type=text] {
			border: 1px solid $color-stone;
		}
		&:after {
			@include transform(rotate(180deg));
		}
	}
	input[type=text].input-calendar-value {
		padding: 0 30px;
		font-size: $default-input-font-size;
		width: 226px;
		height: $default-input-height;
		line-height: 32px;
		&:focus {
			border: 1px solid $color-stone;
		}
	}

	// display
	.input-calendar-wrapper {
		display: none;
		font-family: $font-stack;

		&.active {
			position: absolute;
			display: block;
			padding: 5px 12px;
			border: 1px solid $color-stone;
			background-color: $color-input-fill;
			width: 200px;
			text-align: center;
			left: 0;
			top: $default-input-height + 1;
			-webkit-touch-callout: none;
			z-index: 2;

			@include border-radius(2px);
			@include user-select(none);
		}
		.today-btn {
			display: none;
		}
		.days-view, .months-view, .years-view {
			.navigation-wrapper {
				.navigation-title {
					width: 100px;
					display: inline-block;
					cursor: pointer;
					color: $color-input-text;
					font-weight: 600;
				}
				.icon {
					display: inline-block;

					.fa {
						display: inline-block;
						height: 25px;
						width: 25px;
						color: $color-midnight;
						font-size: 13px;
						cursor: pointer;

						&.fa-angle-left {
							margin-right: 20px;
						}
						&.fa-angle-right {
							margin-left: 20px;
						}
					}
				}
			}
			.days-title {
				.cell {
					height: 25px;
					line-height: 25px;
					cursor: default;
					font-weight: 600;
					margin: 0;
					color: $color-input-text;
				}
			}
			.days, .months, .years {
				padding-bottom: 2px;
				.day {
					width: 26px;
					height: 25px;
					font-weight: 600;
				}
				.month {
					width: 58px;
					height: 38px;
					line-height: 38px;
				}
			}
			.year {
				width: 58px;
				height: 38px;
				line-height: 38px;
			}
			.day {
				width: 26px;
				height: 25px;
				line-height: 25px;
				color: $color-input-text;
				&.prev, &.next {
					@include opacity(0.4);
				}
			}
			.cell {
				display: inline-block;
				text-align: center;
				cursor: pointer;
				border: none;
				-webkit-touch-callout: none;
				font-size: 13px;
				@include  user-select(none);
				@include transition($default-input-transition);

				&.hover {
					color: $color-input-text;
				}
				&.current, &:hover {
					@include opacity(.8);
					@include border-radius(3px);
				}
				&.current {
					color: $color-white;
					background: $color-input-text;
				}
				&:hover {
					background: transparentize($color-input-text, 0.85);
				}
				&.title {
					&:hover {
						@include opacity(1);
						background: transparent;
					}
				}
			}
		}
	}
}
.input-integer, .form-integer-container{
    position: relative;

    &:after, a.undo{
        right: 40px;
    }
    .input-container{
        position: relative;
        display: inline-block;
        vertical-align: bottom;
    }
	.input-text {
		margin: 0;
	}
    .up-down-spinner{
        position: absolute;
		right: 10px;
		bottom: 2px;
        font-family: $icon-font;
        cursor: pointer;
        vertical-align: baseline;
        max-width: 35px;
        display: inline-block;

        button{
            height: 18px;
            padding: 0px;
            display: inline-block;
            text-decoration: none;
            font-color: inherit;
            border: none;
            background-color: transparent;
        }
    }
    [disabled], [readonly] {
        .up-down-spinner, .up-down-spinner{
            pointer-events: none;
        }
    }
}

// Input variants
.required {
	@mixin requiredCss {
		content: '';
		position: absolute;
		background-color: $color-input-required;
		color: $color-white;
		font-size: 16px;
		text-align: center;
		width: 6px;
		z-index: 1;
		@include border-radius(2px);
		@include transition($default-input-transition);
	}
	@mixin requiredPadding {
		font-family: $font-stack;
		padding-left: 20px;
	}
	@mixin requiredPaddingEntered {
		padding-left: 10px;
	}

	&.input-text, &.input-calendar {
		input[type=text] {
			@include requiredPadding;
		}
		.input-container {
			&:before {
				@include requiredCss;
				top: 5px;
				bottom: 5px;
				left: 5px;
			}
		}
	}
	&.input-calendar {
		&:before {
			left: 16px;
		}
		input[type=text].input-calendar-value {
			padding-left: 36px;
		}
	}
	&.input-textarea {
		textarea {
			@include requiredPadding;
		}
		.input-container {
			&:before {
				@include requiredCss;
				top: 7px;
				bottom: 8px;
				left: 6px;
			}
		}
	}
	&.input-multivalues {
		@include requiredPadding;
		width: 315px;
		&:before {
			@include requiredCss;
			top: 7px;
			bottom: 8px;
			left: 0;
		}
	}
	&.input-select {
		select {
			padding-left: 25px;
		}
		.input-container {
			&:before {
				@include requiredCss;
				top: 5px;
				bottom: 7px;
				left: 5px;
			}
		}
	}
	&.input-toggle {
		margin: 0 0 0 15px;

		&:before {
			top: 0;
			bottom: 0;
			left: -14px;
		}
	}
	&.legend {
		float: right;
		margin: 0 0 0 15px;

		&:before {
			top: 0;
			bottom: 2px;
			left: -14px;
		}
	}
	&.value-entered {
		&.input-text, &.input-textarea, &.input-select, &.input-calendar {
			.input-container {
				&:before {
					width: 0;
				}
			}
		}
		&.input-calendar {
			&:before {
				left: 10px;
			}
			input[type=text] {
				padding-left: 30px;
			}
		}
		&.input-multivalues {
			&:before {
				width: 0;
			}
		}
		&.input-text {
			input {
				@include requiredPaddingEntered;
			}
		}
		&.input-textarea {
			textarea {
				@include requiredPaddingEntered;
			}
		}
		&.input-multivalues {
			@include requiredPaddingEntered;
		}
		&.input-select {
			select {
				padding-left: 10px;
			}
		}
	}
}
[disabled] {
	cursor: default;
	@include opacity(0.5);

	&[type=radio] + .circle {
		cursor: default;
	}

}
.readonly {
	&.input-text, &.input-textarea {
		input[type=text], input[type=password], textarea {
			cursor: text;
			color: $color-input-text-readonly;

			&:hover, &:focus {
				border: 1px solid $color-input-fill;
			}
		}
		textarea {
			resize: none !important;
		}
	}
	&.required {
		&.input-text {
			input[type=text], input[type=password] {
				padding-left: 15px;
			}
		}
		&.input-textarea {
			textarea {
				padding-left: 15px;
			}
		}
		&.input-text, &.input-textarea, &.input-toggle, &.input-select > div, &.legend {
			&:before {
				content: none;
			}
		}
		&.input-select {
			select {
				padding: 0 30px 0 10px;
			}
		}
		&.input-toggle {
			margin: 0;
		}
	}
}



// MISC SUPPORTING STYLES --------------------------------------------------------------------------

.input-row {
	position: relative;
	margin: 0 0 25px 0;

	.input-text, .input-textarea, .input-select, .input-file-upload, .input-integer, .input-radio, .input-checkbox, .input-color-picker {
		margin-bottom: 0;
	}
}
.form-error {
	&.input-toggle {
		.toggle {
			border-color: $color-input-error;
			&:focus {
				border-color: $color-input-error;
			}
			&:after {
				border-color: $color-input-error;
			}
		}
	}
}
.checkbox-list {
	padding: 10px 5px 10px 0;
	margin-left: 0;
	border: 1px solid $color-elderly;

	.options {
		width: 99%;
		max-height: 133px;
		overflow-y: auto;
		padding-left: 10px;

		label {
			width: 230px;
			margin-bottom: 10px;
			text-transform: none;
			&.input-checkbox {
				display: inline-block;
				padding: 0 0 0 30px;
				.label-text {
					display: inline-block;
					padding-top: 5px;
				}
			}
		}
		div {
			display: inline;
			&.item-head {
				display: block;
				color: $color-walrus;
			}
		}
	}
	.actions {
		display: inline-block;
		line-height: 48px;

		.toggle-container {
			display: inline-block;
			margin: 0 0 0 20px;

			.input-toggle {
				margin: 0 0 0 10px;
			}
		}
	}
}
.input-datetime {
	.input-time {
		margin-right: 0;
		margin-left: 3px;
	}
}
a {
	&.input-link {
		display: block;
		margin: 2px 0 0 1px;
	}
}
.drop-link {
	position: relative;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
	}
	&:after {
		content: 'v';
		font-family: $icon-font;
		font-size: 12px;
		text-transform: none;
		right: 10px;
		top: 1px;
		pointer-events: none;
	}
	&.open {
		&:after {
			content: '^';
		}
	}
}
.input-divider {
	display: block;
	margin: 0 0 15px 0;
	border-top: 1px solid $color-rabbit-fur;
	&.dotted {
		border-top-style: dotted;
	}
}
.input-child {
	margin: 0 0 0 25px;
}

// Input width functions
@function calc-input-width($container-width, $divisions, $hor-margin){
	@return (
		(($container-width - (($divisions - 1) * $hor-margin)) / $divisions)
	);
}
@function calc-input-part-width($fraction-num, $fraction-width, $hor-margin) {
	@return (
		round($fraction-width*$fraction-num + (($fraction-num - 1)*$hor-margin))
	);
}
@function input-width-map($width-smallest, $hor-margin) {
	@return ((
		'xsmall': $width-smallest,
		'small': calc-input-part-width(2, $width-smallest, $hor-margin),
		'medium': calc-input-part-width(3, $width-smallest, $hor-margin),
		'large': calc-input-part-width(4, $width-smallest, $hor-margin),
		'xlarge': calc-input-part-width(5, $width-smallest, $hor-margin),
		'full': calc-input-part-width(6, $width-smallest, $hor-margin)
	));
}
@mixin input-width-css($size) {
	vertical-align: bottom;

	.label-text {
		word-break: normal;
		width: map-get($input-width-settings-map-default, $size);
	}
	&.input-text {
		input[type=text], input[type=password] {
			width: map-get($input-width-settings-map-text, $size);
		}
	}
	&.input-textarea {
		textarea {
			width: map-get($input-width-settings-map-textarea, $size);
		}
	}
	&.input-select {
		select {
			width: map-get($input-width-settings-map-select, $size) - 2px; // subtract wrapper border width
		}
	}
	&.input-checkbox {
		width: map-get($input-width-settings-map-default, $size);
	}
	&.input-calendar {
		input[type=text] {
			width: map-get($input-width-settings-map-default, $size);
		}
	}
	&.input-datetime {
		$dt-width: map-get($input-width-settings-map-default, $size);
		$cal-percent: 0.66;
		$cal-width: ceil($dt-width * $cal-percent);
		$time-width: floor(($dt-width - 4) * (1 - $cal-percent));

		display: inline-block;

		.input-calendar {
			input[type=text] {
				width: $cal-width;
			}
		}
		.input-time {
			select {
				width: $time-width;
			}
		}
	}
}

// Input width settings
$input-width-settings: (
	'width-max': 600px,
	'num-increments': 6,
	'hor-margin': 20px,
	'vert-margin': 20px
);

$input-width-settings-smallest-default: calc-input-width(map-get($input-width-settings, 'width-max'), map-get($input-width-settings, 'num-increments'), map-get($input-width-settings, 'hor-margin'));
$input-width-settings-smallest-text: calc-input-width(map-get($input-width-settings, 'width-max'), map-get($input-width-settings, 'num-increments'), map-get($input-width-settings, 'hor-margin'));
$input-width-settings-smallest-textarea: calc-input-width(map-get($input-width-settings, 'width-max'), map-get($input-width-settings, 'num-increments'), map-get($input-width-settings, 'hor-margin'));
$input-width-settings-smallest-select: calc-input-width(map-get($input-width-settings, 'width-max'), map-get($input-width-settings, 'num-increments'), map-get($input-width-settings, 'hor-margin'));

$input-width-settings-map-default: input-width-map($input-width-settings-smallest-default, map-get($input-width-settings, 'hor-margin'));
$input-width-settings-map-text: input-width-map($input-width-settings-smallest-text, map-get($input-width-settings, 'hor-margin'));
$input-width-settings-map-textarea: input-width-map($input-width-settings-smallest-textarea, map-get($input-width-settings, 'hor-margin'));
$input-width-settings-map-select: input-width-map($input-width-settings-smallest-select, map-get($input-width-settings, 'hor-margin'));

.input-width-xsmall, .input-width-small, .input-width-medium, .input-width-large, .input-width-xlarge, .input-width-full {
	margin-bottom: map-get($input-width-settings, 'vert-margin');
}
.input-width-xsmall {
	@include input-width-css('xsmall');
}
.input-width-small {
	@include input-width-css('small');
}
.input-width-medium {
	@include input-width-css('medium');
}
.input-width-large {
	@include input-width-css('large');
}
.input-width-xlarge {
	@include input-width-css('xlarge');
}
.input-width-full {
	@include input-width-css('full');
}



// DEPRECATED OR SITE-SPECIFIC STYLES --------------------------------------------------------------
// TODO : move WP styles to WP

.inline-input-labels {
	> label {
		display: table-row;

		&:before {
			content: none !important;
		}
		.label-text, .input-container {
			display: table-cell;
			vertical-align: middle;
			border-bottom: 15px solid transparent;
		}
		.label-text {
			padding: 0 15px 0 0;;
		}
		.input-container {
			display: table-cell;
			padding: 0;
		}
		input, textarea {
			margin: 0;
		}
		&.input-select {
			.input-container {
				margin: 0;

				select {
					margin: 0;
				}
			}
		}
		&.input-checkbox {
			input {
				display: none;
			}
			.label-text {
				height: 25px;
			}
			.icon {
				display: table-cell;
				position: relative;
				&:after {
					bottom: auto;
					top: 5px;
				}
			}
		}
	}
}
.password-errors {
	margin: 10px 0 0 2px;

	> div {
		display: inline-block;
		margin: 0 15px 5px 0;
		width: 164px;

		&:before {
			content: '\00D7';
			background: $color-critical-red;
			color: $color-white;
			font-size: 14px;
			height: 14px;
			width: 14px;
			line-height: 16px;
			margin: 0 5px 0 0;
			text-align: center;
			display: inline-block;

			@include border-radius(10px);
		}
	}
}
.radio-inputs {
	position: relative;
	margin: 15px 0 0 23px;
}
.input-row {
	&.lead-item {
		margin-bottom: 10px;
	}
	.inactive, &.inactive {
		display: none;
	}
	.text-input, .input-checkbox {
		text-align: left;
		.comment {
			display: block;
			padding: 5px;
			margin-top: -3px;
			&.error {
				background-color: $color-critical-red;
				color: $color-white;
				padding: 15px;
				@include border-radius(0 0 4px 4px);
			}
		}
	}
}
