@import 'charting/chip-panel';
@import 'charting/multiseries-chart';
@import 'charting/dropdown-selector';
@import 'layout/dashboard-cards';
@import 'layout/charts';
@import 'layout/hero-chart';
@import 'layout/edit-section';
@import 'layout/policy-node';
@import 'layout/stack';
@import 'layout/header-bar';
@import 'layout/view-toggle';
@import 'layout/label-value-pairs';
@import 'layout/callout-box';
@import 'layout/aside-container';
@import 'layout/stretch-content';
@import 'templates/expandable-row-tooltip.scss';
@import 'templates/section-columns';

$layout-header-height: 46px;
$layout-nav-width: 205px;
$layout-nav-link-height: 47px; // works better as odd number
$layout-nav-width-offset: 15px;

// LOGOS
.logo-pingone {
    background-image: url('#{$img-path}logo-pingone.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    width: 76px;
}

.logo-pingaccess {
    background-image: url('#{$img-path}logo-pingaccess.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    width: 95px;
}

.logo-uilib {
    background-image: url('#{$img-path}logo-uilibrary.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 29px;
    width: 101px;
}


// CORE PAGE LAYOUT STYLES -------------------------------------------------------------------------
#header {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

// LEFT NAV MENU COLORS
$color-grey-main: $color-strong-neutral-10;
$color-grey-main-1: $color-strong-neutral-20;
$color-grey-main-2: $color-strong-neutral-30;
$color-grey-minor-1: $color-neutral-30;

@mixin inactive-link-styles {
    @include transition(transform 0.2s ease-out);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-active;
    transform: scaleX(0);
    visibility: hidden;
}

@mixin active-link-styles {
    @include transition(transform 0.1s ease-out);
    transform: scaleX(1);
    visibility: visible;
}

#nav {
    z-index: 0;
    position: absolute;
    top: $layout-header-height;
    bottom: 0;
    left: 0;
    width: $layout-nav-width + $layout-nav-width-offset;
    box-sizing: border-box;
    background-color: $color-timberwolf;
    border-right: $layout-nav-width-offset solid $color-white;
    display: flex;
    flex-direction: column;

    .collapsible-link {
        display: block;

        &:after {
            display: inline-block;
            top: auto;
            left: auto;
            right: auto;
            margin: 0 0 0 10px;
            color: inherit;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .nav-section {
        padding: 16px 0 14px;
        border-bottom: 1px solid $color-rabbit-fur;

        &:first-of-type {
            margin-top: -15px;
        }
        &.open {
            padding-bottom: 25px;

            .menu {
                max-height: 2000px;
            }
        }
    }
    .selected-item-arrow + .nav-section {
        padding-top: 0;
    }
    .title {
        padding: 10px 5px 10px 17px;
        position: relative;
        color: rgba($color-midnight, 0.55);
        display: block;
        font-size: 12px;
        line-height: 1em;
        text-transform: uppercase;
        font-family: $font-pn-semibold;

        &.narrow {
            margin-top: 5px;
        }

        [class^='icon-'],
        [class*=' icon-'] {
            display: none; // eliminate all icons for section titles in the old nav
        }
    }
    .selected-item {
        @include transition(all 0.3s);
        position: absolute;
        left: 0;
        top: -1px;
        bottom: -1px;
        width: $layout-nav-width;
        box-sizing: border-box;
        z-index: -1;
        background-color: $color-white;
        border-style: solid;
        border-color: $color-rabbit-fur;
        border-width: 1px 0;
        height: $layout-nav-link-height;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 8px;
            background-color: $color-active;
        }
    }
    .selected-item-arrow {
        @include transition(all 0.3s);
        position: absolute;
        left: $layout-nav-width;
        z-index: -1;
        opacity: 0;

        .arrow {
            stroke: $color-rabbit-fur;
            fill: none;
            stroke-width: 2;
        }
    }
    .nav-menus {
        overflow-x: hidden;
        overflow-y: auto;
        width: $layout-nav-width + 10px;
        padding: 15px 10px 0 0;
        box-sizing: border-box;
        flex: 1;
    }
    ul.menu {
        font-size: 16px;
        width: $layout-nav-width;
        max-height: 0;
        overflow: hidden;

        > li {
            @include transition(all 0.3s);
            position: relative;

            a {
                position: relative;
                display: block;
                box-sizing: border-box;
                padding: 16px 20px 16px 25px;
                line-height: 1em;
                font-size: 14px;
                font-family: $font-pn-regular;
                color: $color-slate;
                background-color: transparent;

                &:hover {
                    background-color: rgba($color-white, 0.5);
                    text-decoration: none;
                }
                span {
                    display: inline-block;
                    pointer-events: inherit;
                }
            }
            &.highlighted {
                a:hover {
                    background-color: inherit;
                }
            }
            [class^='icon-'],
            [class*=' icon-'] {
                position: absolute;
                left: 25px;
                top: 13px;
                font-size: 18px;
                width: 18px;
                text-align: center;
            }
            &.has-icon {
                a {
                    padding-left: 56px;
                }
            }
        }
    }
    .copyright {

        width: $layout-nav-width;
        box-sizing: border-box;
        padding: 20px 10px 25px 20px;
        font-family: $font-pn-regular;
        font-size: 10px;
        line-height: 1.3em;
        color: $color-elephant;
        background: $color-neutral-90;

        .pingone-logo {
            max-width: 75px;
            display: block;
            margin: 0 0 7px;
            fill: $color-elephant;
        }
        // application logos
        .logo-container {
            margin: 0 0 $spacing-sm 0;

            @include clearfix();

            .ping-application {
                display: block;
                max-width: 175px;
                max-height: 52px;
                height: auto;
            }
        }
    }
    &.scrollable {
        .copyright {
            border-top: 1px solid darken($color-timberwolf, 7%);

            &:before,
            &:after {
                content: '';
                position: absolute;

                left: 0;
                right: 0;

            }
            &:before {
                $gradient-height: 20px;

                z-index: 1;
                top: -$gradient-height - 1;
                height: $gradient-height;

                @include gradient-vertical(transparent, rgba($color-timberwolf, 0.9), 0%, 85%);
            }
            &:after {
                $gradient-height: 5px;

                z-index: 2;
                top: -$gradient-height - 1;
                height: $gradient-height;

                @include gradient-vertical(transparent, rgba($color-black, 0.05));
            }
        }
    }
    &.collapsible {
        .title {
            cursor: pointer;
        }
    }
    .context-selector {
        padding-bottom: 0;

        &.context-selector-open {
            .context-selector-menu {
                display: block;
            }
        }
        .menu {
            max-height: none;
            overflow: visible;
        }
        .context-selector-value {
            margin: 0;
            min-height: 46px;

            &:hover {
                background-color: inherit;
            }
            &:after {
                right: 15px;
            }
            &.has-icon {
                padding-left: 56px;
            }
        }
        .context-selector-menu {
            display: none;
            padding: 5px 0 10px;
            background-color: rgba($color-black, 0.05);
            z-index: 1;

            @include animation(fade-in 0.3s);

            a {
                padding: 10px 10px 10px 25px;
                color: $color-walrus;
                font-size: 14px;


                &:hover {
                    background-color: inherit;
                }
                &.context-selector-add {
                    padding: 0 10px 0 25px;
                    margin: 15px 0;
                    color: $color-active;

                    &:before {
                        content: '+';
                        font-family: $icon-font;
                        font-size: 8px;
                        display: inline-block;
                        margin: 0 5px 0 0;
                    }
                }
            }
        }
    }
    .top-content {
        padding: 0 10px 10px;

        .return-btn {
            position: relative;
            background-color: transparent;
            width: 100%;
            text-align: left;
            padding-left: 30px;

            &:before {
                content: '\59';
                font-family: $icon-font;
                font-size: 6px;
                position: absolute;
                margin: -1px 0 0 0;
                left: 15px;

                @include rotate(90deg);
            }
        }
    }

    // updated left nav
    &.updated {
        $layout-nav-width: 205px;
        background-color: $color-grey-minor-1;
        color: $color-white;
        border-right: none;
        width: $layout-nav-width;

        .copyright {
            background: inherit;
        }

        .top-content {
            padding: 15px 10px 13px 15px;
            color: $color-slate;
            text-transform: uppercase;
            font-size: 12px;
        }
        &.collapsible {
            &.open {
                background-color: $color-grey-main-2;
            }
        }
        &.scrollable {
            .copyright {
                border-top: none;
                width: $layout-nav-width;
                &:before,
                &:after {
                    background: none;
                }
            }
        }
        .collapsible-link {
            &:after {
                right: 0;
            }
        }
        .nav-section {
            border-bottom: none;
            padding: 0;

            &:first-of-type {
                margin-top: -15px;
            }
            &.selected {
                .title {
                    @include transition(background-color 0.2s);
                    font-family: $font-pn-semibold;
                    background-color: $color-grey-main-2;
                    &:before {
                        @include active-link-styles;
                    }
                    &:hover {
                        background-color: $color-grey-main;
                    }
                }
            }
            &.highlighted .title {
                @include transition(padding 0);
                @include transition(background-color 0.2s);
                font-family: $font-pn-semibold;
                padding-right: 15px;
                background-color: $color-grey-main;
                &:before {
                    @include active-link-styles;
                }
            }
            &.open {
                background-color: $color-grey-minor-1;
                &.selected {
                    .title {
                        @include transition(background-color 0.2s);
                        font-family: $font-pn-light;
                        background-color: $color-grey-main-2;
                        &:before {
                            height: 0;
                            background-color: $color-grey-main-2;
                        }
                        &:hover {
                            @include transition(background-color 0.2s);
                            background: $color-grey-main;
                        }
                    }
                }
                .menu {
                    background-color: $color-grey-main-1;
                    border-top: 1px solid shade($color-strong-neutral-10, 20%);
                    border-bottom: 1px solid $color-neutral-50;

                    [class^='icon-'],
                    [class*=' icon-'] {
                        display: none;
                    }
                }
            }

        }
        .title {
            padding: 16px $spacing-md+2px 16px 45px;
            color: $color-white;
            font-family: $font-pn-light;
            text-transform: none;
            font-size: 14px;
            [class^='icon-'],
            [class*=' icon-'] {
                position: absolute;
                top: 13px;
                left: 15px;
                font-size: 18px;
                width: 30px;
                margin: 0 -5px;
                text-align: center;
                display: block; // restore icons for section titles in new nav
            }
            &.open {
                @include transition(background-color 0.2s);
                background-color: $color-grey-main-2;
            }
            &.collapsible-link {
                margin-right: 0;
                padding-right: 15px;
                &:after {
                    right: 15px;
                }
            }
            &:hover {
                @include transition(background-color 0.2s);
                text-decoration: none;
                background-color: $color-grey-main;
            }
            &:before {
                @include inactive-link-styles;
            }
        }
        .selected-item,
        .selected-item-arrow {
            display: none;
        }
        .nav-menus {
            padding: 0;
            width: $layout-nav-width;
        }
        ul.menu {
            width: $layout-nav-width;
            > li {
                a {
                    font-family: $font-pn-light;
                    padding: 13px 20px 13px 45px;
                    color: $color-white;
                    &:hover {
                        @include transition(background-color 0.2s);
                        background-color: $color-grey-main;
                    }
                    &:after {
                        @include inactive-link-styles;
                    }
                }
                &.highlighted {
                    @include transition(background-color 0.2s);
                    width: $layout-nav-width;
                    box-sizing: border-box;
                    background-color: $color-grey-main;
                    overflow: hidden;

                    &:after {
                        @include active-link-styles;
                    }
                    a {
                        font-family: $font-pn-semibold;
                        &:hover {
                            &:after {
                                @include active-link-styles;
                            }
                        }
                    }
                }
                [class^='icon-'],
                [class*=' icon-'] {
                    top: 10px;
                    left: 15px;
                }
                &:after {
                    @include inactive-link-styles;
                }
            }
        }
        .copyright {
            padding: 20px 10px 25px 15px;
            color: $color-white;
            border-top: none;
            width: $layout-nav-width;
            &:before,
            &:after {
                background: none;
            }
            // application logos
            .logo-container {
                .logo {
                    $logo-env-size: 52px;
                    $logo-env-pad: 5px;

                    height: $logo-env-size;
                    width: $logo-env-size;

                    display: inline-block;
                    vertical-align: middle;
                    background-image: url('#{$img-path}logo-pingidentity.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: transparent;

                    img {
                        margin: 5px 0 0;
                        max-height: $logo-env-size - 2 * $logo-env-pad;
                        max-width: $logo-env-size - 2 * $logo-env-pad;

                        &.ping {
                            margin: 0;
                            max-height: none;
                            max-width: none;
                            height: 52px;
                            width: 52px;
                        }
                    }
                }
            }
        }
    }
}

#content {
    @extend .stretch-content;

    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    top: $layout-header-height;
    right: 0;
    bottom: 0;
    left: $layout-nav-width;
    padding: 25px 40px 40px;

    .detail-primary-buttons {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 241px;
        right: 30px;
        top: auto;
        padding: 15px 0;
        text-align: right;
        background: rgba($color-white, 0.9);
        border-top: 1px solid $color-input-border;
    }

    // workaround for bottom padding - bottom padding is ignored in scrolling elements in FF and IE
    &:after {
        @include flexbox-shrink(0);

        content: '';
        display: block;
        height: 78px;
    }
}

.page-messages {
    position: fixed;
    z-index: 1;
    top: $layout-header-height;
    left: $layout-nav-width;
    right: 0;
    color: $color-white;
    padding: 0;

    &--sidebar-fix {
        // temporary class to fix Messages for the new sidebar
        // this will be the default in our next major version
        left: 205px;
    }

    &.full {
        left: 0;
        .message {
            padding-left: 25px;
        }
    }
    &.inline {
        position: relative;
        margin: 0 -40px 0 -40px;
        top: auto;
        left: auto;
        right: auto;
        z-index: -1;
    }
    .close {
        $size: 16px;

        color: rgba($color-white, 0.7);
        line-height: 1em;
        margin-left: $spacing-lg;

        &:after {
            content: '\78';
            font-size: 20px;
            font-family: 'iconfont';
            vertical-align: middle;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .message {
        align-items: center;
        clear: both;
        display: flex;
        position: relative;
        overflow: hidden;
        padding: $spacing-sm $spacing-sm $spacing-sm $spacing-xl;
        border-bottom: 1px solid rgba($color-black, 0.1);
        font-size: 14px;
        line-height: 1.3;
        margin: 0 auto;
        min-width: 75%;

        @include animation(fade-in 0.7s);

        input[type=button] {
            $height: 24px;

            height: $height;
            line-height: $height - 1;
            margin: 0 0 0 17px;
            border: none;
        }
        &.warning,
        &.error {
            background-color: $color-critical-red;

            input[type=button] {
                color: $color-critical-red;
            }
        }
        &.success {
            background-color: $color-success;

            input[type=button] {
                color: $color-success;
            }
        }
        &.notice {
            background-color: $color-warning-yellow;
            color: $color-white;

            .close {
                color: $color-white;
            }
            input[type=button] {
                color: $color-warning-yellow;
            }

        }
        &.feature {
            background-color: $color-active-blue;

            input[type=button] {
                color: $color-active-blue;
            }
        }

        &__text {
            @include flexbox-grow(1);
        }

        &__progress {
            align-items: center;
            display: flex;
            flex-direction: row;

            &-icon {
                font-size: 10px;
                line-height: 19px;
                margin-right: $spacing-xs;
            }

            &-text {
                font-family: $font-pn-light;
                font-size: 13px;
                line-height: 19px;
                vertical-align: middle;
            }

            &-border {
                @include border-radius(2px);

                border: 1px solid $color-white;
                height: 19px;
                margin-left: $spacing-md;
                position: relative;
                width: 90px;
            }

            &-bar {
                background: $color-white;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0;
            }
        }

        &--minimized {
            float: right;
            min-width: 0;
            transition: min-width 0.2s;
            justify-content: flex-end;
        }
    }
    .show {
        .text {
            margin-top: 0;
            border-bottom: 1px solid rgba($color-black, 0.1);

            @include transition(margin-top 0.1s);
        }
    }
}

.inline-message {
    @include text-body;

    position: relative;
    display: table;
    padding: 15px;
    margin: 15px 0 30px;
    border: 1px solid $color-rabbit-fur;

    @include border-radius(3px);

    .inline-message-icon,
    .inline-message-text,
    .inline-message-btn {
        display: table-cell;
        vertical-align: middle;
    }
    .inline-message-btn {
        margin: 0 0 0 20px;

        .input,
        .button,
        button {
            display: block;
            margin: 0 auto 0 15px;
        }
    }

    &.warning,
    &.success,
    &.notice,
    &.error {
        padding-left: 55px;

        &:before {
            position: absolute;
            left: 15px;
            font-family: $icon-font;
            line-height: 1em;
        }
    }
    &.error {
        $icon-size: 25px;

        &:before {
            content: '!';
            top: calc(50% - #{floor($icon-size/2)});
            font-size: $icon-size;
            color: $color-critical-red;
        }
    }
    &.success {
        $icon-size: 20px;

        &:before {
            content: 'y';
            top: calc(50% - #{floor($icon-size/2)});
            font-size: $icon-size;
            color: $color-success;
        }
    }
    &.notice,
    &.warning {
        $icon-size: 25px;

        &:before {
            content: '!';
            top: calc(50% - #{floor($icon-size/2)});
            font-size: $icon-size;
        }
    }
    &.warning {
        &:before {
            color: $color-warning-icon-yellow;
        }
    }
    &.notice {
        &:before {
            color: $color-active-blue;
        }
    }
    &--alternate {
        &.warning,
        &.error,
        &.success,
        &.notice {
            color: $color-white;
            padding-left: 15px;
            border: none;
            &:before {
                content: none;
            }
        }
        &.warning {
            background-color: $color-warning-icon-yellow;
            .button.inline {
                border: 1px solid $color-warning-icon-yellow;
                color: $color-warning-icon-yellow;
            }
        }

        &.error {
            background-color: $color-critical-red;
            .button.inline {
                color: $color-critical-red;
                border: 1px solid $color-critical-red;
            }
        }
        &.success {
            background-color: $color-success;
            .button.inline {
                color: $color-success;
                border: 1px solid $color-success;
            }
        }
        &.notice {
            background-color: $color-active-blue;
            .button.inline {
                color: $color-active-blue;
                border: 1px solid $color-active-blue;
            }
        }

        &.error,
        &.warning,
        &.notice,
        &.success {
            .button.secondary {
                background: transparent;
                border: 1px solid $color-white;
                color: $color-white;
            }
        }
    }

    &--fullwidth {
        display: block;
    }

    &--borderless {
        &,
        &.warning,
        &.notice,
        &.error,
        &.success {
            border: none;
            padding: 0 0 0 40px;

            &:before {
                left: 0;
            }
        }
    }

    .button.inline,
    .primary {
        margin-left: 15px;
        margin-right: 0;
        background: $color-white;
        border: 1px solid $color-rhino;
        color: $color-walrus;
    }
}



// REUSABLE PAGE STYLES ----------------------------------------------------------------------------
.count {
    color: $color-neutral-20;
    border: 1px solid $color-neutral-60;
    padding: 0 5px;
    display: inline-block;
    min-width: 19px;
    height: 19px;
    line-height: 19px;
    text-align: center;

    @include box-sizing(border-box);
    @include border-radius(7px);
}

.collapsible-link {
    position: relative;
    display: inline-block;
    padding: 0 0 25px;
    margin-right: 15px;
    font-size: 14px;
    color: $color-active-blue;
    line-height: 1em;
    cursor: pointer;
    font-family: $font-pn-regular;

    &:hover {
        color: $color-active-blue-highlighted;
        text-decoration: underline;
        &:after {
            color: $color-active-blue-highlighted;
        }
    }
    &.left:before,
    &.right:after {
        position: absolute;
        top: 0;
        content: '\59';
        font-family: $icon-font;
        font-size: 5px;
        color: $color-active-blue;
        text-decoration: underline; // necessary to remove underline in IE -jfal

        @include transition((all 0.2s linear));
    }
    &.left:before,
    &.left:hover:before,
    &.right:hover:after,
    &.right:after {
        // necessary to remove underline in IE -jfal
        // https://gist.github.com/gabskoro/bb1a73a684de6301413dd8efdf486c6a
        text-decoration: none;
    }
    &.left:before {
        left: -15px;
    }
    &.right:after {
        right: -15px;
    }
    &.open {
        &.left:before,
        &.right:after {
            @include rotate(-180deg);
            @include transition((all 0.2s linear));
        }
    }

    &--disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.page-return-link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 0 100% 25px 13px;
    white-space: nowrap;

    &:before {
        content: 'Y';
        position: absolute;
        top: -1px;
        left: -14px;
        font-size: 6px;
        font-family: $icon-font;

        @include rotate(90deg);
    }
}

.forward-link {
    position: relative;
    display: inline-block;
    font-size: 14px;

    &:after {
        content: 'Y';
        position: absolute;
        top: -1px;
        right: -14px;
        font-size: 6px;
        font-family: $icon-font;

        @include rotate(-90deg);
    }
}

.collapsible-divider {
    overflow: hidden;

    & > *:before {
        content: '';
        position: absolute;
        height: 1px;
        border-top: 1px solid $color-slate;
        top: 50%;
        left: 100%;
        width: 5000px;
        margin-left: $spacing-lg;
    }

    &__toggle {
        text-transform: uppercase;
        color: $color-slate;
        font-size: 15px;
        margin: $spacing-md 0;
        padding: 0;

        &.right:after,
        &:hover {
            color: $color-slate;
        }
    }
}

.page-title {
    @include text-page-title;

    margin: 0 0 30px;
    word-wrap: break-word;

    &.underlined {
        border-bottom: 1px solid $color-rabbit-fur;
        padding: 0 0 15px;
    }
    .page-subtitle {
        margin: 5px 0 0;
        font-size: 14px;
        display: block;
        color: $color-elephant;
    }
}

.page-section-group-title,
.page-section-title {
    margin: 0 0 $spacing-lg;
    padding: 0 0 5px;
    border-bottom: 1px solid $color-neutral-70;
    line-height: 1em;
    font-family: $font-pn-regular;
    color: $color-strong-neutral-10;
    text-transform: uppercase;
}

.page-section-group-title {
    font-size: 18px;
}

.page-section-title {
    font-size: 15px;
}

.page-section {
    margin: 0 0 40px 25px;
}

.page-section-title-desc {
    margin: -10px 0 25px 0;

    &.only {
        margin-bottom: 40px;
    }
}

.page-group-content {
    padding: $spacing-sm;
}

.page-section-content {
    margin: 0 0 40px 25px;
}

.page-section-data-title {
    font-size: 14px;
    text-transform: uppercase;
    color: $color-elephant;
    margin: 0 0 5px;
}

.page-section-data {
    display: table;
    margin: 0 0 30px;

    .data-item {
        display: table-row;

        .data-item-label,
        .data-item-value {
            display: table-cell;
            padding-top: 5px;
            padding-bottom: 5px;
            font-family: $font-pn-regular;
            line-height: 1em;
        }
        .data-item-label {
            font-size: 13px;
            text-transform: uppercase;
            padding-right: 20px;
            color: $color-elephant;
            // when icons, images are present as values
            // keeps labels better aligned
            vertical-align: top;

            &:after {
                content: ':';
            }
        }
        .data-item-value {
            font-size: 14px;
            color: $color-midnight;
        }
    }
}

.page-section-data-divider {
    background: none;
    border-style: dotted;
    border-width: 1px 0 0;
    border-color: $color-rabbit-fur;
    margin: -25px 0 5px 0;
}

.page-controls-secondary {
    float: right;
    margin: -4px 0 0 0;

    > * {
        display: inline-block;
        margin: 0 0 0 15px;
    }
    .input-toggle {
        a.toggle {
            margin: 0;
        }
    }
    .details-tooltip {
        z-index: 1;
    }
}

.page-controls-primary {
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    left: $layout-nav-width + 40px;
    right: 40px;
    bottom: 0;
    padding: 20px 0;
    text-align: right;
    background: rgba($color-white, 0.9);
    border-top: 1px solid $color-rabbit-fur;

    @include transition(translate 0.2s);

    &.hidden {
        @include transform(translateY(100%));
    }

    @include button-spacing();

    &--unfixed {
        background: none;
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        margin-top: $spacing-md;
        z-index: initial;
    }
}

.tab-set-children {
    padding-left: $spacing-lg;
}

.content-columns {
    @include flexbox;

    .content-column {
        flex: 1;
        box-sizing: border-box;
        margin: 0 40px 0 0;
        max-width: 100%;

        @include flexbox-grow(1);

        &:last-of-type {
            margin: 0;
        }
    }
    &.columns-margin-none,
    &.columns-nopad {  // nopad DEPRICATED
        .content-column {
            margin: 0;
        }
    }
    &.columns-margin-20 {
        .content-column {
            margin: 0 20px 0 0;

            &:last-of-type {
                margin: 0;
            }
        }
    }
    &.columns-width-auto {
        .content-column {
            flex: none;

            @include flexbox-grow(0);
        }
    }
    &--divided {
        .content-column {
            margin-right: $spacing-lg;
            padding-right: $spacing-lg;
            border-right: 1px solid $color-rabbit-fur;

            &:last-child {
                margin-right: 0;
                border-right: none;
                padding-right: 0;
            }
        }
    }
}

.hr {
    border: 1px dashed $color-rabbit-fur;
    margin: 25px 0;
    height: 1px;
    border-width: 1px 0 0;

    &--zero {
        margin: 0;
    }

    &--xs {
        margin: $spacing-xs 0;
    }

    &--sm {
        margin: $spacing-sm 0;
    }

    &--md {
        margin: $spacing-md 0;
    }

    &--solid {
        border-style: solid;
    }
}

// flakey but one of only a few options : use with caution
.valign-container {
    display: table !important;
    height: 100%;

    .valign-content {
        display: table-cell !important;
        vertical-align: middle !important;
    }
}

.align-center {
    text-align: center;
}


// DEPRECATED OR SITE-SPECIFIC STYLES --------------------------------------------------------------
.inlineForm {
    display: inline-block;
}

.inline-alert {
    position: relative;
    background: #fedba3;
    margin: 30px 0;
    padding: 15px 15px 15px 55px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:before {
        content: '!';
        font-family: $icon-font;
        position: absolute;
        left: 20px;
        top: 15px;
        font-size: 20px;
    }
    .title {
        margin: 0 0 5px;
    }
    &.reversed {
        background: transparent;
        border: none;
        color: $color-warning-text;
    }
}

#header {
    .nav {
        position: absolute;
        right: 4px;
        top: 15px;
        font-size: 24px;

        li {
            float: left;

            a {
                display: inline-block;
                vertical-align: middle;
                padding: 6px 20px 3px;
                border-right: 1px solid rgba($color-white, 0.2);

                &:hover {
                    text-decoration: none;
                    color: $color-white;
                }
            }
            &:last-child {
                a {
                    border-right: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.content-col-of-2,
.content-col-of-3,
.content-col-of-4,
.content-col-of-5 {
    float: left;

    .input-row {
        margin-right: 15px;
    }
}

.content-col-of-2 {
    max-width: 50%;

    &.maximize {
        max-width: none;
        width: 50%;
    }
}

.content-col-of-3 {
    max-width: 33.3%;

    &.maximize {
        max-width: none;
        width: 33.3%;
    }
}

.content-col-of-4 {
    max-width: 25%;

    &.maximize {
        max-width: none;
        width: 25%;
    }
}

.content-col-of-5 {
    max-width: 20%;

    &.maximize {
        max-width: none;
        width: 20%;
    }
}

.submit {
    width: 100%;
    clear: both;
    margin-top: 20px;
    padding: 0 0 10px;
    text-align: right;

    input[type=button] {
        &:last-of-type {
            margin-right: 0;
        }
    }
    .saving {
        line-height: 36px;
        height: 36px;
        width: 50px;
        bottom: 30px;
        right: 27px;

        &.icon-ellipsis {
            background-image: none;
        }
    }
}

a {
    &.back-link {
        display: block;
        margin: 30px 0;
    }
    &.no-break {
        white-space: nowrap;
    }
}

.search-bar {
    $animation-timing: ease-out 0.2s;

    .search-box {
        display: inline-block;
        vertical-align: middle;
    }

    .filter-by {
        font-size: 14px;
        margin: 12px 7px 0 15px;
        padding: 0;
    }
    .input-text {
        margin: 0;

        input[type=text] {
            width: 460px;
        }
    }
    .filters {
        display: none;
        padding-top: 20px;
        max-height: 0;

        @include transition(max-height $animation-timing);
    }
    .add-modal {
        display: inline;
        float: right;
    }

    &.expanded {
        .filter-by {
            &:before {
                @include rotate(-180deg);
            }
        }
        .filters {
            display: block;
            max-height: 133px;

            @include animation(fade-in $animation-timing);
        }
    }
}

.checkbox-description {
    padding-left: 36px;
}

.value-item {
    @include flexbox;
    @include flexbox-direction(row);
    align-items: center;

    font-size: 14px;
    color: $color-midnight;

    &__icon {
        margin-right: $spacing-sm;
    }
}
