$layout-header-height: 46px;
$layout-nav-width: 190px;
$layout-nav-link-height: 47px; // works better as odd number
$layout-nav-width-offset: 15px;
$layout-zindex-order: (
	content,
	nav,
	page-messages,
	page-detail-buttons,
	header,
);



// CORE PAGE LAYOUT STYLES -------------------------------------------------------------------------
#header {
	z-index: index($layout-zindex-order, 'header');
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $layout-header-height;
	background-color: $color-walrus;

	.logo {
		$logo-env-hgt: 46px;
		$logo-env-wdt: 300px;
		$logo-env-pad: 5px;

		height: $logo-env-hgt;
		width: $logo-env-wdt;

		position: absolute;
		top: 0;
		left: 22px;

		background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 0 347.3 347.3" style="enable-background:new 0 0 347.3 347.3;" xml:space="preserve"><style type="text/css">	.Arched_x0020_Green{fill:url(#SVGID_1_);stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:1;}	.st0{fill:#E71939;}	.st1{fill:#F5F5F5;}</style><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-132.3438" y1="569.6563" x2="-131.6367" y2="568.9492">	<stop  offset="0" style="stop-color:#20AC4B"/>	<stop  offset="0.9831" style="stop-color:#19361A"/></linearGradient><g id="Guides_For_Artboard"></g><g id="Layer_1"><g><rect class="st0" width="347.3" height="347.3"/><g><g><path class="st1" d="M51.8,169.4c10.4,0,13.5,1.1,17,3c5.7,3.2,8.8,8.8,8.8,15.8c0,8.1-3.9,14.6-10.5,17.7 c-2.8,1.3-5.5,2-12.2,2H48v22.5H35.7v-61.1H51.8z M48,197.9h6.4c5,0,6.5-0.6,8.2-3.2c1.1-1.7,1.5-3.4,1.5-6.3					c0-5.7-3.1-9.1-8.3-9.1H48V197.9z"/><path class="st1" d="M94.8,173c0,4-3.3,7.3-7.3,7.3c-4,0-7.2-3.3-7.2-7.3c0-4,3.3-7.3,7.4-7.3C91.7,165.7,94.8,169,94.8,173z M93.4,184.4v46.1H81.6v-44.2L93.4,184.4z"/><path class="st1" d="M109.3,184.3c1.1,1.8,1.7,3.8,1.7,5.6c1.8-1.2,3.2-2.3,5.2-3.3c2.4-1.2,5.4-1.9,8.1-1.9 c5,0,9.4,2.6,10.8,6.5c0.6,1.7,0.9,3.6,0.9,6.4v32.9h-11.6v-29.3c0-5.1-0.9-6.6-4-6.6c-2.4,0-5.4,1.6-8.2,4v31.8h-11.8v-32.6 c0-3.9-0.5-7.6-1.6-10.5L109.3,184.3z"/><path class="st1" d="M187.3,190.4c-2.6,2.4-5,3.3-8.3,3.3c-1.1,0-2.4-0.2-3.1-0.3c1.8,2.1,2.6,4.4,2.6,7.4 c0,7.7-7,13.4-16.6,13.4c-0.5,0-0.9,0-1.8-0.1c-3,1.4-4.7,2.5-4.7,3.7c0,0.6,0.7,1.1,1.9,1.1l6.3,0.1c6.8,0.1,10.5,1.1,13.6,4 c2.6,2.5,3.9,5.5,3.9,9.6c0,3.8-1.1,6.7-3.6,9.3c-4,4.2-10.7,5.8-17.8,5.8c-6.4,0-13-1.1-17-4.8c-2.5-2.3-3.7-4.9-3.7-8 c0-2.5,0.6-3.7,1.1-4.6h10.9c-0.4,1.1-0.5,1.7-0.5,2.9c0,3.6,3,5.5,8.4,5.5c3,0,5.5-0.3,7.4-1.5c1.8-1.1,2.9-2.7,2.9-4.6 c0-4-3.6-5.3-8.3-5.4l-5-0.1c-5.3-0.1-8.7-0.5-10.8-1.4c-2.1-0.8-3.4-2.8-3.4-5.9c0-2.9,0.9-5.6,8.3-7.6 c-6.5-1.7-9.7-5.8-9.7-12.5c0-9.2,7.5-15.2,19-15.2c2.5,0,4.8,0.4,8.1,1.1c2.5,0.6,4,1,5.5,1c3.3,0,6.6-1.4,9.3-3.9L187.3,190.4 z M152.3,199.9c0,4.6,2.8,6.4,6.9,6.4c4.7,0,7.2-2.3,7.2-6.4c0-4.2-2.6-6.7-7.1-6.7C154.8,193.3,152.3,195.7,152.3,199.9z"/></g><g><rect x="35.7" y="240.4" class="st1" width="8" height="68.9"/><path class="st1" d="M89,237.3l-7.8-1.3v21c0,3.6,0.1,7.7,0.1,7.7c-3-4-7.9-6.3-13.6-6.3c-3.6,0-6.4,0.9-9.6,3.1 c-6.8,4.7-10.3,12.5-10.3,23.2c0,16,7.4,25.3,20.4,25.3c5.8,0,9.6-1.7,13.3-5.8c0.1,2.6,1.1,5.1,1.1,5.1h8 c-1.1-2.9-1.5-7.5-1.5-16.2V237.3z M81.1,296.5c0,0-0.9,2.1-3,3.6c-3.2,2.3-5.5,3.2-9.6,3.2c-4.6,0-7.7-1.7-10-5.8 c-1.6-2.9-2-7.2-2-13.1c0-7,0.8-10.6,3.2-14.5c2.1-3.4,5.4-5.2,9.3-5.2c5.9,0,9.6,1.7,12.2,5.2V296.5z"/><path class="st1" d="M115.5,258c-6,0-10.9,2.2-15,6.9c-4.2,5-6,10.4-6,18.9c0,16.6,8.3,26.6,22.2,26.6c6.4,0,12.5-2.2,16.9-6.2 l-3-5c-3.5,3.2-7.4,4.7-12.3,4.7c-5,0-9.6-1.8-12.5-6.1c-1.7-2.6-2.3-6.2-2.3-10.9v-1.2h31.2v-1.1c-0.2-11.9-1.4-16.7-5.7-21.1 C125.7,259.9,120.9,258,115.5,258z M103.6,279.7c0.4-10.3,4.4-15.6,11.5-15.6c3.8,0,7.3,1.7,9,4.4c1.5,2.4,2.2,5.7,2.3,11.1 H103.6z"/><path class="st1" d="M164.2,258.2c-5.3,0-10.5,2.5-15.8,7.7c0-4.1-1.8-7.8-1.8-7.8l-7.6,2.1c0,0,1.9,3.4,1.9,10.5v38.6h7.6V272 c3.6-3.8,9.8-7,13.9-7c2.3,0,4.4,0.8,5.5,2.1c1.4,1.7,1.8,3,1.8,8.3v33.8h7.9v-38c0-2-0.4-4-1.2-5.8 C174.5,261.1,169.7,258.2,164.2,258.2z"/><path class="st1" d="M197,259.3c0-6.6,1-14.5,1-14.5l-8.2,1.8c0,0-0.8,7.8-0.8,12.7h-6.5v5.9h6.5v34.3c0,5,1.3,8.2,4.8,9.9 c1.9,0.9,3.9,1.4,6.5,1.4c3.5,0,6.3-0.7,8.8-2l-1.1-5c-1.4,0.7-2.7,1-4.9,1c-4.9,0-6.4-1.9-6.4-7.4v-32.2h21.7v44.1h8.1v-51.1 l-6.9,1.1H197z"/><path class="st1" d="M256.1,265.2l2.4-5.9h-12.6c0-6.6,1-14.5,1-14.5l-8.2,1.8c0,0-0.8,7.8-0.8,12.7h-6.5v5.9h6.5v34.3 c0,5,1.3,8.2,4.8,9.9c1.9,0.9,3.9,1.4,6.5,1.4c3.5,0,6.3-0.7,8.8-2l-1.1-5c-1.4,0.7-2.7,1-4.9,1c-4.9,0-6.4-1.9-6.4-7.4v-32.2 H256.1z"/><path class="st1" d="M285.5,292.1c-1.2,4.1-3.1,10.5-3.1,10.5h-0.2c0,0-1.5-7.7-3-12.5l-10.2-32.4l-7.7,2.6l10.8,31.3 c1.7,5,4.4,14.8,5,18c0,0,0.5,1.7,1.3,5.7c-2.1,5.4-4.7,7.7-9.6,9.2l2.3,5.3c8.7-2.1,12.8-8.7,16.2-18.8l17.2-51.8h-8.9 L285.5,292.1z"/><path class="st1" d="M313,246.5c-4,0-7.2,3.3-7.2,7.3c0,4,3.3,7.3,7.2,7.3c4,0,7.3-3.3,7.3-7.3C320.2,249.7,317,246.5,313,246.5 z M313,259.6c-3,0-5.5-2.5-5.5-5.8c0-3.4,2.5-5.8,5.5-5.8c3,0,5.5,2.5,5.5,5.8C318.5,257.1,316,259.6,313,259.6z M316.3,252 c0-1.7-1.1-2.4-3-2.4h-3.1v8.2h1.5v-3.5h0.9l2.1,3.5h1.6l-2.2-3.6C315.5,254.1,316.3,253.4,316.3,252z M311.7,253.1v-2.4h1.4 c0.8,0,1.7,0.2,1.7,1.1c0,1.1-0.8,1.2-1.7,1.2H311.7z"/></g></g></g></g></svg>');
    		background-size: contain;
		background-repeat: no-repeat;
		background-color: transparent;
		margin: 0 0 0 22px;

		img {
			margin: 5px 0 0 0;
			max-height: $logo-env-hgt - 2*$logo-env-pad;
			max-width: $logo-env-wdt - 2*$logo-env-pad;

			&.ping {
				margin: 0;
				max-height: none;
				max-width: none;
				height: 52px;
				width: 52px;
			}
		}
	}
	.site-logo {
		$logo-hgt: 22px;

		position: absolute;
		top: 12px;
		left: 89px;
		height: $logo-hgt;
		overflow: visible;
	}

	.product-nav {
		$item-size: 21px;

		position: absolute;
		right: 0;
		top: 12px;
		bottom: 10px;
		left: auto;
		@include clearfix;

		> li {
			float: left;
			font-size: 21px;
			height: 21px;
			width: 55px;
			text-align: center;
			border-left: 1px solid $color-elephant;

			&:first-of-type {
				border-left: none;
			}
		}
		a {
			display: inline-block;
			margin: 0 $item-size;
			color: $color-elephant;

			&:hover {
				text-decoration: none;
			}
		}
		[class^="icon-"], [class*=" icon-"] {
			display: inline-block;
			height: $item-size;
			width: $item-size;
		}
	}
	.product-menu {
		$left-pad: 20px;
		$right-pad: 5px;

		display: none;
		position: relative;
		top: 18px;
		left: -164px;
		width: 190px;
		background-color: $color-white;
		border: 1px solid $color-rabbit-fur;
    	padding: 10px $right-pad 10px $left-pad;
		@include border-radius(5px);
		@include animation(fade-in 0.3s);

		&.show {
			display: block;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 10px;
			right: 11px;
		}
		&:before {
			top: -21px;
			border-color: transparent transparent $color-rabbit-fur transparent;
		}
		&:after {
			top: -20px;
			border-color: transparent transparent $color-white transparent;

		}
		> li {
			padding: 1px 0;
			border-bottom: 1px solid $color-rabbit-fur;

			&:last-of-type {
				border-bottom: none;
			}

			a {
				height: 40px;
				line-height: 40px;
				padding: 5px $right-pad 0 ($left-pad + 3);
				margin: 0 -5px 0 -20px;
				font-size: 14px;
				color: $color-slate;
				display: block;
				@include transition(all 0.3s);

				[class^="icon-"], [class*=" icon-"] {
					display: inline-block;
					font-size: 15px;
					margin: 0 10px 0 0;
				}
				&:hover {
					text-decoration: none;
					background-color: #eee;
				}
			}
		}

		@include fadein-keyframes;
	}
}
#nav {
	z-index: index($layout-zindex-order, 'nav');
	position: fixed;
	top: $layout-header-height;
	bottom: 0;
	left: 0;
	width: $layout-nav-width + $layout-nav-width-offset;
	box-sizing: border-box;

	&:before {
		z-index: -1;
		content: '';
		position: fixed;
		background-color: $color-timberwolf;
		top: $layout-header-height;
		bottom: 0;
		left: 0;
		width: $layout-nav-width;
	}

	.title {
		margin: 0 $layout-nav-width-offset 10px 17px;
		color: $color-midnight;
		font-size: 12px;
		line-height: 1em;
		text-transform: uppercase;
		font-family: $font-pn-semibold;
		cursor: pointer;

		&.narrow {
			margin-top: 5px;
		}
	}
	.divider {
		margin: 25px $layout-nav-width-offset 25px 0;
		height: 1px;
		background: $color-rabbit-fur;
		position:relative;
		top:-2px;
	}
	.selected-item {
		position: absolute;
		left: 0;
		top: -1px;
		bottom: -1px;
		width: $layout-nav-width;
		box-sizing: border-box;
		z-index: -1;
		background-color: $color-white;
		border-style: solid;
		border-color: $color-rabbit-fur;
		border-width: 1px 0;
		height: $layout-nav-link-height;
		@include transition(all 0.3s);
		overflow:hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 8px;
			background-color: $color-active;
		}
	}
	.select-item-arrow {
		position: absolute;
		left: 215px;
		z-index: -1;
		height: 0;

		div {
			height: 0;
			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				height: 0;
				width: 10px;
			}
			&:before {
				top: 0;
				border-width: 24px 8px;
				border-style: solid;
				z-index: 2;
				border-color: transparent transparent transparent $color-rabbit-fur;
				right: 0;
			}
			&:after {
				top: 3px;
				border-width: 21px 7px;
				border-style: solid;
				z-index: 2;
				border-color: transparent transparent transparent $color-white;
				right: 2px;
			}
		}

	}
	.nav-menus {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		width: $layout-nav-width + 10px;
		padding: 25px 10px 120px 0;
		box-sizing: border-box;
	}
	ul.menu {
		font-size: 16px;
		width: $layout-nav-width;
 		max-height: 0px;
				overflow: hidden;
				@include transition(max-height ease-out 0.3s);

		&.open {
			max-height: 2000px;
		}

		li {
			position: relative;
			border-left: 8px solid transparent;
			margin: 0 0 10px;
			@include transition(all 0.3s);

			a {
				position: relative;
				display: block;
				padding: 0 0 0 46px;
				line-height: $layout-nav-link-height;
				font-size: 14px;
				font-family: $font-pn-regular;
				color: $color-slate;
				background-color: transparent;

				&:hover {
					text-decoration: none;
				}
			}
			&:hover {
				background-color: rgba($color-white, 0.5);
				text-decoration: none;
			}
			[class^="icon-"], [class*=" icon-"] {
				position: absolute;
				left: 5px;
				top: 13px;
				font-size: 18px;
			}
		}
	}
	.copyright {
		$gradient-height: 3px;

		position: fixed;
		bottom: 0;
		left: 0;
		width: $layout-nav-width - 10px;
		box-sizing: border-box;
		padding: (20px - $gradient-height) 10px 25px 20px;
		font-family: $font-pn-regular;
		font-size: 10px;
		line-height: 1.3em;
		background: $color-timberwolf;
		color: $color-elephant;

		&:before {
			content: '';
			position: absolute;;
			left: 0;
			top: -$gradient-height;
			height: $gradient-height;
			width: $layout-nav-width - 10px;
			@include gradient-vertical(transparent, $color-timberwolf);
		}
	}
}
#content {
	z-index: index($layout-zindex-order, 'content');
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	top: $layout-header-height;
	right: 0;
	bottom: 0;
	left: $layout-nav-width + 1px;
	background-color: $color-white;
	padding: 25px 40px 40px 40px;
	border-top: 1px solid $color-white;

	.detail-primary-buttons {
		position: fixed;
		z-index: index($layout-zindex-order, 'page-detail-buttons');
		bottom: 0px;
		left: 241px;
		right: 30px;
		top: auto;
		padding: 15px 0;
		text-align: right;
		background: rgba($color-white, 0.9);
		border-top: 1px solid $color-input-border;

		@include chrome-fixed-positioning-bug-hack;
	}
}
#page-messages {
	position: fixed;
	z-index: index($layout-zindex-order, 'page-messages');
	top: $layout-header-height;
	left: $layout-nav-width;
	right: 0;
	color: $color-white;
	padding: 0;
	border-bottom: 1px solid $color-white;

	&.full {
		left: 0;
	}
	&.inline {
		position: relative;
		margin: 0 -40px 0 -40px;
		top: auto;
		left: auto;
		right: auto;
		z-index: -1;
	}
	.text {
		position: relative;
		margin-top: -100px;
		padding: 10px 40px;
		@include transition(margin-top ease-out 0.1s);
	}
	.close {
		$size: 16px;

		position: absolute;
		top: 12px;
		right: 10px;
		color: rgba($color-white, 0.7);
		line-height: 1em;

		&:after {
			font-size: 20px;
			content: '\78';
			font-family: 'iconfont';
		}
		&:hover {
			text-decoration: none;
		}
	}
	.message {
		position: relative;
		overflow: hidden;
		padding: 10px 50px 11px 40px;
		border-bottom: 1px solid rgba($color-black, 0.1);
		font-size: 14px;
		line-height: 1.3;
		@include animation(fade-in 0.7s);

		input[type=button] {
			$height: 24px;

			height: $height;
			line-height: $height - 1;
			margin: 0 0 0 17px;
			border: none;
		}
		&.warning {
			background-color: $color-critical-red;

			input[type=button] {
				color: $color-critical-red;
			}
		}
		&.success {
			background-color: $color-success;

			input[type=button] {
				color: $color-success;
			}
		}
		&.notice {
			background-color: $color-warning-yellow;
			color: $color-warning-text;

			.close {
				color: $color-warning-text;
			}
			input[type=button] {
				color: $color-warning-yellow;
			}

		}
	}
	.show {
		.text {
			margin-top: 0px;
			border-bottom: 1px solid rgba($color-black, 0.1);
			@include transition(margin-top 0.2s);
		}
	}
}


// REUSABLE PAGE STYLES ----------------------------------------------------------------------------

.page-title {
	font-size: 24px;
	font-family: $font-pn-regular;
	color: $color-slate;
	margin: 0 0 30px 0;

	.page-subtitle {
		margin: 5px 0 0 0;
		font-size: 14px;
		display: block;
		color: $color-elephant;
	}
}
.page-section {
	margin: 0 0 40px 25px;

	.page-section-title {
		margin: 0 0 25px 0;
		padding: 0 0 5px 0;
		border-bottom: 1px solid $color-rabbit-fur;
		font-size: 15px;
		line-height: 1em;
		font-family: $font-pn-semibold;
		color: $color-blue-grey;
		text-transform: uppercase;
	}
	.page-section-content {
		margin: 0 0 40px 25px;
	}
}
.page-section-data-title {
	font-size: 14px;
	text-transform: uppercase;
	color: $color-elephant;
	margin: 0 0 5px 0;
}
.page-section-data {
	display: table;
	margin: 0 0 30px 0;

	.data-item {
		display: table-row;

		.data-item-label, .data-item-value {
			display: table-cell;
			padding-top: 5px;
			padding-bottom: 5px;
			font-family: $font-pn-regular;
			line-height: 1em;
		}
		.data-item-label {
			font-size: 13px;
			text-transform: uppercase;
			padding-right: 20px;
			color: $color-elephant;

			&:after {
				content: ':';
			}
		}
		.data-item-value {
			font-size: 14px;
			color: $color-midnight;
		}
	}
}
.page-section-data-divider {
	background: none;
	border-style: dotted;
	border-width: 1px 0 0 0;
	border-color: $color-rabbit-fur;
	margin: -25px 0 5px 0;
}
.content-controls {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	text-align: right;
	background: rgba($color-white, 0.5);
	border-top: 1px solid silver;
}




.content-columns {
	@function get-width($divisions){
  		@return calc(#{to-fixed(percentage(1 / $divisions))} - #{to-fixed(($column-margin * ($divisions - 1)) / $divisions)});
	}
	@function get-width-nopad($divisions){
  		@return #{to-fixed(percentage(1 / $divisions))};
	}

	$column-margin: 40px;
	@include clearfix;

	.content-column {
		float: left;
		box-sizing: border-box;
		margin: 0 40px 0 0;

		&:last-of-type {
			margin: 0;
		}
	}
	&.columns-1 {
		.content-column {
			float: none;
			width: 100%;
		}
	}
	&.columns-2 {
		.content-column {
			width: get-width(2);
		}
	}
	&.columns-3 {
		.content-column {
			width: get-width(3);
		}
	}
	&.columns-4 {
		.content-column {
			width: get-width(4);
		}
	}
	&.columns-5 {
		.content-column {
			width: get-width(5);
		}
	}
	&.columns-nopad {
		.content-column {
			margin: 0;
		}
		&.columns-2 {
			.content-column {
				width: get-width-nopad(2);
			}
		}
		&.columns-3 {
			.content-column {
				width: get-width-nopad(3);
			}
		}
		&.columns-4 {
			.content-column {
				width: get-width-nopad(4);
			}
		}
		&.columns-5 {
			.content-column {
				width: get-width-nopad(5);
			}
		}
	}
}



// DEPRICATED OR SITE-SPECIFIC STYLES --------------------------------------------------------------

.inlineForm {
	display: inline-block;
}
.inline-alert {
	position: relative;
	background: #FEDBA3;
	margin: 30px 0;
	padding: 15px 15px 15px 55px;
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.1);

	&:before {
		content: '!';
		font-family: $icon-font;
		position: absolute;
		left: 20px;
		top: 15px;
		font-size: 20px;
	}
	.title {
		margin: 0 0 5px 0;
	}
	&.reversed {
		background: transparent;
		border: none;
		color: map-get($colors, 'warning-text');
	}
}
#header {
	.nav {
		position: absolute;
		right: 4px;
		top: 15px;
		font-size: 24px;

		li {
			float:left;
			a {
				display: inline-block;
				vertical-align: middle;
				padding: 6px 20px 3px 20px;
				border-right: 1px solid rgba($color-white, 0.2);

				&:hover {
					text-decoration: none;
					color: $color-white;
				}
			}
			&:last-child {
				a {
					border-right: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
#nav {
	$nav-border-width: 1px;
	$selected-border-width: 1px;
	$selected-arrow-offset: -(ceil($layout-nav-link-height/3) + $nav-border-width) + 1;
	$selected-arrow-width-w: ceil($layout-nav-link-height/2) + $selected-border-width;
	$selected-arrow-width-h: ceil($selected-arrow-width-w/3) - $selected-border-width;

	ul.menu {
		li {
			a {
				span {
					display: inline-block;
					margin: 0 10px;
				}
			}
			&.selected, &.active {
				background-color: $color-rabbit-fur;
				border-left-color: $color-active;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					border-width: $selected-arrow-width-w $selected-arrow-width-h;
					border-style: solid;
					z-index: 1;
					border-color: transparent transparent transparent $color-rabbit-fur;
					right: $selected-arrow-offset;
				}

				a {
					color: $color-slate;
					background-color: $color-white;
					cursor: default;

					&:before, &:after {
						content: '';
						display: block;
						position: absolute;
					}
					&:before {
						width:4px;
						background-color: $color-white;
						top: 0;
						bottom: 0;
						right: -($nav-border-width + $selected-border-width);
						@include border-radius(1px);
					}
					&:after {
						top: 1px;
						border-width: ($selected-arrow-width-w - 2px) ($selected-arrow-width-h - 1px);
						border-style: solid;
						z-index: 2;
						border-color: transparent transparent transparent $color-white;
						right: $selected-arrow-offset + 1px;
					}
				}
			}
		}
	}
}

.content-col-of-2, .content-col-of-3, .content-col-of-4, .content-col-of-5 {
	float: left;

	.input-row {
		margin-right: 15px;
	}
}
.content-col-of-2 {
	max-width: 50%;

	&.maximize {
		max-width: none;
		width: 50%;
	}
}
.content-col-of-3 {
	max-width: 33.3%;

	&.maximize {
		max-width: none;
		width: 33.3%;
	}
}
.content-col-of-4 {
	max-width: 25%;

	&.maximize {
		max-width: none;
		width: 25%;
	}
}
.content-col-of-5{
	max-width: 20%;

	&.maximize {
		max-width: none;
		width: 20%;
	}
}

.submit {
	width: 100%;
	clear: both;
	margin-top: 20px;
	padding: 0 0 10px 0;
	text-align: right;

	input[type=button] {
		&:last-of-type {
			margin-right: 0;
		}
	}
	.saving {
		line-height: 36px;
    	height: 36px;
		width: 50px;
		bottom: 30px;
		right: 27px;

		&.icon-ellipsis {
			background-image: none;
		}
	}
}
a {
	&.back-link {
		display: block;
		margin: 30px 0;
	}
	&.no-break {
		white-space: nowrap;
	}
}

.search-bar {
  .filter-by {
    font-size:12px;
    padding-top: 16px;
    display: inline-block;
    padding-left: 40px;
	  color: $color-slate;
    cursor: pointer;
    user-select:none;
    position:relative;

		&:before {
			font-family: $icon-font;
			content: 'Y';
      position:absolute;
      left:16px;
      top:5px;
      font-size:0.5em;
      padding-right:5px;
	    @include transition(all ease-out 0.3s);
    }
  }
  .input-text {
    margin: 0;
  }
  .filters {
    padding-top:10px;
    max-height: 0px;
	  @include transition(max-height ease-out 0.3s);
    overflow: hidden;
  }

  &.expanded {
    .filter-by {
	    &:before {
				@include rotate(-180deg);
      }
    }
    .filters {
      max-height:133px;
    }
  }

}
