$layout-header-height: 46px;
$layout-nav-width: 190px;
$layout-nav-link-height: 47px; // works better as odd number
$layout-nav-width-offset: 15px;



// CORE PAGE LAYOUT STYLES -------------------------------------------------------------------------
#header {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $layout-header-height;
	background-color: $color-walrus;

	.logo {
		$logo-env-hgt: 52px;
		$logo-env-wdt: 300px;
		$logo-env-pad: 5px;

		height: $logo-env-hgt;
		width: $logo-env-wdt;

		position: absolute;
		top: 0;
		left: 20px;
		background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg width="52px" height="52px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Ping Logo</title><desc>Ping Identity</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Ping-Logo"><polygon id="Fill-6" fill="%23E31E3D" points="0 0 52 0 52 52 0 52"></polygon><path d="M32.928,44.735 C32.507,44.735 32.164,45.098 32.164,45.543 C32.164,45.989 32.507,46.351 32.928,46.351 C33.349,46.351 33.692,45.989 33.692,45.543 C33.692,45.098 33.349,44.735 32.928,44.735 L32.928,44.735 Z M32.928,46.195 C32.608,46.195 32.35,45.921 32.35,45.543 C32.35,45.165 32.608,44.892 32.928,44.892 C33.248,44.892 33.506,45.165 33.506,45.543 C33.506,45.921 33.248,46.195 32.928,46.195 L32.928,46.195 Z" id="Fill-7" fill="%23FFFFFF"></path><path d="M33.275,45.351 C33.275,45.158 33.163,45.082 32.955,45.082 L32.633,45.082 L32.633,45.998 L32.795,45.998 L32.795,45.604 L32.891,45.604 L33.116,45.998 L33.281,45.998 L33.049,45.597 C33.19,45.583 33.275,45.507 33.275,45.351 L33.275,45.351 Z M32.795,45.474 L32.795,45.211 L32.938,45.211 C33.021,45.211 33.114,45.229 33.114,45.336 C33.114,45.46 33.032,45.474 32.936,45.474 L32.795,45.474 L32.795,45.474 Z" id="Fill-8" fill="%23FFFFFF"></path><path d="M30.895,44.46 C30.772,44.916 30.577,45.627 30.577,45.627 L30.556,45.627 C30.556,45.627 30.402,44.771 30.248,44.248 L29.2,40.658 L28.408,40.947 L29.508,44.415 C29.683,44.971 29.96,46.049 30.021,46.405 C30.02,46.405 30.068,46.595 30.149,47.032 C29.931,47.634 29.669,47.881 29.169,48.05 L29.405,48.639 C30.299,48.406 30.71,47.672 31.06,46.56 L32.816,40.825 L31.901,40.825 L30.895,44.46" id="Fill-9" fill="%23FFFFFF"></path><path d="M27.885,41.481 L28.132,40.825 L26.848,40.825 L26.848,38.728 L26.025,38.728 L26.025,40.825 L25.358,40.825 L25.358,41.481 L26.026,41.481 L26.026,45.282 C26.026,45.838 26.159,46.194 26.518,46.383 C26.713,46.483 26.919,46.538 27.186,46.538 C27.545,46.538 27.833,46.46 28.09,46.316 L27.977,45.76 C27.833,45.838 27.7,45.872 27.474,45.872 C26.97,45.872 26.816,45.66 26.816,45.049 L26.816,41.481 L27.885,41.481" id="Fill-10" fill="%23FFFFFF"></path><path d="M21.842,40.825 L21.842,38.728 L21.02,38.728 L21.02,40.825 L20.352,40.825 L20.352,41.481 L21.02,41.481 L21.02,45.282 C21.02,45.838 21.153,46.194 21.513,46.383 C21.708,46.483 21.914,46.538 22.18,46.538 C22.539,46.538 22.828,46.46 23.085,46.316 L22.972,45.76 C22.828,45.838 22.695,45.872 22.468,45.872 C21.965,45.872 21.811,45.66 21.811,45.049 L21.811,41.481 L24.03,41.481 L24.03,46.361 L24.861,46.361 L24.861,40.703 L24.159,40.825 L21.842,40.825" id="Fill-11" fill="%23FFFFFF"></path><path d="M18.492,40.703 C17.947,40.703 17.413,40.981 16.88,41.559 C16.88,41.103 16.694,40.692 16.694,40.692 L15.914,40.925 C15.914,40.925 16.109,41.303 16.109,42.093 L16.109,46.361 L16.89,46.361 L16.89,42.237 C17.26,41.815 17.896,41.459 18.308,41.459 C18.544,41.459 18.76,41.548 18.872,41.692 C19.016,41.881 19.058,42.025 19.058,42.615 L19.058,46.361 L19.87,46.361 L19.87,42.159 C19.87,41.936 19.828,41.714 19.746,41.515 C19.54,41.026 19.047,40.703 18.492,40.703" id="Fill-12" fill="%23FFFFFF"></path><path d="M15.482,43.737 L15.482,43.615 C15.462,42.293 15.338,41.77 14.897,41.281 C14.547,40.892 14.065,40.681 13.509,40.681 C12.893,40.681 12.39,40.925 11.979,41.448 C11.547,42.004 11.363,42.604 11.363,43.538 C11.363,45.372 12.215,46.483 13.633,46.483 C14.291,46.483 14.907,46.238 15.359,45.794 L15.05,45.237 C14.691,45.594 14.291,45.76 13.797,45.76 C13.283,45.76 12.811,45.56 12.523,45.082 C12.348,44.794 12.287,44.394 12.287,43.871 L12.287,43.737 L15.482,43.737 L15.482,43.737 Z M13.469,41.359 C13.859,41.359 14.218,41.548 14.393,41.847 C14.547,42.115 14.62,42.481 14.629,43.081 L12.287,43.081 C12.328,41.936 12.739,41.359 13.469,41.359 L13.469,41.359 Z" id="Fill-13" fill="%23FFFFFF"></path><path d="M10.797,44.571 L10.797,38.728 L9.996,38.728 L9.996,40.57 C9.996,40.97 10.006,41.426 10.006,41.426 C9.698,40.981 9.194,40.726 8.619,40.726 C8.25,40.726 7.962,40.825 7.633,41.07 C6.934,41.592 6.575,42.459 6.575,43.637 C6.575,45.404 7.336,46.438 8.66,46.438 C9.257,46.438 9.647,46.249 10.016,45.794 C10.026,46.082 10.129,46.361 10.129,46.361 L10.952,46.361 C10.838,46.038 10.797,45.527 10.797,44.571 L10.797,44.571 Z M9.986,44.949 C9.986,44.949 9.893,45.182 9.677,45.349 C9.348,45.604 9.112,45.705 8.691,45.705 C8.218,45.705 7.9,45.516 7.664,45.06 C7.499,44.738 7.458,44.26 7.458,43.615 C7.458,42.837 7.54,42.437 7.787,42.015 C8.003,41.637 8.342,41.437 8.743,41.437 C9.348,41.437 9.729,41.626 9.986,42.015 L9.986,44.949 L9.986,44.949 Z" id="Fill-14" fill="%23FFFFFF"></path><polygon id="Fill-15" fill="%23FFFFFF" points="5.342 38.736 6.164 38.736 6.164 46.36 5.342 46.36"></polygon><path d="M14.391,21.106 C13.452,20.545 12.585,20.24 9.745,20.24 L5.342,20.24 L5.342,37.944 L8.711,37.944 L8.711,31.422 L10.564,31.422 C12.416,31.422 13.139,31.219 13.909,30.837 C15.738,29.919 16.795,28.035 16.795,25.692 C16.795,23.653 15.954,22.023 14.391,21.106 L14.391,21.106 Z M12.705,27.601 C12.249,28.34 11.839,28.519 10.468,28.519 L8.711,28.519 L8.711,23.118 L10.852,23.118 C12.272,23.118 13.114,24.112 13.114,25.767 C13.114,26.608 12.995,27.119 12.705,27.601 L12.705,27.601 Z" id="Fill-16" fill="%23FFFFFF"></path><path d="M21.538,21.309 C21.538,22.481 20.647,23.424 19.539,23.424 C18.458,23.424 17.567,22.481 17.567,21.309 C17.567,20.138 18.482,19.195 19.588,19.195 C20.672,19.195 21.538,20.138 21.538,21.309 L21.538,21.309 Z M21.152,24.594 L21.152,37.944 L17.929,37.944 L17.929,25.13 L21.152,24.594 L21.152,24.594 Z" id="Fill-17" fill="%23FFFFFF"></path><path d="M25.507,24.571 C25.797,25.106 25.966,25.666 25.966,26.2 C26.447,25.843 26.856,25.537 27.386,25.232 C28.035,24.876 28.878,24.673 29.6,24.673 C30.972,24.673 32.175,25.436 32.56,26.558 C32.728,27.041 32.8,27.601 32.8,28.416 L32.8,37.944 L29.622,37.944 L29.622,29.461 C29.622,27.984 29.383,27.552 28.54,27.552 C27.892,27.552 27.05,28.01 26.304,28.722 L26.304,37.944 L23.078,37.944 L23.078,28.492 C23.078,27.372 22.933,26.302 22.645,25.436 L25.507,24.571" id="Fill-18" fill="%23FFFFFF"></path><path d="M40.431,34.607 L38.697,34.581 C38.359,34.581 38.168,34.453 38.168,34.275 C38.168,33.919 38.625,33.614 39.442,33.205 C39.683,33.231 39.779,33.231 39.924,33.231 C42.547,33.231 44.474,31.6 44.474,29.359 C44.474,28.492 44.231,27.83 43.75,27.22 C43.942,27.246 44.28,27.296 44.593,27.296 C45.484,27.296 46.157,27.015 46.855,26.327 L45.508,24.162 C44.761,24.876 43.847,25.284 42.956,25.284 C42.547,25.284 42.113,25.181 41.44,25.003 C40.549,24.774 39.924,24.673 39.226,24.673 C36.074,24.673 34.028,26.404 34.028,29.079 C34.028,31.015 34.894,32.212 36.675,32.697 C34.653,33.256 34.413,34.047 34.413,34.887 C34.413,35.779 34.773,36.364 35.351,36.593 C35.93,36.849 36.868,36.974 38.311,37.001 L39.683,37.026 C40.96,37.052 41.945,37.409 41.945,38.58 C41.945,39.115 41.633,39.599 41.151,39.904 C40.647,40.237 39.948,40.336 39.131,40.336 C37.639,40.336 36.819,39.777 36.819,38.732 C36.819,38.376 36.844,38.199 36.964,37.893 L33.98,37.893 C33.859,38.147 33.692,38.504 33.692,39.218 C33.692,40.107 34.028,40.873 34.702,41.535 C35.808,42.631 37.614,42.936 39.37,42.936 C41.295,42.936 43.15,42.478 44.231,41.255 C44.906,40.491 45.219,39.651 45.219,38.555 C45.219,37.383 44.882,36.492 44.16,35.779 C43.293,34.937 42.306,34.632 40.431,34.607 L40.431,34.607 Z M37.277,29.105 C37.277,27.882 37.974,27.168 39.202,27.168 C40.431,27.168 41.151,27.882 41.151,29.105 C41.151,30.301 40.454,30.964 39.178,30.964 C38.046,30.964 37.277,30.429 37.277,29.105 L37.277,29.105 Z" id="Fill-19" fill="%23FFFFFF"></path></g></g></svg>');
		background-size: contain;
		background-repeat: no-repeat;
		background-color: transparent;

		img {
			margin: 5px 0 0 0;
			max-height: $logo-env-hgt - 2*$logo-env-pad;
			max-width: $logo-env-wdt - 2*$logo-env-pad;

			&.ping {
				margin: 0;
				max-height: none;
				max-width: none;
				height: 52px;
				width: 52px;
			}
		}
	}
	.site-logo {
		$logo-hgt: 22px;

		position: absolute;
		top: 14px;
		left: 87px;
		height: $logo-hgt;
		overflow: visible;
	}
	.site-title {
		position: absolute;
		top: 0;
		left: 86px;
		font-family: $font-pn-regular;
		font-size: 20px;
		color: $color-white;
		line-height: $layout-header-height;
	}
	.product-nav {
		$item-size: 20px;

		position: absolute;
		right: 0;
		top: 13px;
		bottom: 10px;
		left: auto;
		@include clearfix;

		> li {
			float: left;
			font-size: 20px;
			height: 20px;
			width: 55px;
			text-align: center;
			border-left: 1px solid $color-elephant;

			&:first-of-type {
				border-left: none;
			}
		}
		a {
			display: inline-block;
			color: $color-elephant;

			&:hover {
				text-decoration: none;
			}
		}
		[class^="icon-"], [class*=" icon-"] {
			display: inline-block;
			height: $item-size;
			width: $item-size;
		}
	}
	.product-menu {
		$left-pad: 20px;
		$right-pad: 5px;

		display: none;
		position: absolute;
		top: 43px;
		right: 5px;
		min-width: 190px;
		background-color: $color-white;
		border: 1px solid $color-rabbit-fur;
		padding: 10px $right-pad 10px $left-pad;
		@include border-radius(5px);
		@include animation(fade-in 0.3s);

		&.show {
			display: block;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 10px;
			right: 11px;
		}
		&:before {
			top: -21px;
			border-color: transparent transparent $color-rabbit-fur transparent;
		}
		&:after {
			top: -20px;
			border-color: transparent transparent $color-white transparent;

		}
		> li {
			padding: 1px 0;
			border-bottom: 1px solid $color-rabbit-fur;

			&:last-of-type {
				border-bottom: none;
			}

			a {
				height: 40px;
				line-height: 40px;
				padding: 5px $right-pad 0 ($left-pad + 3);
				margin: 0 -5px 0 -20px;
				font-size: 14px;
				color: $color-slate;
				display: block;
				text-align: left;
				@include text-truncate;
				@include transition(all 0.3s);

				[class^="icon-"], [class*=" icon-"] {
					display: inline-block;
					font-size: 15px;
					margin: 0 10px 0 0;
				}
				&:hover {
					text-decoration: none;
					background-color: #eee;
				}
			}
		}
	}
}
#nav {
	z-index: 0;
	position: absolute;
	top: $layout-header-height;
	bottom: 0;
	left: 0;
	width: $layout-nav-width + $layout-nav-width-offset;
	box-sizing: border-box;

	background-color: $color-timberwolf;
	border-right: $layout-nav-width-offset solid $color-white;

	.nav-section {
		padding: 16px 0 14px 0;
		border-bottom: 1px solid $color-rabbit-fur;

		&:first-of-type {
			margin-top: -15px;
		}

		&.open, &.closed {
			.title {
				&:after {
					font-family: $icon-font;
					text-transform: none;
					content: 'Y';
					font-size: 5px;
					font-weight: bold;
					display: inline-block;
					margin: 2px 0 0 10px;
					line-height: 1em;
					vertical-align: top;
					@include transition(all 0.3s);
				}
			}
		}
		&.closed {
			.title {
				&:after {
					@include rotate(0deg);
				}
			}
		}
		&.open {
			padding-bottom: 25px;

			.menu {
				max-height: 2000px;
			}
			.title {
				&:after {
					@include rotate(-180deg);
				}
			}
		}
	}
	.selected-item-arrow + .nav-section  {
		padding-top: 0;
	}
	.title {
		padding: 10px 5px 10px 17px;
		color: rgba($color-midnight, 0.55);
		font-size: 12px;
		line-height: 1em;
		text-transform: uppercase;
		font-family: $font-pn-semibold;
		cursor: pointer;

		&.narrow {
			margin-top: 5px;
		}
	}
	.selected-item {
		position: absolute;
		left: 0;
		top: -1px;
		bottom: -1px;
		width: $layout-nav-width;
		box-sizing: border-box;
		z-index: -1;
		background-color: $color-white;
		border-style: solid;
		border-color: $color-rabbit-fur;
		border-width: 1px 1px 1px 0;
		height: $layout-nav-link-height;
		overflow:hidden;
		@include transition(all 0.3s);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 8px;
			background-color: $color-active;
		}
	}
	.selected-item-arrow {
		position: absolute;
		left: 215px;
		z-index: -1;
		height: 0;
		opacity: 0;
		@include transition(all 0.3s);

		div {
			height: 0;
			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				height: 0;
				width: 10px;
			}
			&:before {
				top: 0;
				border-width: 26px 8px;
				border-style: solid;
				z-index: 2;
				border-color: transparent transparent transparent $color-rabbit-fur;
				right: 0;
			}
			&:after {
				top: 3px;
				border-width: 23px 7px;
				border-style: solid;
				z-index: 2;
				border-color: transparent transparent transparent $color-white;
				right: 2px;
			}
		}

	}
	.nav-menus {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 112px;
		overflow-x: hidden;
		overflow-y: auto;
		width: $layout-nav-width + 10px;
		padding: 15px 10px 0 0;
		box-sizing: border-box;
	}
	ul.menu {
		font-size: 16px;
		width: $layout-nav-width;
 		max-height: 0px;
		overflow: hidden;
		@include transition(max-height ease-out 0.3s);

		li {
			position: relative;
			@include transition(all 0.3s);

			a {
				position: relative;
				display: block;
				box-sizing: border-box;
				padding: 16px 20px 16px 25px;
				line-height: 1.0em;
				font-size: 14px;
				font-family: $font-pn-regular;
				color: $color-slate;
				background-color: transparent;

				&:hover {
					text-decoration: none;
				}
				span {
					display: inline-block;
					pointer-events: inherit;
				}
			}
			&:hover {
				background-color: rgba($color-white, 0.5);
				text-decoration: none;
			}
			&.highlighted {
				&:hover {
					background-color: inherit;
				}
			}
			[class^="icon-"], [class*=" icon-"] {
				position: absolute;
				left: 25px;
				top: 13px;
				font-size: 18px;
				width: 18px;
				text-align: center;
			}
			&.has-icon {
				a {
					padding-left: 56px;
				}
			}
		}
	}
	.copyright {
		position: absolute;
		bottom: 0;
		left: 0;
		width: $layout-nav-width;
		box-sizing: border-box;
		padding: 20px 10px 25px 20px;
		font-family: $font-pn-regular;
		font-size: 10px;
		line-height: 1.3em;
		color: $color-elephant;

		.pingone-logo {
			max-width: 75px;
			display: block;
			margin: 0 0 7px 0;
			fill: $color-elephant;
		}
	}
	&.scrollable {
		.copyright {
			border-top: 1px solid darken($color-timberwolf, 7%);

			&:before, &:after {
				content: '';
				position: absolute;

				left: 0;
				right: 0;

			}
			&:before {
				$gradient-height: 20px;

				z-index: 1;
				top: -$gradient-height - 1;
				height: $gradient-height;
				@include gradient-vertical(transparent, rgba($color-timberwolf, 0.9), 0%, 85%);
			}
			&:after {
				$gradient-height: 5px;

				z-index: 2;
				top: -$gradient-height - 1;
				height: $gradient-height;
				@include gradient-vertical(transparent, rgba($color-black, 0.05));
			}
		}
	}
}
#content {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	top: $layout-header-height;
	right: 0;
	bottom: 0;
	left: $layout-nav-width + 11px - $layout-nav-width-offset;
	background-color: $color-white;
	padding: 25px 40px 80px 40px;

	.detail-primary-buttons {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 241px;
		right: 30px;
		top: auto;
		padding: 15px 0;
		text-align: right;
		background: rgba($color-white, 0.9);
		border-top: 1px solid $color-input-border;

		// @include chrome-fixed-positioning-bug-hack;
	}
}
.page-messages {
	position: fixed;
	z-index: 1;
	top: $layout-header-height;
	left: $layout-nav-width + $layout-nav-width-offset;
	right: 0;
	color: $color-white;
	padding: 0;

	&.full, &.in-modal {
		left: 0;
		.message {
			padding-left: 25px;
		}
	}
	&.in-modal {
		position: absolute;
		top: 0;
		.close {
			right: 15px;
		}
	}
	&.inline {
		position: relative;
		margin: 0 -40px 0 -40px;
		top: auto;
		left: auto;
		right: auto;
		z-index: -1;
	}
	.text {
		position: relative;
		margin-top: -100px;
		padding: 10px 40px;
		@include transition(margin-top ease-out 0.1s);
	}
	.close {
		$size: 16px;

		position: absolute;
		top: 13px;
		right: 10px;
		color: rgba($color-white, 0.7);
		line-height: 1em;

		&:after {
			font-size: 20px;
			content: '\78';
			font-family: 'iconfont';
		}
		&:hover {
			text-decoration: none;
		}
	}
	.message {
		position: relative;
		overflow: hidden;
		padding: 12px 50px 9px 40px;
		border-bottom: 1px solid rgba($color-black, 0.1);
		font-size: 14px;
		line-height: 1.3;
		@include animation(fade-in 0.7s);

		input[type=button] {
			$height: 24px;

			height: $height;
			line-height: $height - 1;
			margin: 0 0 0 17px;
			border: none;
		}
		&.warning {
			background-color: $color-critical-red;

			input[type=button] {
				color: $color-critical-red;
			}
		}
		&.success {
			background-color: $color-success;

			input[type=button] {
				color: $color-success;
			}
		}
		&.notice {
			background-color: $color-warning-yellow;
			color: $color-warning-text;

			.close {
				color: $color-warning-text;
			}
			input[type=button] {
				color: $color-warning-yellow;
			}

		}
		&.feature {
			background-color: $color-active-blue;

			input[type=button] {
				color: $color-active-blue;
			}
		}
	}
	.show {
		.text {
			margin-top: 0px;
			border-bottom: 1px solid rgba($color-black, 0.1);
			@include transition(margin-top 0.2s);
		}
	}
}

.inline-message {
	position: relative;
	display: table;
	padding: 15px;
	margin: 15px 0 30px 0;
	border: 1px solid $color-rabbit-fur;
	color: $color-elephant;
	font-size: 14px;
	font-family: $font-pn-regular;
	@include border-radius(3px);

	.inline-message-icon, .inline-message-text, .inline-message-btn {
		display: table-cell;
		vertical-align: middle;
	}
	.inline-message-btn {
		margin: 0 0 0 20px;

		.input, .button, button {
			display: block;
	    	margin: 0 auto 0 15px;
		}
	}

	&.warning, &.success, &.notice, &.error {
		padding-left: 55px;

		&:before {
			position: absolute;
			left: 15px;
			font-family: $icon-font;
    		line-height: 1em;
		}
	}
	&.error {
		$icon-size: 25px;

		&:before {
			content: '!';
			top: calc(50% - #{floor($icon-size/2)});
			font-size: $icon-size;
			color: $color-critical-red;
		}
	}
	&.success {
		$icon-size: 20px;

		&:before {
			content: 'y';
			top: calc(50% - #{floor($icon-size/2)});
			font-size: $icon-size;
			color: $color-success;
		}
	}
	&.notice, &.warning {
		$icon-size: 25px;

		&:before {
			content: '!';
			top: calc(50% - #{floor($icon-size/2)});
			font-size: $icon-size;
			color: $color-warning-icon-yellow;
		}
	}
}


// REUSABLE PAGE STYLES ----------------------------------------------------------------------------

.collapsible-link {
	position: relative;
	display: inline-block;
	padding: 0 0 25px 0;
	margin-right: 15px;
	font-size: 14px;
	color: $color-active-blue;
	line-height: 1em;
	cursor: pointer;
	font-family: $font-pn-regular;

	&:hover {
		color: $color-active-blue-highlighted;
		text-decoration: underline;
		&:after {
			color: $color-active-blue-highlighted;
		}
	}
	&.left:before,
	&.right:after {
		position: absolute;
		top: 0;
		content: '\59';
		font-family: $icon-font;
		font-size: 6px;
		color: $color-active-blue;
		@include transition((all 0.3s cubic-bezier(1, 0, 1, 1)));
	}
	&.left:before {
		left: -15px;
	}
	&.right:after {
		right: -15px;
	}
	&.open {
		&.left:before,
		&.right:after {
			@include rotate(-180deg);
			@include transition((all 0.3s cubic-bezier(0, 0, 0, 1)));
		}
	}
}

.page-return-link {
	position: relative;
	display: inline-block;
	font-size: 14px;
	margin: 0 0 25px 13px;

	&:before {
		content: 'Y';
		position: absolute;
		top: -1px;
		left: -14px;
		font-size: 6px;
		font-family: $icon-font;
		@include rotate(90deg);
	}
}
.page-title {
	font-size: 24px;
	font-family: $font-pn-regular;
	color: $color-slate;
	margin: 0 0 30px 0;

	.page-subtitle {
		margin: 5px 0 0 0;
		font-size: 14px;
		display: block;
		color: $color-elephant;
	}
}
.page-controls-secondary {
	float: right;
    margin: -70px 0 0 0;

	.button, input[type=button], button, a, .input-toggle, .status {
		display: inline-block;
		vertical-align: top;
		margin: 30px 15px 0 0;
		@include transform(translateY(-50%));
	}
	.input-toggle {
		a.toggle {
			margin: 0;
			@include transform(translateY(0));
		}
	}
}
.page-section-title {
	margin: 0 0 25px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid $color-rabbit-fur;
	font-size: 15px;
	line-height: 1em;
	font-family: $font-pn-semibold;
	color: $color-blue-grey;
	text-transform: uppercase;
}
.page-section {
	margin: 0 0 40px 25px;

	.page-section-content {
		margin: 0 0 40px 25px;
	}
}
.page-section-data-title {
	font-size: 14px;
	text-transform: uppercase;
	color: $color-elephant;
	margin: 0 0 5px 0;
}
.page-section-data {
	display: table;
	margin: 0 0 30px 0;

	.data-item {
		display: table-row;

		.data-item-label, .data-item-value {
			display: table-cell;
			padding-top: 5px;
			padding-bottom: 5px;
			font-family: $font-pn-regular;
			line-height: 1em;
		}
		.data-item-label {
			font-size: 13px;
			text-transform: uppercase;
			padding-right: 20px;
			color: $color-elephant;

			&:after {
				content: ':';
			}
		}
		.data-item-value {
			font-size: 14px;
			color: $color-midnight;
		}
	}
}
.page-section-data-divider {
	background: none;
	border-style: dotted;
	border-width: 1px 0 0 0;
	border-color: $color-rabbit-fur;
	margin: -25px 0 5px 0;
}
.page-controls-primary {
	box-sizing: border-box;
	position: fixed;
	z-index: 1;
	left: $layout-nav-width + 40px;
	right: 40px;
	bottom: 0;
	padding: 20px 0;
	text-align: right;
	background: rgba($color-white, 0.9);
	border-top: 1px solid silver;

	@include transition(all 0.2s);

	&.hidden {
		@include transform(translateY(100%));
	}
	input[type=button], button, .button {
		margin: 0;

		& ~ input[type=button], & ~ button, & ~ .button {
			margin-left: 10px;
		}
	}
}




.content-columns {
	@function get-width($divisions){
  		@return calc(#{to-fixed(percentage(1 / $divisions))} - #{to-fixed(($column-margin * ($divisions - 1)) / $divisions)});
	}
	@function get-width-nopad($divisions){
  		@return #{to-fixed(percentage(1 / $divisions))};
	}

	$column-margin: 40px;
	@include clearfix;

	.content-column {
		float: left;
		box-sizing: border-box;
		margin: 0 40px 0 0;

		&:last-of-type {
			margin: 0;
		}
	}
	&.columns-1 {
		.content-column {
			float: none;
			width: 100%;
		}
	}
	&.columns-2 {
		.content-column {
			width: get-width(2);
		}
	}
	&.columns-3 {
		.content-column {
			width: get-width(3);
		}
	}
	&.columns-4 {
		.content-column {
			width: get-width(4);
		}
	}
	&.columns-5 {
		.content-column {
			width: get-width(5);
		}
	}
	&.columns-nopad {
		.content-column {
			margin: 0;
		}
		&.columns-2 {
			.content-column {
				width: get-width-nopad(2);
			}
		}
		&.columns-3 {
			.content-column {
				width: get-width-nopad(3);
			}
		}
		&.columns-4 {
			.content-column {
				width: get-width-nopad(4);
			}
		}
		&.columns-5 {
			.content-column {
				width: get-width-nopad(5);
			}
		}
	}
}



// DEPRECATED OR SITE-SPECIFIC STYLES --------------------------------------------------------------

.inlineForm {
	display: inline-block;
}
.inline-alert {
	position: relative;
	background: #FEDBA3;
	margin: 30px 0;
	padding: 15px 15px 15px 55px;
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.1);

	&:before {
		content: '!';
		font-family: $icon-font;
		position: absolute;
		left: 20px;
		top: 15px;
		font-size: 20px;
	}
	.title {
		margin: 0 0 5px 0;
	}
	&.reversed {
		background: transparent;
		border: none;
		color: map-get($colors, 'warning-text');
	}
}
#header {
	.nav {
		position: absolute;
		right: 4px;
		top: 15px;
		font-size: 24px;

		li {
			float:left;
			a {
				display: inline-block;
				vertical-align: middle;
				padding: 6px 20px 3px 20px;
				border-right: 1px solid rgba($color-white, 0.2);

				&:hover {
					text-decoration: none;
					color: $color-white;
				}
			}
			&:last-child {
				a {
					border-right: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.content-col-of-2, .content-col-of-3, .content-col-of-4, .content-col-of-5 {
	float: left;

	.input-row {
		margin-right: 15px;
	}
}
.content-col-of-2 {
	max-width: 50%;

	&.maximize {
		max-width: none;
		width: 50%;
	}
}
.content-col-of-3 {
	max-width: 33.3%;

	&.maximize {
		max-width: none;
		width: 33.3%;
	}
}
.content-col-of-4 {
	max-width: 25%;

	&.maximize {
		max-width: none;
		width: 25%;
	}
}
.content-col-of-5{
	max-width: 20%;

	&.maximize {
		max-width: none;
		width: 20%;
	}
}

.submit {
	width: 100%;
	clear: both;
	margin-top: 20px;
	padding: 0 0 10px 0;
	text-align: right;

	input[type=button] {
		&:last-of-type {
			margin-right: 0;
		}
	}
	.saving {
		line-height: 36px;
    	height: 36px;
		width: 50px;
		bottom: 30px;
		right: 27px;

		&.icon-ellipsis {
			background-image: none;
		}
	}
}
a {
	&.back-link {
		display: block;
		margin: 30px 0;
	}
	&.no-break {
		white-space: nowrap;
	}
}

.search-bar {
	$animation-timing: ease-out 0.2s;

	.filter-by {
		font-size:12px;
		padding-top: 11px;
		display: inline-block;
		padding-left: 40px;
		color: $color-slate;
		cursor: pointer;
		user-select: none;
		position: relative;

		&:before {
			font-family: $icon-font;
			content: 'Y';
			position:absolute;
			left: 20px;
			top: 10px;
			font-size:0.5em;
			padding-right:5px;
			@include transition(all $animation-timing);
		}
	}
	.input-text {
		margin: 0;
	}
	.filters {
		display: none;
		padding-top:10px;
		max-height: 0px;
		@include transition(max-height $animation-timing);
	}
	.add-modal {
		display: inline;
		float: right;
	}

	&.expanded {
		.filter-by {
			&:before {
				@include rotate(-180deg);
			}
		}
		.filters {
			display: block;
			max-height:133px;
			@include animation(fade-in $animation-timing);
		}
	}
}
