
@-webkit-keyframes rotation {
    0% {
        @include transform(rotate(360deg));
    }
    100% {
        @include transform(rotate(0deg));
    }
}

@-moz-keyframes rotation {
    0% {
        @include transform(rotate(360deg));
    }
    100% {
        @include transform(rotate(0deg));
    }
}

@-o-keyframes rotation {
    0% {
        @include transform(rotate(360deg));
    }
    100% {
        @include transform(rotate(0deg));
    }
}

@keyframes rotation {
    0% {
        @include transform(rotate(360deg));
    }
    100% {
        @include transform(rotate(0deg));
    }
}

@mixin spinnerOuterCss($size) {
    box-sizing: border-box;

    display: inline-block;
    position: relative;
    color: transparent;
    font-size: 1px;
    vertical-align: bottom;

    width: $size;
    height: $size;

    border-style: solid;
    border-radius: $size;
    border-color: $color-neutral-90;
}

@mixin spinnerInnerCss($size) {
    position: absolute;
    box-sizing: border-box;

    width: $size - 2;
    height: $size - 2;

    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;

    border-style: solid;
    border-radius: $size;

    @include animation (rotation 0.8s infinite linear);
}

.spinner {
    $size: 25px;
    $border-width: 5px;

    @include spinnerOuterCss($size);

    border-width: $border-width;

    &__inner {
        top: -#{$border-width - 1};
        left: -#{$border-width - 1};
        border-width: $border-width - 2;
        border-top-color: $color-neutral-50;

        @include spinnerInnerCss($size);
    }

    &__box {
        text-align: center;
        transform: translateX(-50%);
        margin-left: 50%;
        max-width: 310px;
    }

    &__page {
        $size: 75px;
        $border-width: 9px;

        @include spinnerOuterCss($size);

        border-width: $border-width;

        .spinner__inner {
            position: relative;

            top: -#{$border-width - 1};
            left: -#{$border-width - 1};
            border-width: $border-width - 2;
            border-top-color: $color-active-blue;

            @include spinnerInnerCss($size);

            &:before,
            &:after {
                content: '';
                top: 2px;
                height: $border-width - 2;
                width: $border-width - 2;
                border-radius: $border-width - 2;
                position: absolute;
                background-color: $color-active-blue;
            }
            &:before {
                left: 3px;
                background-color: $color-active-blue;
            }
            &:after {
                left: 49px;
                background-color: $color-active-blue;
            }
        }
    }

    &__text {
        display: inline-block;
        margin-top: 15px;
        padding: $spacing-sm $spacing-lg;
        border-radius: 40px;
        line-height: 1.2em;
        font-size: 20px;
        text-align: center;
        color: $color-strong-neutral-10;
        background-color: rgba($color-white, 0.6);
    }

    &.large {
        $size: 40px;
        $border-width: 7px;

        @include spinnerOuterCss($size);

        border-width: $border-width;

        .spinner__inner {
            top: -#{$border-width - 1};
            left: -#{$border-width - 1};
            border-width: $border-width - 2;
            border-top-color: $color-neutral-50;

            @include spinnerInnerCss($size);
        }
    }
}


.icon-ellipsis {
    $color: rgba($color-walrus, 0.6);
    $size: 7px;
    $spacing: 7px;
    $timing: 1s ease-out infinite;

    position: relative;
    display: inline-block;

    > span,
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: $size;
        width: $size;
        background-color: $color;
        opacity: 0;

        @include border-radius(ceil($size/2));
    }

    span {
        left: 0;

        @include animation(pulse-1 $timing);
    }
    &:before {
        left: $size + $spacing;

        @include animation(pulse-2 $timing);
    }
    &:after {
        left: 2*($size + $spacing);

        @include animation(pulse-3 $timing);
    }

    @include keyframes(pulse-1) {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.6;
        }
    }

    @include keyframes(pulse-2) {
        25% {
            opacity: 0;
        }
        75% {
            opacity: 0.6;
        }
    }

    @include keyframes(pulse-3) {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0.6;
        }
    }
    &.ie9 {
        height: 7px;
        width: 36px;
        content: ('');
        background-image: url('#{$img-path}ellipsis-dark.gif');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 36px 7px;
    }
}

.ellipsis-loader-button {
    &.primary,
    &.success,
    &.cancel {
        .icon-ellipsis {
            $color: $color-white;
            > span,
            &:before,
            &:after {
                background-color: $color;
            }
            &.ie9 {
                background-image: url('#{$img-path}ellipsis.gif');
                opacity: 0.6;
            }
        }
    }
}
