.page-links {
    $size: 30px;

    text-align: center;
    color: $color-walrus;
    margin: 20px 0;

    a {
        box-sizing: border-box;
        display: inline-block;
        min-width: $size;
        height: 30px;
        margin: 2px;
        padding: 0 2px;
        font-size: 14px;
        line-height: $size;
        color: $color-walrus;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 2px;

        &:hover {
            text-decoration: none;
            color: $color-active-blue;
        }
        &.active {
            border: 1px solid $color-active-blue;
            color: $color-active-blue;
        }
        &.disabled {
            cursor: default;

            &:hover {
                color: inherit;
            }
        }
    }
    span {
        vertical-align: text-bottom;
    }

}
