// TEXT STYLE MIXINS
@mixin section-title-text {
    text-transform: uppercase;
    color: map-get($colors, 'rhino');
}

// LAYOUT STYLES MIXINS
@mixin section-spacing {
    margin: 10px 0 0 10px;
    padding: 20px 0 0 20px;
}
@mixin indent {
    padding-left: 27px;
}
@mixin top-rule {
    border-top: 1px solid map-get($colors, 'rhino');
}
@mixin bottom-rule {
    border-bottom: 1px solid map-get($colors, 'rhino');
}

// POPOVER AND MENU ITEM MIXINS
@mixin menu-item {
    display: block;
    padding: 7px 20px;
    line-height: 20px;
    &.active {
        background: map-get($colors, 'elderly');
    }
    &:hover {
        background: map-get($colors, 'elderly');
        text-decoration: none;
    }
}
@mixin popover {
    position: relative;
    display: inline-block;

    .clear {
        font-family: $icon-font;
        font-size: 10px;
        position: absolute;
        top: 22px;
        right: 26px;
        color: map-get($colors, 'elephant');
    }
    .menu {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        border: 1px solid $color-input-border;
        background: $color-white;
        z-index: 10;

        @include border-radius(3px);

        .options {
            margin: 50px 0 0 0;
            max-height: 285px;
            min-width: 202px;
            overflow: auto;
            a {
                @include menu-item;

                &:hover {
                    &:before {
                        font-family: 'iconfont';
                        content: '\2b';
                        font-size: 10px;
                        position: absolute;
                        left: 6px;
                    }
                }
            }
        }
        .hidden {
            display: none;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 10px;
            left: 15px;
        }
        &:before {
            top: -21px;
            border-color: transparent transparent $color-input-border transparent;
        }
        &:after {
            top: -20px;
            border-color: transparent transparent $color-white transparent;
        }
    }
    &.open {
        .menu {
            display: block;
        }
    }
}
.settings-sections {
    .condition-list {
        margin: 15px 0 10px;

        .condition {
            // because of the :last-child rule above, this border is no longer necessary
            border-bottom: none;

            .controls {
                position: absolute;
                top: -25px;
                right: 0px;

                span, a, label {
                    vertical-align: middle;
                    margin-left: 10px;
                    display: inline-block;
                }
                .remove, .remove-rule {
                    position: static;
                    top: auto;
                }
                .icon-delete {
                    width: 25px;
                    height: 41px;
                    background-image: none;
                    &:hover {
                        text-decoration: none;
                    }
                    &:before {
                        font-size: 18px;
                        color: map-get($colors, 'elephant');
                    }
                }
            }
        }
        .condition-title {
            margin-top: 0;
            margin-bottom: 0;
            padding: 15px 0;
            cursor: pointer;

            &.grippable {
                padding-right: 40px;
                position: relative;;

                &:after {
                    text-transform: none;
                    font-family: $icon-font;
                    position: absolute;
                    right: 10px;
                    content: "\47";
                }
                &.active {
                    padding-right: 0;

                    &:after {
                        display: none;
                    }
                }
            }
            .show-condition {
                @include transition((top ease-out 0.4s, opacity ease-out 0.1s 0.3s));
            }
            &.active {
                .condition-collapsed-controls {
                    display: none;
                }
                .show-condition {
                    @include transition((top ease-out 0.4s, opacity ease-out 0.1s 0.3s));
                    @include transform(rotate(180deg));
                }
            }
        }
    }
    .condition-collapsed-controls {
        float: right;
        &.disabled {
            font-style: italic;
        }
    }
    .map-sidebar {
        width: 35%;
        float: left;
        p {
            @extend body;
            text-transform: none;
        }
        .list-container {
            border-top: 1px solid $color-input-border;
            margin-right: 20px;
            padding: 20px 0;

            > a, > p {
                margin-left: 20px;
            }
        }
        .options {
            max-height: 330px;
            overflow: auto;
            margin-bottom: 20px;

            li {
                @extend a;
                @include menu-item;
                position: relative;
                padding-right: 60px;
                input {
                    width: 100%;
                }
                .edit {
                    display: none;
                }
                &.editing {
                    .edit {
                        display: inline;
                    }
                    .view {
                        display: none;
                    }
                }
                a.edit-btn {
                    display:none;
                    margin-left: 5px;
                    line-height: 20px;
                    height: 20px;
                    vertical-align: top;
                    &:after {
                        content: 'e';
                        text-transform: none;
                        font-size: 12px;
                        font-family: 'iconfont';
                        color: map-get($colors, 'slate');
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                a.remove {
                    display: none;
                    font-size: 10px;
                    height: 10px;
                    width: 10px;
                    line-height: 10px;
                    padding: 5px;
                    margin-right: 5px;
                    position: absolute;
                    top: 5px;
                    @include transform(-50%);
                }
                &.active, &:hover {
                    a.remove, a.edit-btn {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .geo-map {
        width: 65%;
        height: 400px;
        float: left;
    }
    .input-row.one-story {
        label {
            margin-bottom: 0;
        }
    }
}
// maps
.input-map {
    min-height: 315px;

    .col-1 {
        max-width: 40%;
        width: 35%;
        display: inline-block;
        label {
            width: 100%;
            padding-bottom: 5px;
            border-bottom: 1px solid $color-input-border;
        }
        .locations {
            margin-top: 15px;
            li {
                color: map-get($colors, 'active-blue');
                padding: 4px 20px;
                position: relative;

                .remove, .remove-rule {
                    visibility: hidden;
                    width: 15px;
                    height: 15px;
                    line-height: 15px;
                    top: 5px;
                    right: 5px;
                    font-size: 9px;
                    @include border-radius(8px);
                }
                &:hover {
                    background-color: $color-input-fill;
                    .remove, .remove-rule {
                        visibility: visible;
                    }
                }
                &.add {
                    margin-top: 20px;
                    &:before {
                        content: '+ ';
                    }
                }
            }
        }
    }
    .col-2 {
        width: 60%;
        height: auto;
        min-height: 300px;
        display: inline-block;
        padding: 5px;
        float: right;
        #location-map {
            margin-top: 15px;
            min-width: 600px;
            min-height: 300px;
        }
    }
}
.input-menu-button {
    @include popover;
    position: relative;
    display: inline-block;

    .description {
        position: absolute;
        top: 0;
        padding: 20px;
        color: map-get($colors, 'rhino');
    }
}
