.report-table {
    position: relative;
    overflow: auto;
    max-width: 100%;
    //set divs to act like table
    .table {
        display: table;
    }
    .thead {
        display: table-header-group;
    }
    .tbody {
        display: table-row-group;
    }
    .tr {
        display: table-row;
    }
    .th, .td {
        display: table-cell;
    }

    .dd-table-container {
        text-align: left;
        max-height: 600px;
        overflow: auto;
        display: inline-block;
        .table {
            border-collapse:collapse;
            overflow: hidden;
            .th {
                position:relative;
                background-color: white;
                padding: 20px 30px 10px;
                border: 1px solid $color-stone;
                text-align: left;
                &[draggable] {
                    cursor: move; /* fallback if grab cursor is unsupported */
                    cursor: grab;
                    cursor: -moz-grab;
                    cursor: -webkit-grab;
                    &:active {
                        cursor: grabbing;
                        cursor: -moz-grabbing;
                        cursor: -webkit-grabbing;
                    }
                    &:before {
                        color: default;
                        font-family: $icon-font;
                        content: '\47';
                        margin-left: -15px;
                        margin-right: 15px;
                    }
                }
                a {
                    position:relative;
                    &.ascending, &.descending {
                        &:after {
                            @include animation(all 0.2s);
                            font-size: 11px;
                            font-family: $icon-font;
                            content: '\31';
                            position: absolute;
                            margin-left: 5px;
                        }
                    }
                    &.descending {
                        &:after {
                            @include rotate(-180deg);
                        }
                    }

                }
            }
            .td {
                padding: 20px 10px 10px 30px;
                border: 1px solid $color-stone;
                border-bottom: 1px dashed $color-stone;
                border-top: none;
                min-width: 140px;
                height: 100%;
                &:first-child {
                    border-left-color: transparent;
                }
                &:last-child {
                    border-right-color: transparent;
                }

            }
            .dragging {
                opacity: 0.2;
            }
            .dd-column {
                &.drag-left {
                    border-left: 3px solid $color-active-blue;
                }
                &.drag-right {
                    border-left: 3px solid $color-active-blue;
                }
            }
        }
    }
    &.fixed-head {
        .dd-table-container {
            margin-top: 52px;
            .thead {
                position: absolute;
                top: 0;
                .tr {
                    white-space: nowrap;
                    .th {
                        box-sizing:border-box;
                    }
                }
            }
            .td {
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    &.infinite-scroll-container {
        .dd-table-container {
            max-height: none;
            .table {
                display: inline-block;
            }
            .infinite-scroll-wrapper {
                //infinite scroll element
                > div {
                    max-height: 600px;
                    overflow: auto;
                }
            }
            .batch {
                display: table;
                overflow: hidden;
                > div {
                    display: table-row-group;
                    > div {
                        display: table-row;
                        > div {
                            display: table-cell;
                        }
                    }
                }
            }
        }
    }
}
