.row-selector {
	.column-title {
		font-size: 16px;
		padding: 0 0 15px 0;
		margin: 0 0 30px 0;
		border-bottom: 1px solid #ccc;
		text-transform: uppercase;
	}
	.input-search {
		margin: 0 0 30px 0;
	}
	.rows-available, .rows-added {
		display: inline-block;
		vertical-align: top;
	}
	.rows-available {
		margin: 0 30px 0 0;
		width: 480px;
	}
	.rows-added {
		width: 320px;
	}
	.items {
		max-height: 400px;
  		overflow: auto;
	}
	.item {
		position: relative;
		background-color: map-get($colors, 'elderly');
		margin: 0 0 15px 0;
		padding: 13px 15px;
		@include grab-cursor;

		a.button {
			position: absolute;
			right: 0;
			top: 8px;
		}
		&.item-disabled {
			background: #ddd;
			cursor: default;
		}
	}
	.no-items {
		padding: 30px;
		text-align: center;
		font-size: 12px;
		border: 1px dashed #ccc;
	}
}
