.row-selector {
    height: 450px;
    &.disabled {
        @include opacity(0.4);

        .rows-available,
        .rows-added {
            pointer-events: none;

            @include user-select(none);
        }
    }
    .disable-sort {
        .drag-drop-item {
            .icon-grip {
                @include opacity(0.4);    
            }
        }
    }
    .column-title {
        font-size: 15px;
        color: $color-slate;
        padding: 0 0 10px;
        text-transform: uppercase;
    }
    // needed for specifity to override inputs
    label.search,
    .input-search {
        width: 100%;
        input[type=text] {
            width: 100%;
        }
    }
    .rows-available,
    .rows-added {
        display: inline-block;
        width: calc(50% - 20px);
        float: left;
        box-sizing: border-box;
    }
    .rows-available {
        margin: 0 20px 0 0;
        .items {
            border-top: 1px solid $color-rabbit-fur;
            border-bottom: 1px solid $color-rabbit-fur;
            .no-items {
                border: none;
            }
            .drag-drop-item {
                &:first-of-type {
                    .item {
                        border-top: none;
                    }
                }
            }
        }
    }
    .rows-added {
        .items {
            position: relative;
            padding-bottom: 50px;
        }
    }
    .items {
        max-height: 400px;
        overflow: auto;
    }
    .no-items {
        padding: 14px 0;
        margin-bottom: 4px;
        text-align: center;
        font-size: 14px;
        border: 1px dashed $color-rabbit-fur;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: $color-white;
        min-height: 50px;

        @include box-sizing(border-box);

        &.preview {
            border: 1px dotted $color-active-blue;
        }
    }
    .item {
        position: relative;
        vertical-align: middle;
        background-color: $color-white;
        border-top: 1px solid $color-rabbit-fur;
        color: $color-text;
        margin: 0;
        padding: 15px 5px;

        @include box-sizing(border-box);
        @include grab-cursor;

        .icon-grip {
            display: inline-block;
            margin-right: 20px;
            float: left;

            &:before {
                font-size: 16px;
                color: $color-stratus;
            }
        }
        .item-image,
        .item-icon,
        .item-count {
            position: absolute;
        }
        &.item-decoration {
            .name {
                margin-left: 65px;
            }
        }
        .item-image {
            background-position: center;
            top: 8px;
            left: 30px;
            width: 32px;
            height: 32px;

            @include background-size(cover);
        }
        .item-icon {
            left: 30px;
            top: 13px;
            font-size: 24px;
        }
        .item-count.count {
            top: 15px;
            left: 30px;
        }
        .name {
            font-size: 18px;
            color: $color-midnight;
            margin-left: 0;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            width: calc(100% - 65px);

            @include transition(all 0.3s);
        }
        a.button {
            position: absolute;
            right: 0;
            top: 8px;
        }
        button {
            position: absolute;
            right: 0;
            top: 10px;
            &.inline {
                &.plus,
                &.remove {
                    padding: 0;
                    right: 5px;
                    margin-right: 0;
                    &:hover {
                        border-color: $color-rhino;
                        &:before {
                            color: $color-active-blue;
                        }
                    }
                }
            }
        }
        &.preview {
            border: 1px dotted $color-active-blue;
            height: 49px;
        }
        &.item-disabled {
            background: $color-dolphin;
            cursor: default;
        }
    }
}
