
$searchbar-width: 585px;
$searchbar-link-width: 86px;
$searchbar-link-bg-color: rgba($color-accent-neutral-80, 0.5);
$searchbar-link-text-color: $color-strong-neutral-10;
$searchbar-link-text-color-hover: $searchbar-link-bg-color;
$searchbar-input-height: 38px;

.searchbar__input {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    label {
        width: $searchbar-width;
        margin: 0;
    }
}
.searchbar__input--open {
    &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: $searchbar-width;
        left: 0;
        top: $searchbar-input-height;

        @include gradient-vertical(rgba($color-accent-neutral-80, 0.55), transparent);
    }
}
.searchbar__filter-link {
    box-sizing: border-box;
    line-height: $searchbar-input-height;
    padding: 0 $spacing-md;
    margin: 0;
    vertical-align: middle;
    background-color: $searchbar-link-bg-color;
    color: $searchbar-link-text-color;
    text-align: center;

    &.collapsible-link:after { // added specificity here to override defaults
        color: $searchbar-link-text-color;
        display: inline-block;
        position: relative;
        right: auto;
        margin: 0 0 0 $spacing-xs;
    }
    &:hover {
        background-color: $searchbar-link-text-color-hover;
        color: $searchbar-link-text-color;
    }
}
.searchbar__filter-link--open,
.searchbar__filter-link--open:hover {
    background-color: $searchbar-link-bg-color;
}
.searchbar__filters {
    box-sizing: border-box;
    padding: $spacing-lg;
    background: $searchbar-link-bg-color;
}
