
.settings-sections {
    .sections-heading {
        position: relative;
        font-size: 18px;
        text-transform: uppercase;
        font-family: $font-pn-regular;
        color: map-get($colors, 'blue-grey');
        border-bottom: 2px solid map-get($colors, 'dolphin');
        padding: 0 0 5px 0;
        margin: 0 0 5px 0;

        .heading-link {
            font-size: 14px;
            text-transform: none;
            position: absolute;
            right: 0;
        }
    }
    &.multiple {
        .section {
            padding-left: 15px;
        }
    }
    .section {
        position: relative;
	    padding: 20px 0 20px 0;
		border-bottom: 1px solid map-get($colors, 'cinder-block');
		overflow: visible;
		@include transition(max-height ease-out 0.6s);

		&:last-of-type {
			border-bottom: none;
		}
        &.active {
            .icon-dropdown-arrow:before {
                @include transition((top ease-out 0.4s, opacity ease-out 0.1s 0.3s));
    			@include transform(rotate(180deg));
            }
        }
    }
    .section-title {
		text-transform: uppercase;
        font-size: 16px;
	    color: $color-gray-medium;
        font-family: $font-pn-regular;
        position: relative;

        .section-title-text {
            cursor: pointer;
        }
        &.sub-title {
            margin-top: -11px;
        }
    }
    .section-sub-title {
	    color: $color-gray-medium;
        font-size: 12px;
        font-family: $font-pn-light;
        text-transform: none;
        padding: 0 0 0 25px;
    }
    .show-section, .show-condition {
        cursor: pointer;
        font-size: 12px;
		height: 12px;
        margin: 0 5px 0 0;
        display: inline-block;
    }
    .section-container, .condition {
        padding-left: 27px;
		margin: 20px 0 0 0;
        .menu {
            height: auto;
            .options {
                a {
                    &:hover {
                        &:before {
                            content: '';
                        }
                    }
                    
                }
            }
        }
    }
    .expanded {
		max-height: 600px;
        .show-section {
            color: map-get($colors, 'elephant');
            @include transition(top ease-out 0.4s);
            @include transform(rotate(180deg));
        }
    }
    &.device-settings {
        .input-radio {
            span {
                padding-right: 0;
            }
        }
    }
    &.policy-settings {
        .section {
            border-bottom: none;
        }
    }
}

.settings-table {
	border: 1px solid #eee;
	display: inline-block;
	clear: both;

	> div {
		display: table-row;
		text-align: center;

		> div {
			display: table-cell;
			padding: 10px;
			border-bottom: 1px dotted #ddd;
			min-width: 100px;
		}
		&:last-of-type {
			> div {
				border-bottom: none;
			}
		}
		.icon-check {
			font-size: 12px;
		}

		&.headings {
			font-family: $font-pn-regular;

			> div {
				display: table-cell;
				border-bottom: 1px solid #ddd;
			}
		}
	}
	&.row-labels {
		> div {
			> div {
				&:first-of-type {
					text-align: left;
					font-family: $font-pn-regular;
					color: map-get($colors, 'slate');
				}
			}
		}
	}
}

.settings-attribute-elements {
    .settings-attribute-item {
        position: relative;
        overflow: hidden;
        max-height: 38px;
        border-bottom: 1px solid #ddd;
        margin: 20px 0 20px 15px;
        padding: 0 15px 0 15px;

        @include transition(all ease-out 0.5s);

        .settings-attribute-title {
            margin: 0 0 20px 0;
            padding: 3px 0 0 20px;
            display: block;
            text-transform: uppercase;
            color: map-get($colors, 'elephant');
            font-size: 14px;
            line-height: 1em;

            .edit-link {
                display: inline-block;
                margin: 0 0 0 20px;
                text-transform: capitalize;
            }
        }
        &.open {
            max-height: 420px;

            .settings-attribute-title {
                display: none;
            }
            .close-link {
                @include opacity(1);
            }
        }
        &:last-of-type {
            border-bottom: none;
        }
        .grip {
            position: absolute;
            top: 2px;
            left: 15px;
            @include grab-cursor;

            &:before {
                content: '\47';
                text-transform: none;
                font-size: 18px;
                font-family: 'iconfont';
                color: map-get($colors, 'stone');
            }
        }
        .close-link {
            position: absolute;
            right: 15px;
            bottom: 25px;
            @include opacity(0);
            @include transition(all ease-out 0.5s);
        }
    }
}

// CO-BRANDING, CID SETTINGS
.branding, .directory-settings {
    label {
        cursor: default;
        line-height: 22px;
        &.input-checkbox, &.input-radio {
            line-height: 20px;
            height: 20px;
            cursor: pointer;
            span {
                vertical-align: top;
                padding-right: 0;
            }
            .help-tooltip {
                left: 10px;
            }
        }
        .reset {
            text-transform: none;
            font-weight: 300;
        }
    }
    .title {
        color: $color-text;
        text-transform: uppercase;
        margin: 15px 0 10px;
        font-size: 14px;
        line-height: 1em;

        .inline {
            margin-left: 10px;
        }
        span {
            font-family: $font-pn-regular;
            font-size: 13px;
        }
        &.section {
            color: $color-gray-medium;
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 10px;
        }
    }
    &.data-group {
        margin: 0 0 30px 0;
        display: none;

        &.show {
            display: block;
        }
        .image-upload {
            margin-bottom: 20px;
            .image-types {
                top: 55px;
            }
        }
        .reset {
            padding-left: 10px;
            font-size: 14px;
            text-transform: none;
        }
        .data-cols {
            .col-1-3 {
                width: 33%;
                float: left;
            }
            .col-2-3 {
                width: 33%;
                float: left;
            }
            .col-3-3 {
                width: 33%;
                float: left;
            }
            .heading {
                width: 75%;
            }          
        }

        // SUB GROUPS
        .sub-group {
            margin-top: 10px;
            .heading {
                text-transform: uppercase;
                font-size: 14px;
                margin: 10px 0;
                padding: 10px 0;
                padding-bottom: 7px;
                border-bottom: 1px solid $color-input-border;
                font-size: 14px;
                font-weight: 600;
                color: $color-text;
            }
        }
        .section {
            margin: 20px 0 0 20px;
        }

        // TAB GROUPS
        .tab-group {
            display: none;
            min-height: 500px;
            border: 1px solid $color-input-border;
            background-color: $color-warm;
            position: relative;
            padding: 0;

            &.show {
                display: block;
                overflow: auto;
            }
            .col-1 {
                padding-left: 20px;
                float: left;
                width: 44%;
                min-height: 500px;
                padding: 20px;
                background-color: $color-white;

                .title {
                    span {
                        color: $color-text;
                        font-size: 14px;
                    }
                }
                &.logos {
                    .input-row {
                        margin-top: 25px;
                    }
                }
                .corporate {
                    height: 90px;
                }
            }
            .col-2 {
                float: right;
                width: 46%;
                padding: 20px;

                @mixin text-area-as-div {
                    background: transparent;
                    border: none;
                    outline: none;
                    resize: none !important;
                    overflow: hidden;
                    padding-top: 0;
                    color: $color-text;
                }
                &.images-preview {
                    margin: 0 auto;
                    text-align: center;
                    .details-tooltip {
                        text-align: left;
                    }
                    .image-mobile {
                        margin: 30px 0;
                        position: relative;
                        &.home {
                            display: inline-block;
                            width: 200px;
                            height: 355px;
                            margin: 30px auto;
                            background: url('#{$img-branding-path}PingIDHomePreview_default@2x.png') no-repeat 0 0;
                            background-size: cover;
                            .services {
                                position: absolute;
                                bottom: 87px;
                                left: 11px;
                                height: 28px;
                                width: 28px;
                                z-index: 1000;
                                background: url('#{$img-branding-path}PingIDHomePreview_default_logo@2x.png') no-repeat center center;
                                background-size: contain;
                            }
                        }                        
                        &.swipe {
                            display: inline-block;
                            width: 200px;
                            height: 355px;
                            margin: 30px auto;
                            background: map-get($colors, 'gray-warm-medium-light-2') url('#{$img-branding-path}SwipePreviewBase@2x.png') no-repeat center center;
                            background-size: cover;
                            background-color: map-get($colors, 'default-background');
                            &.dark {
                                background-color: rgba($color-black, 0);
                                position: absolute;
                                top: -30px;
                                left: 0px;
                            }
                            .logo {
                                position: relative;
                                min-width: 5px;
                                max-height: 25px;
                                width: auto;
                                z-index: 1000;
                                .position {
                                    position: relative;
                                    top: 15px;
                                    max-height: 20px;
                                    max-width: 100px;
                                    width: auto;
                                }
                            }
                            .services {
                                position: absolute;
                                bottom: 7px;
                                left: 8px;
                                height: 26px;
                                width: 26px;
                                z-index: 1000;
                            }
                        }
                        &.enrollment {
                            width: 340px;
                            height: 309px;
                            margin: 30px auto;
                            background: $color-input-fill url('#{$img-branding-path}EnrollmentPreviewDarkText@2x.png') no-repeat 0 0;
                            background-size: cover;
                            z-index: 2;
                            &.light {
                                background: url('#{$img-branding-path}EnrollmentPreviewLightText@2x.png') no-repeat 0 0;
                                background-size: cover;
                                .content-text, .non-app-text {
                                    color: $color-white;
                                }
                            }
                            &.dark {
                                background-color: rgba($color-black, 0);
                                position: absolute;
                                top: -30px;
                                left: 0;
                            }
                            .mobile-background {
                                position: absolute;
                                top: 88px;
                                left: 15px;
                                height: 135px;
                                width: 105px;
                                background-color: map-get($colors, 'default-background');
                                z-index: 1;
                            }
                            .logo {
                                position: absolute;
                                top: 35px;
                                left: 130px;
                                height: 15px;
                                min-width: 15px;
                                width: auto;
                                z-index: 1000;
                                img {
                                    max-height: 25px;
                                    width: auto;
                                    max-width: 150px;
                                }
                            }
                            .content-text {
                                position: absolute;
                                width: 150px;
                                height: 40px;
                                left: 135px;
                                top: 70px;
                                max-height: 40px;
                                overflow: hidden;
                                font-size: 7px;
                                line-height: 7px;
                                text-align: left;
                                @include text-area-as-div;
                            }
                            .non-app-text {
                                position: absolute;
                                width: 150px;
                                height: 15px;
                                left: 135px;
                                top: 215px;
                                max-width: 150px;
                                overflow: hidden;
                                text-decoration: underline;
                                font-size: 6px;
                                line-height: 6px;
                                text-align: left;
                            }
                            .button {
                                position: absolute;
                                top: 140px;
                                right: 28px;
                                height: 16px;
                                width: 35px;
                                z-index: 1000;
                                border: none;
                                background-color: transparent;
                                .text {
                                    position: absolute;
                                    top: 4px;
                                    right: 3px;
                                    height: 15px;
                                    line-height: 9px;
                                    width: 70px;
                                    z-index: 1001;
                                    font-size: 7px;
                                    color: $color-white;
                                }
                            }
                        }
                    }
                }
                .preview {
                    font-size: 14px;
                    position: absolute;
                    left: 500px;
                }
                .details-target.inline.button {
                    background-color: transparent;
                    margin-right: 0;
                }
                
                // MODAL OVERRIDE MIXINS
                $modal-width: 320px;
                $modal-height: 574px;
                $modal-wide-width: 600px;
                $modal-wide-height: 545px;
                @mixin width-height-margin {
                    width: $modal-width;
                    height: $modal-height;
                    margin: 0;
                }
                @mixin modal-background-size {
                    background-size: $modal-width $modal-height;
                }
                @mixin full-modal-body {
                    margin: 0;
                    padding: 0;
                    top: 0;
                    background-color: $color-white;
                    overflow: hidden;
                }
                @mixin close {
                    color: transparent;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: $modal-width;
                    height: $modal-height;
                    z-index: 10;
                    text-decoration: none;
                }
                // override modal settings for mobile previews
                #full-preview-modal {
                    width: $modal-width;
                    height: $modal-height;
                    &.show {
                        top: 15%;
                    }
                    .modal-body {
                        @include full-modal-body;
                        a.close-modal {
                            @include close;
                        }
                        .tab-group {
                            border: none;
                            &.show {
                                overflow: hidden;
                            }
                        }
                        .full {
                            @include width-height-margin;
                            .home {
                                background: url('#{$img-branding-path}PingIDHomeFullPreview_default.png') no-repeat 0 0;
                                top: 0;
                                @include modal-background-size;
                                @include width-height-margin;
                                .services {
                                    bottom: 139px;
                                    left: 17px;
                                    width: 44px;
                                    height: 44px;
                                    background: url('#{$img-branding-path}PingIDHomeFullPreview_default_logo.png') no-repeat center center;
                                    background-size: contain;
                                }
                            }
                            .swipe {
                                background: map-get($colors, 'gray-warm-medium-light-2') url('#{$img-branding-path}SwipeFullPreview.png') no-repeat center center;
                                top: 0;
                                background-size: auto $modal-height;
                                @include width-height-margin;
                                .logo {
                                    position: relative;
                                    min-width: 5px;
                                    max-height: 45px;
                                    top: 13px;
                                    width: auto;
                                    .position {
                                        position: relative;
                                        top: 13px;
                                        max-height: 35px;
                                        max-width: 150px;
                                        width: auto;
                                    }
                                }
                                .services {
                                    bottom: 10px;
                                    left: 11px;
                                    height: 46px;
                                    width: 46px;
                                }
                            }
                        }
                    }
                }
                #full-preview-wide-modal {
                    width: $modal-wide-width;
                    height: $modal-wide-height;
                    &.show {
                        top: 15%;
                    }
                    .modal-body {
                        @include full-modal-body;
                        a.close-modal {
                            @include close;
                            width: $modal-wide-width;
                            height: $modal-wide-height;
                        }
                        .tab-group {
                            border: none;
                            &.show {
                                overflow: hidden;
                            }
                        }
                        .full {
                            width: $modal-wide-width;
                            height: $modal-wide-height;
                            margin: 0;
                            .enrollment {
                                width: $modal-wide-width;
                                height: $modal-wide-height;
                                margin: 0;
                                background: url('#{$img-branding-path}EnrollmentFullPreviewDarkText.png') no-repeat center center;
                                background-size: auto $modal-wide-height;
                                top: 0;
                                z-index: 2;
                                &.light {
                                    background: url('#{$img-branding-path}EnrollmentFullPreviewLightText.png') no-repeat center center;
                                    background-size: cover;
                                    .content-text, .non-app-text {
                                        color: $color-white;
                                    }
                                }
                                .mobile-background {
                                    position: absolute;
                                    top: 121px;
                                    left: 28px;
                                    height: 307px;
                                    width: 173px;                    
                                    background-color: map-get($colors, 'default-background');
                                    z-index: 1;
                                }
                                .logo {
                                    top: 60px;
                                    left: 237px;
                                    height: 35px;
                                    min-width: 25px;
                                    img {
                                        max-height: 35px;
                                        width: auto;
                                        max-width: 150px;
                                    }
                                }
                                .content-text {
                                    position: absolute;
                                    width: 275px;
                                    height: 85px;
                                    left: 240px;
                                    top: 125px;
                                    max-height: 85px;
                                    overflow: hidden;
                                    font-size: 12px;
                                    line-height: 12px;
                                    text-align: left;
                                    @include text-area-as-div;
                                }
                                .non-app-text {
                                    position: absolute;
                                    width: 240px;
                                    height: 20px;
                                    left: 240px;
                                    top: 375px;
                                    max-width: 240px;
                                    overflow: hidden;
                                    text-decoration: underline;
                                    font-size: 8px;
                                    line-height: 8px;
                                    text-align: left;
                                }
                                .button {
                                    top: 245px;
                                    right: 45px;
                                    width: 105px;
                                    height: 27px;
                                    .text {
                                        top: 6px;
                                        right: 9px;
                                        height: 15px;
                                        line-height: 15px;
                                        width: 125px;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .info {
        margin: 0 0 10px 0;
        display: inline-block;

        label {
            display: inline-block;
            width: 150px;
            margin: 0 0 10px 0;
        }
        span {
            display: inline-block;
            width: 290px;
            max-width: 290px;
            float: right;
            text-align: left;
        }
        .success {
            color: $color-success;
        }
        span {
            display: inline-block;
        }
        &:last-of-type {
            margin: 0;
        }
        a {
            text-transform: uppercase;
        }
        &.last-of-type label {
            margin: 0;
        }
    }
    .option {
        display: none;
        width: 100%;
        &.active {
            display: inline-block;
        }
        .input-toggle {
            position: relative;
            top: 5px;
            left: 0;
            clear: both;
        }
    }
}
