$base-spacing: 10px;

$spacing-xs: $base-spacing * 0.5;
$spacing-sm: $base-spacing * 1;
$spacing-md: $base-spacing * 1.5;
$spacing-lg: $base-spacing * 2.5;
$spacing-xl: $base-spacing * 4;
$spacing-xx: $base-spacing * 6.5;
