.status {
    $meter-height: 20px;
    height: $meter-height;
    width: $meter-height;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;

    @include border-radius(10px);

    &.good {
        background-color: $color-success;
    }
    &.error {
        background-color: map-get($colors, 'critical-red');
    }
    &.warning {
        border: 5px solid map-get($colors, 'warning-yellow');
        height: $meter-height/2;
        width: $meter-height/2;
    }
}
