
table {
    &.grid {
        display: inline-block;
        border-collapse: separate;

        .grid {
            // not sure why grids display inline-block, but grids
            // within grids should display block, so they don't
            // align to the bottom
            display: block;
        }

        &.width-full {
            display: table;
            width: 100%;
            table-layout: fixed;

            $widths:
                (
                    5: 5,
                    10: 10,
                    12: 12.5,
                    15: 15,
                    20: 20,
                    25: 25,
                    30: 30,
                    33: 100/3,
                    35: 35,
                    40: 40,
                    45: 45,
                    50: 50,
                    55: 55,
                    60: 60,
                    65: 65,
                    66: 200/3,
                    70: 70,
                    75: 75,
                    80: 80,
                    85: 85,
                    87: 87.5,
                    90: 90,
                    95: 95
                );

            @each $name, $value in $widths {
                .column-#{$name}p {
                    width: $value * 1%;
                }
            }
        }
        th {
            font-size: 13px;
            color: $color-elephant;
            text-transform: uppercase;

            &.column-pg {
                padding: 0 0 0 20px;
                text-transform: none;
                font-size: 12px;
                font-weight: bold;
                line-height: 1em;
                white-space: nowrap;

                .icon-previous,
                .icon-next {
                    display: inline-block;
                    font-size: 11px;
                    vertical-align: text-top;
                }
                .icon-previous {
                    margin-right: 10px;
                }
                .icon-next {
                    margin-left: 10px;
                }
            }
            a.sort {
                position: relative;

                &:after {
                    position: absolute;
                    top: -1px;
                    right: -11px;
                    font-family: $icon-font;
                    text-transform: none;
                    content: '\7c';
                    font-size: 10px;
                    margin: 0 0 0 10px;

                }
                &.asc {
                    &:after {
                        top: -4px;
                        font-size: 4px;
                        content: '\41';
                    }
                }
                &.desc {
                    &:after {
                        top: 1px;
                        font-size: 4px;
                        content: '\2200';
                    }
                }
            }
        }
        td {
            font-size: 14px;
            color: $color-midnight;
            word-break: break-word;

            button.inline {
                &.delete {
                    margin: -5px 0;
                }
            }
            &.cell-btn {
                vertical-align: middle;
            }
            .input-width-xsmall,
            .input-width-small,
            .input-width-medium,
            .input-width-large,
            .input-width-xlarge,
            .input-width-full {
                margin-bottom: 0;
            }
            .input-text,
            .input-select,
            .input-checkbox,
            .input-radio {
                margin-bottom: 0;
            }
            .input-checkbox {
                padding: 0;
            }
        }
        th,
        td {
            padding: 9px 20px 8px 0;
            border-bottom: 1px dotted $color-rabbit-fur;
            text-align: left;
            box-sizing: border-box;
            @include font-pn-regular;
            line-height: 1.1em;
            vertical-align: baseline;

            &:last-child {
                padding-right: 0;
            }
            &.center {
                text-align: center;
            }
            &.right {
                text-align: right;
            }
            &:first-child {
                padding-left: 2px;
            }
            &:last-child {
                padding-right: 5px;
            }

            &.column-xs {
                width: 90px;
            }
            &.column-sm {
                width: 190px;
            }
            &.column-md {
                width: 290px;
            }
            &.column-lg {
                width: 390px;
            }
            &.column-xl {
                width: 490px;
            }
        }
        &--no-lines tbody {
            td,
            th {
                border-bottom: none;
                padding-bottom: $spacing-sm / 2;
            }
            tr + tr {
                td,
                th {
                    padding-top: $spacing-sm / 2;
                }
            }
        }
        &--solid-lines {
            td {
                border-bottom: 1px solid $color-rabbit-fur;
            }
        }
        tr {
            &.expanded {
                td,
                th {
                    border-bottom: none;
                }
            }
            &.expanded-content {
                td {
                    padding: 15px;

                    @include animation(fade-in 0.1s);
                }
            }
        }
        thead {
            th {
                border-bottom: 1px solid $color-rabbit-fur;
                padding: 0 20px $spacing-xs 0;
            }
        }
        tbody:first-child tr:first-child { // if there's no heading row, remove top padding from top row
            td,
            th {
                padding-top: 0;
            }
        }
        tbody tr:last-child {
            td,
            th {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

table.grid td.grid__cell {
    &--top {
        vertical-align: top;
    }
    &--middle {
        vertical-align: middle;
    }
    &--bottom {
        vertical-align: bottom;
    }
}

// DEPRECATED OR SITE-SPECIFIC STYLES ----------------------------------------------------------------------------------
table {
    &.basic {
        width: 100%;
        &.fixed {
            table-layout: fixed;
        }
        th {
            color: $color-elephant;
            text-transform: uppercase;
        }
        th,
        td {
            text-align: left;
            font-size: 14px;
            padding: 0 12px 15px 0;

            &:last-of-type {
                padding-left: 0;
            }
            &.center {
                text-align: center;
            }
        }
        label {
            vertical-align: middle;

            &.input-checkbox {
                &.no-label {
                    padding: 0;
                }
            }
            &.input-text {
                &.no-label {
                    margin-right: 10px;
                }
                &.row-item {
                    margin-right: 0;
                }
            }
        }
        thead {
            border-bottom: 1px solid $color-rabbit-fur;
        }
        tbody {
            tr {
                border-top: 1px dotted $color-rabbit-fur;
                &:first-child {
                    border-top: none;
                }
                td {
                    .input-width-xsmall,
                    .input-width-small,
                    .input-width-medium,
                    .input-width-large,
                    .input-width-xlarge,
                    .input-width-full {
                        margin-bottom: 0;
                    }
                    .icon-delete {
                        position: inherit;
                    }
                }
            }
        }
        .button {
            &.inline {
                vertical-align: middle;
            }
        }
    }
}

.table-title {
    font-size: 18px;
    margin: 30px 0 10px;
    color: $color-slate;
}

a.add-table-row {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    font-size: 14px;

    &:before {
        content: '\2b';
        position: absolute;
        left: 0;
        top: 0;
        font-size: 20px;
    }
}

.table-row-arrow {
    display: inline-flex;
    overflow: hidden;
    position: relative;
    width: 100%;

    > span {
        background-color: $color-white;
        flex-grow: 0;
        padding-right: $spacing-xs;
        z-index: $zindex__elevated;
    }

    &__line {
        &:before {
            border: 0.5px solid $color-midnight;
            content: '';
            position: absolute;
            right: 0;
            top: 7px;
            width: 100%;
        }
    }


    &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 6px solid $color-midnight;
        position: absolute;
        right: -1px;
        top: 3.5px;
    }

    & .icon-link {
        background: $color-white;
        padding: 0 $spacing-xs;
        position: absolute;
        right: 30%;
        top: 0;
        z-index: $zindex__elevated;
    }
}

table.grid--small-padding td {
    padding-right: $spacing-xs;
}

.row-tag {
    border: 0.5px $color-midnight solid;
    border-radius: 3px;
    color: $color-elephant;
    padding: 3px 3px 2px;
    text-transform: uppercase;
    white-space: nowrap;
}

.home-app {
    min-width: 70%;

    &.grid {
        display: table;
    }
}
