@import 'general/page-header';
@import 'general/formatted-content';

.content-link {
    line-height: inherit;
    a {
        &.detached {
            display: inline-block;
            padding: 10px 0 10px 5px;
        }
        &.text-first {
            position: relative;
            .count,
            [class^='icon-'],
            [class*=' icon-'] {
                position: absolute;
                right: -30px;
            }
        }
        .count {
            color: $color-neutral-20;
            margin-right: $spacing-xs;
            min-width: 14px;
            height: 14px;
            line-height: 13px;
            font-size: 10px;
            padding: 0 4px;
            vertical-align: text-top;

            @include border-radius(5px);
            &:hover {
                text-decoration: none;
            }
        }
        [class^='icon-'],
        [class*=' icon-'] {
            color: $color-blue-grey;
            display: inline-block;
            line-height: inherit;
            padding: 0 $spacing-xs 0 0;
            &:hover {
                text-decoration: none;
            }
            &:before {
                display: inline-block;
            }
        }

        &.more-on-topic {
            [class^='icon-'],
            [class*=' icon-'] {
                color: #2996cc;
            }
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.4;
        }
    }
}

.content-halign-center {
    text-align: center;
}

.textblock {
    color: $color-elephant;
    font-size: 14px;
    margin: 0 0 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.textblock--white {
    color: $color-white;
}

.textblock--primary {
    color: $color-slate;
    font-size: 15px;
}

.textblock--primary-light {
    color: $color-midnight;
    font-size: 15px;
}

.textblock--primary-white {
    color: $color-white;
    font-size: 15px;
}

.textblock--semibold {
    font-family: $font-pn-semibold;
}

.textblock--value {
    color: $color-midnight;
    font-size: 15px;
}

.pipe {
    &:before {
        content: '';
        height: 1.2em;
        width: 1px;
        margin: 0 $spacing-sm;
        display: inline-block;
        vertical-align: middle;
        background-color: $color-rabbit-fur;
    }
}

.masked-value {
    color: $color-midnight;
    font-size: 14px;

    &--masked {
        letter-spacing: 2px;
    }

    &__icon {
        color: $color-midnight;
        font-size: 11px;
        margin-left: $spacing-sm;
        vertical-align: middle;
        line-height: 11px;

        &:hover {
            text-decoration: none;
        }
    }

    &--masked &__icon {
        font-size: 20px;
    }
}

.anchor {
    &__icon {
        margin-right: $spacing-xs;
    }
}
