.content-link {
    a {
        &.detached {
            display: inline-block;
            padding: 10px 0 10px 5px;
        }
        &.text-first {
            position: relative;
            .count,
            [class^='icon-'],
            [class*=' icon-'] {
                position: absolute;
                right: -30px;
            }
        }
        .count {
            color: $color-elephant;
            &:hover {
                text-decoration: none;
            }
        }
        [class^='icon-'],
        [class*=' icon-'] {
            color: $color-elephant;
            display: inline-block;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.content-halign-center {
    text-align: center;
}

.text {
    color: $color-elephant;
    font-size: 14px;
    margin: 0 0 10px;

    &:last-child {
        margin-bottom: 0;
    }
}
.text--primary {
    color: $color-slate;
    font-size: 15px;
}

.pipe {
    &:before {
        content: "";
        height: 1.2em;
        width: 1px;
        margin: 0 $spacing-sm;
        display: inline-block;
        vertical-align: middle;
        background-color: $color-rabbit-fur;
    }
}
