
.input-integer, .form-integer-container{
    position: relative;

    &:after, a.undo{
        right: 40px;
    }
    .input-container{
        position: relative;
        display: inline-block;
        vertical-align: bottom;
    }

    .up-down-spinner{
        position: relative;;
        font-family: $icon-font;
        margin-left: -35px;
        margin-bottom: 2px;
        cursor: pointer;
        vertical-align: baseline;
        max-width: 35px;
        display: inline-block;

        button{
            height: 18px;
            padding: 0px;
            display: inline-block;
            text-decoration: none;
            font-color: inherit;
            border: none;
            background-color: transparent;
        }
    }
    [disabled], [readonly] {
        .up-down-spinner, .up-down-spinner{
            pointer-events: none;
        }
    }
}
